.TextSlider {
  &__button {
    border-radius: 50%;

    &__icon {
      &--forward {
        align-items: end;
        margin-right: 10px;
        text-align: center;
      }

      &--backward {
        align-items: end;
        margin-left: 10px;
        transform: rotate(180deg);
      }
    }
  }
}
