@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

@mixin logo-wrapper($height, $width) {
  position: relative;
  width: $height;
  height: $width;

  &::before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    content: '';
    box-shadow: inset 0 0 0 1px rgba(163, 195, 242, .19);
  }
}

.TokenPage {
  &__wallets-wrapper {
    padding: 96px 0;
    background-color: #f2f5f9;
  }

  &__wallets {
    @extend %container;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 816px;
      margin: 0 auto;

      &__section-title {
        @include section-title;

        margin: 0 auto;
        color: $c_blue-ribbon;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: #1a1a1a;
        text-align: center;
      }

      &__subtitle {
        @include base-1;

        margin-top: 16px;
        color: #3b3b3b;
        text-align: center;
      }
    }

    &__items {
      display: grid;
      margin-top: 80px;
      gap: 30px;
      grid-template-columns: repeat(3, minmax(300px, 394px));
    }

    &__item {
      height: 240px;
      padding: 32px;
      cursor: pointer;
      background-color: $c_white;
      transition: all .3s;

      &:hover {
        transform: translate(-7.2px, -8px);
        box-shadow: 7.2px 8px 0 0 $c_blue-ribbon;
      }

      &__image-wrapper {
        @include logo-wrapper(64px, 64px);
      }

      &__image {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

      &__name {
        @include h6;

        margin-top: 40px;
      }

      &__link {
        margin-top: 16px;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      color: #5c6475;

      &__icon {
        margin-right: 6px;
        fill: #5c6475;
      }
    }
  }
}
