.Glossary {
  display: grid;
  padding: 80px 99px 80px 99px;
  color: white;
  background: #0b0c0f;
  gap: 64px;
  @media  (max-width: 1024px)  {
    padding:  80px 20px 80px 20px;
    gap: 40px;
  }
}
