.Glossary {
  display: grid;
  padding: 80px 0;
  color: white;
  background: #0b0c0f;
  gap: 64px;
  justify-items: center;

  &__body {
    max-width: 1464px;
    padding: 0 32px;
  }
  @media (max-width: 1024px) {
    padding: 80px 20px 80px 20px;
    gap: 40px;
  }
  @media (max-width: 992px) {
    max-width: 1440px;

    &__body {
      padding: 0;
    }
  }
}
