@import '../../../styles/main';

.Bounties {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1242px;
    margin: auto;
    padding-bottom: 80px;
  }

  &__title {
    width: 818px;
    margin: auto;
    margin-bottom: 12px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
  }

  &__subtitle {
    width: 818px;
    margin: auto;
    margin-bottom: 64px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #5c6475;
    text-align: left;
  }

  &__showMore {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 22px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 28px;
    color: $c_blue-ribbon;
    text-align: center;
    cursor: pointer;
    background: $c_white;

    &:hover {
      color: $c_han_purple;
      background: $c_loblolly;
    }
  }

  &__bounties-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1242px;
    margin-top: 40px;
    padding: 0 10px 10px 0;
    overflow: none;

    &__card-wrapper-link {
      width: 606px;
      margin-bottom: 30px;
    }

    &__card {
      position: relative;
      width: 606px;
      height: 260px;
      margin-right: 30px;
      background-color: white;
      transition: transform .5s, box-shadow .5s, outline .2s;

      &--hoverable:hover {
        outline: 2px solid #000;
        transform: translate(-5px, -5px);
        box-shadow: 8px 8px 0 -2px #000;
      }
    }

    &__card-filters {
      display: flex;
      flex: 1;
      margin-left: 30px;
      overflow-x: hidden;
    }

    &__card-filter {
      margin-right: 16px;
      padding: 6px 8px;
      color: #5c6475;
      background-color: #f2f5f9;
    }

    &__top {
      width: 606px;
      padding: 20px 30px;
      font-family: $font-primary;
      font-size: 14px;
      line-height: 24px;
      color: $c_oslo-gray;
      background: $c_ebony-clay;
    }

    &__amount {
      font-family: $font-primary;
      font-size: 18px;
      line-height: 30px;
      color: $c_oslo-gray;

      &--amount {
        font-family: $font-primary;
        font-size: 30px;
        line-height: 30px;
        color: $c_catskill_white;
      }
    }

    &__date {
      margin-right: 16px;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.4000000059604645px;
      color: #5c6475;
    }

    &__bounty-id {
      display: grid;
      padding: 4px;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      color: #5c6475;
      background-color: #f2f5f9;
      place-items: center;
    }

    &__title {
      height: 30px;
      margin: 20px 0 8px 30px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      color: black;
    }

    &__text {
      margin-left: 30px;
      font-family: $font-secondary;
      font-size: 18px;
      line-height: 24px;
      color: #656565;
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding: 0 15px 15px 0;
    }

    &__arrow {
      margin-left: 20px;
      color: $c_blue-ribbon;
      transform: rotate(-90deg);
    }

    &__link {
      position: absolute;
      right: 15px;
      bottom: 15px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      width: 220px;
      cursor: pointer;
      background: white;
    }

    &__link-text {
      margin-right: 12px;
      margin-bottom: 5px;
      font-family: $font-primary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
    }

    &__link-arrow {
      color: $c_blue-ribbon;
      transform: rotate(-90deg) scale(.85);
    }
  }

  @media #{$screen-max-md} {
    &__content {
      width: calc(90vw);
      margin: auto;
    }

    &__bounties-carousel {
      width: calc(90vw);

      &__card-wrapper-link {
        width: calc(90vw);
        margin-bottom: 20px;
      }

      &__card {
        width: calc(90vw);
        height: 300px;
      }

      &__date {
        display: none;
      }

      &__top {
        width: calc(90vw);
      }
    }

    &__title {
      width: calc(90vw);
      padding: 0;
      padding-top: 80px;
      text-align: left;
    }

    &__subtitle {
      width: calc(90vw);
      padding: 0;
      text-align: left;
    }
  }
}
