@import '../../styles/_main';

.TestnetItem {
  @extend %smallContainer;

  margin-bottom: 20px;

  &__image-container {
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin-bottom: 32px;
  }

  &__image {
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
  }

  &__content {
    max-width: 460px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__counter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0;
  }

  &__button {
    width: 100%;
    margin-top: 60px;
  }

  @media #{$screen-md} {
    width: 100%;
    max-width: initial;

    &__image-container {
      width: 50%;
      max-width: initial;
      margin-right: 60px;
      margin-bottom: 0;
    }

    &__image {
      width: 80%;
    }

    &__container {
      width: 50%;
    }

    &__content {
      max-width: 390px;
      font-size: 20px;
      line-height: 28px;
      text-align: left;
    }

    &__wrapper {
      flex-direction: row;
    }

    &__counter {
      display: block;
      margin: 40px 0 0;
    }

    &__button {
      width: auto;
    }
  }
}
