@import '../../../styles/main';

.dashboard-joy-carousel {
  margin-top: 16px;

  &__heading {
    margin-bottom: 8px;
  }

  &__item {
    @include dashboard-widget;

    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $dashboard-base-border-color;
  }

  &__item-logo {
    display: block;
    width: 88px;
    margin-bottom: 16px;
    border: 1px solid $dashboard-base-borders-color;
    border-radius: 8px;
  }

  &__item-heading {
    @include h500;

    margin-bottom: 16px;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
  }

  &__tags-item {
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    background-color: $dashboard-widget-tags-background-color;
    border-radius: 4px;
  }

  &__tag-text {
    @include t100;

    margin-left: 6px;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__button-how-to-buy {
    @include t300;

    padding: 12px 20px;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    cursor: pointer;
    background-color: $dashboard-widget-accent-background-color;
    border: 1px solid $dashboard-base-borders-color;
    border-radius: 2px;
    transition: all $dashboard-transition-duration $dashboard-transition-timing;
    font-feature-settings: $dashboard-font-feature-settings;

    &:hover,
    &:focus {
      background-color: $dashboard-widget-accent-hover-background-color;
      border-color: $dashboard-base-border-color;
    }

    &:active {
      background-color: $dashboard-widget-accent-active-background-color;
      transition-duration: 0ms;
    }
  }

  @media #{$screen-min-dashboard-md} {
    & {
      margin-top: 24px;
    }

    &__item-heading {
      @include h600;
    }
  }

  @media #{$screen-min-dashboard-xl} {
    &__tags {
      flex-direction: row;
    }

    &__tags-item {
      &:not(:last-of-type) {
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }
}
