@import '../../../styles/main';

.PrimerPage {
  &__why-we-exist-wrapper {
    padding: 115px 0 108px 0;
    background: url('../../../assets/svg/primer/backgrounds/youtube-logo-desktop.svg'), url('../../../assets/svg/primer/backgrounds/lock-icon-desktop.svg');
    background-color: $c_blue-ribbon;
    background-position: 24% -6%, right 23% bottom 8%;
    background-repeat: no-repeat, no-repeat;
  }

  &__why-we-exist {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__section-title {
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: .04em;
      color: $c_white;
      text-align: left;
    }

    &__title {
      max-width: 616px;
      margin-top: 24px;
      font-family: $font-primary;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0;
      color: $c_white;
      text-align: left;
    }

    &__section {
      display: flex;
      flex-direction: row;
      gap: 139px;

      &--reverse {
        flex-direction: row-reverse;
      }

      &--lock {
        margin-top: 250px;
        gap: 183px;
      }

      &__text {
        &__title {
          max-width: 692px;
          font-family: $font-primary;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          letter-spacing: 0;
          color: $c_white;
          text-align: left;
        }

        &__paragraph {
          max-width: 692.5px;
          margin-top: 24px;
          font-family: $font-secondary;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0;
          color: $c_white;
          text-align: left;
        }
      }
    }
  }
}
