@import '../../../../styles/main';

.paragraph {
  margin-bottom: 16px;
  @include t300;
  color: $dashboard-base-gray-text-color;
  font-feature-settings: $dashboard-font-feature-settings;

  & > strong {
    font-weight: 700;
  }

  & > em > strong {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
  }
}

.heading {
  margin-block: 16px 8px;
  color: $dashboard-content-base-text-color;
  font-feature-settings: $dashboard-font-feature-settings;
}

.heading1 {
  margin-top: 0px;
  @include h400;
}

.heading2 {
  @include h300;
}

.heading3 {
  @include h100;
  text-transform: uppercase;
}

.anchor {
  @include t300;
  font-feature-settings: $dashboard-font-feature-settings;
  color: $dashboard-markdown-anchor-color;
  text-decoration: underline;
}

.ordered-list {
  list-style: auto;
}

.list-item {
  @extend .paragraph;
  margin-bottom: 4px;
}
