@import '../../../../styles/main';

.dashboard-token-exchange {
  margin-top: 16px;

  &__heading {
    margin-bottom: 8px;
  }

  &__options {
    display: grid;
    gap: 16px;
  }

  &__option {
    height: 260px;
    position: relative;
    overflow: hidden;
    padding: 16px 24px;
    background-color: $dashboard-widget-base-background-color;
    backdrop-filter: blur(2px);
    border: 1px solid $dashboard-base-border-color;
    border-radius: 8px;
  }

  &__option-inner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 156px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(7px);
    z-index: -1;
  }

  &__option-logo-name-wrapper {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__option-logo {
    width: 64px;
  }

  &__option-name {
    @include h500;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__option-volume-depth {
    @include t100;
    font-weight: 700;
    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__option-volume {
    margin-bottom: 16px;
    @include h500;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__option-depths-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
  }

  &__option-depths-list-item {
    margin: 0;
    padding: 0;
  }

  &__option-depth {
    @include t300;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__option-placeholder {
    height: 260px;
    background-color: $dashboard-widget-base-background-color;
    opacity: 0.8;
    border-radius: 8px;
    backdrop-filter: blur(2px);
  }

  &__button-toggle-shown-options {
    height: 48px;
    margin: 16px auto 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    @include t300;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
    background-color: $dashboard-exchange-button-background-color;
    border: 1px solid $dashboard-base-borders-color;
    border-radius: 2px;
    backdrop-filter: blur(2px);
    cursor: pointer;
    transition: all $dashboard-transition-duration $dashboard-transition-timing;

    &.options-expanded > svg {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      background-color: $dashboard-buttons-base-hover-background-color;
    }
    &:active {
      background-color: $dashboard-buttons-base-pressed-background-color;
    }
  }

  @media #{$screen-min-dashboard-xs} {
    &__options {
      grid-template-columns: repeat(2, 1fr);
    }

    &__option {
      height: 248px;
      //   padding: 16px;
      padding: 13px;
    }

    &__option-volume {
      @include h400;
    }

    &__option-depth {
      @include t200;
    }

    &__option-placeholder {
      height: 248px;
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__options {
      grid-template-columns: repeat(3, 1fr);
    }

    &__option {
      height: 300px;
      padding: 24px;
    }

    &__option-logo {
      width: 88px;
    }

    &__option-volume {
      @include h500;
    }

    &__option-depth {
      @include t300;
    }

    &__option-placeholder {
      height: 300px;
    }
  }

  @media #{$screen-min-dashboard-md} {
    &__options {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }

    & {
      margin-top: 24px;
    }
  }
}
