@import '../../../../styles/main';

.dashboard-comparison-positioning {
  @include dashboard-widget;

  position: relative;

  &__scroll-fade {
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 100%;
    background: linear-gradient(270deg, #000 26.56%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: all .3s ease-in-out;

    &--show {
      opacity: 1;
    }
  }

  &__section-wrapper {
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__table-wrapper {
    min-width: 1312px;
  }

  &__table {
    width: 100%;
    min-width: 495px;
    table-layout: fixed;
  }

  &__table-row {
    border-bottom: 1px solid $dashboard-base-borders-color;
  }

  &__table-cell {
    min-height: 1px;
    font-family: $font-secondary;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;

    &:first-of-type {
      padding-left: 12px;
    }

    &:last-of-type {
      padding-right: 12px;
    }
  }

  &__table-head-cell {
    @include t400;

    padding: 12px 4px;
    font-weight: 600;
    text-align: start;
  }

  &__table-body {
    & > .dashboard-comparison-positioning__table-row:first-of-type {
      height: 136px;

      & > td {
        height: 1px;
      }

      & > td > div {
        @include t300;

        // font-size: 10px;
        // line-height: 1.6;
        // letter-spacing: .1px;
      }

      @-moz-document url-prefix() {
        & > td {
          height: 100%;
        }
      }
    }
  }

  &__table-body-cell {
    @include t400;

    padding: 16px 4px;
    vertical-align: bottom;
  }

  &__bar {
    display: flex;
    align-items: end;
    min-height: 20px;
    padding: 4px;
    background-color: #bbd9f621;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    &__table-wrapper {
      min-width: 1344px;
    }

    &__scroll-fade {
      width: 66px;
    }
  }
}
