@import '../../styles/main.scss';
@import '../style.scss';

.ManifestoPage {
  // --------------
  // GENERAL STYLES
  // --------------

  &__section {
    max-width: 606px;
    margin: 0 auto;
  }

  &__section-title {
    @include section-title;

    color: #ff3861;

    &--white {
      color: #e0e1ff;
    }

    &--blue {
      color: $c_blue-ribbon;
    }
  }

  &__title {
    @include h2;

    margin-top: 8px;
    color: $c_white;

    &--black {
      color: $c_black;
    }
  }

  &__subtitle {
    @include h4;

    margin-top: 48px;
    color: $c_white;

    &--black {
      color: $c_black;
    }
  }

  &__paragraph {
    @include base-1;

    margin-top: 24px;
    line-height: 32px;
    color: #a7aeb7;

    &--top {
      margin-top: 48px;
    }

    &--white {
      color: $c_white;
    }

    &--black {
      color: #1f252e;
    }
  }

  &__text-highlight {
    display: inline;
    padding: .2rem;
    font-weight: 600;
    color: $c_white;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--red {
      color: #fff;
      background-color: rgba(255, 56, 97, .75);
    }

    &--white {
      color: $c_black;
      background-color: rgba(255, 255, 255, .75);
    }

    &--light-blue {
      color: #0b0c0f;
      background-color: rgba(64, 56, 255, .2);
    }
  }

  &__reference {
    @include base-5;

    position: relative;
    top: -7px;
    display: inline-block;

    &--bold {
      font-weight: 600;
    }
  }

  // -----------------------
  // SECTION SPECIFIC STYLES
  // -----------------------

  &__hero-wrapper {
    position: relative;
    padding-top: 96px;
    background-color: $c_blue-ribbon;
  }

  &__hero-background-wrapper {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100%;
  }

  &__hero-background {
    position: absolute;
    bottom: -1px;
    display: flex;
    width: 100%;
    height: 160px;

    &__left {
      flex-grow: 1;

      &__illustration {
        width: 101%;
      }
    }

    &__middle {
      width: 185px;
      height: 160px;
      min-width: 185px;
      min-height: 160px;
    }

    &__right {
      flex-grow: 1;

      &__illustration {
        width: 100%;
      }
    }
  }

  &__hero {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__header {
      max-width: 606px;
    }

    &__title {
      @include h1;

      color: $c_white;
      text-align: center;
    }

    &__subtitle {
      @include base-1;

      margin-top: 24px;
      color: $c_white;
      text-align: center;
    }

    &__illustration {
      z-index: 1;
      margin-top: 96px;
      margin-bottom: -1px;
    }
  }

  &__illustration-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    margin-top: 96px;
    background-color: #dee3e9;
  }

  &__problem-wrapper {
    padding: 96px 0;
    background-color: $c_black;
  }

  &__problem {
    &__paragraph-4 {
      & > span {
        font-weight: 600;
        color: $c_white;
      }
    }
  }

  &__goal-wrapper {
    padding: 96px 0;
    background-color: $c_blue-ribbon;
  }

  &__thesis-wrapper {
    padding: 96px 0;
    background-color: #f2f5f9;
  }

  &__thesis {
    @extend %container;

    padding: 0;
  }

  &__references-wrapper {
    padding-bottom: 96px;
    background-color: #f2f5f9;
  }

  &__references {
    max-width: 606px;
    margin: 0 auto;

    &__title {
      @include h6;
    }

    &__items {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      padding-left: 5px;
      gap: 3px;
    }

    &__item {
      @include base-4;

      display: flex;
      color: #5c6475;
      gap: 5px;
    }
  }

  @media (max-width: 2000px) {
    &__hero-background__left__illustration {
      width: 102%;
    }
  }

  @media #{$screen-max-lg} {
    &__hero-background {
      &__left {
        &__illustration {
          width: 103%;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__section {
      padding: 0 20px;
    }

    &__title {
      @include h4;

      margin-top: 4px;
    }

    &__subtitle {
      @include h6;

      margin-top: 24px;
    }

    &__paragraph {
      @include base-3;

      margin-top: 16px;

      &--top {
        margin-top: 24px;
      }
    }

    &__text-highlight {
      padding: .1rem .2rem;
    }

    &__illustration-wrapper {
      height: 240px;
      margin-top: 64px;
    }

    &__illustration {
      width: 160px;
      height: 160px;
    }

    &__hero-wrapper {
      padding-top: 80px;
    }

    &__hero-background {
      height: 64px;

      &__left__illustration {
        height: 100%;
      }

      &__middle {
        width: 100px;
        height: 64px;
        min-width: 100px;
        min-height: 64px;
      }

      &__right__illustration {
        height: 100%;
      }
    }

    &__hero {
      &__title {
        @include h3;

        max-width: 335px;
        margin: auto;
      }

      &__subtitle {
        margin-top: 16px;
        padding: 0 10px;
      }

      &__illustration {
        width: 247px;
        height: 300px;
        margin-top: 64px;
      }
    }

    &__problem-wrapper,
    &__goal-wrapper {
      padding: 80px 0;
    }

    &__thesis-wrapper {
      padding: 80px 0 64px 0;
    }

    &__references-wrapper {
      padding-bottom: 80px;
    }

    &__references {
      padding: 0 20px;

      &__title {
        @include h8;
      }

      &__item {
        @include base-5;
      }
    }
  }
}
