@import '../../styles/main.scss';

.ManifestoPage {
  &__cta,
  &__references-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
  }

  &__cta,
  &__references {
    margin-right: 10px;
    margin-left: 10px;
  }

  &__cta {
    margin-bottom: 80px;
  }

  &__references {
    line-height: 1.5;

    p {
      margin-bottom: 1.1em;
    }
  }

  &__references-title {
    margin-bottom: 40px;
  }
}

@media #{$screen-md} {
  .ManifestoPage {
    &__grouped-sections {
      margin-bottom: 150px;
      padding-top: 100px;
    }

    &__cta,
    &__references {
      max-width: 1000px;
    }

    &__cta {
      margin-bottom: 100px;
    }

    &__references-title {
      margin-bottom: 60px;
    }

    &__cta,
    &__references-title {
      font-size: 36px;
    }
  }
}
