@import '../../../styles/main';

.token {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .itemCard {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    padding: 32px;
    background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
    border-radius: 8px;
    gap: 16px;

    .title {
      display: flex;
      align-items: center;
      font-family: $font-ibm-sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: .09px;
      color: var(--text-default-strong, #f4f6f8);
    }

    .value {
      font-family: $font-ibm-sans;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
    }

    .percent {
      font-family: $font-secondary;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      color: var(--text-default-default, #b5c1c9);
    }
  }

  .staking {
    .value {
      /* Desktop / Heading / H800 */
      font-family: $font-ibm-sans;
      font-size: 55px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 116.364% */
      letter-spacing: -.275px;
      color: var(--solid-white, #fff);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
    }
  }

  .price_section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .widget {
      flex: 2;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
      }

      .value {
        /* Desktop / Heading / H800 */
        // font-family: IBM Plex Sans;
        font-size: 55px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 116.364% */
        letter-spacing: -.275px;
        color: var(--solid-white, #fff);
        text-align: center;
        text-align: left;
        font-feature-settings: 'clig' off, 'liga' off;
        @media (max-width: 768px) {
          font-size: 42px;
        }
        @media (max-width: 425px) {
          font-size: 32px;
        }
      }

      .percent {
        /* Desktop/Text/T400 Regular */
        // font-family: Inter;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 152.381% */
        color: var(--text-default-default, #b5c1c9);
        text-align: left;
        font-feature-settings: 'clig' off, 'liga' off;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }

    .info {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 24px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .flex {
    display: flex;
  }

  .supply {
    .flex {
      .title {
        /* Desktop/Text/T400 Regular */
        font-family: $font-secondary;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 152.381% */
        color: var(--text-default-default, #b5c1c9);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;

        /* Desktop/Text/T300 Strong */
        font-family: $font-secondary;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        color: var(--text-default-strong, #f4f6f8);
        text-align: center;
        background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
        border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
        border-radius: 2px;
        font-feature-settings: 'clig' off, 'liga' off;
        gap: 8px;

        span {
          /* Desktop/Text/T300 Strong */
          font-family: $font-secondary;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          color: var(--text-default-default, #b5c1c9);
          font-feature-settings: 'clig' off, 'liga' off;
        }
      }
    }
  }

  .piechart-title {
    div {
      font-family: $font-ibm-sans;
      font-size: 18px;
    }
  }

  .table {
    // width: 100%;
    // min-width: 670px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 32px;

    .tr,
    .td {
      display: flex;
      padding-right: 32px;
      padding-left: 32px;

      /* Divider/Bottom */
      box-shadow: 0 -1px 0 0 rgba(187, 217, 246, .13) inset;

      div {
        display: flex;
        align-items: center;
        flex: 1 0 0;
        padding: 16px 8px;

        /* Desktop / Heading / H100 */
        font-family: $font-secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */
        letter-spacing: .12px;
        color: var(--text-default-default, #b5c1c9);
        font-feature-settings: 'clig' off, 'liga' off;
      }
    }

    .th {
      display: flex;
      background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
      box-shadow: 0 -1px 0 0 rgba(187, 217, 246, .13) inset;

      div {
        font-weight: 700;
        letter-spacing: .84px;

        /* Divider/Bottom */
      }
    }
  }

  .buy_and_sell {
    .buy_and_sell_title {
      display: inline-flex;
      align-items: center;

      /* Desktop / Heading / H400 */
      font-family: $font-ibm-sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: .09px;
      color: var(--solid-white, #fff);
      font-feature-settings: 'clig' off, 'liga' off;
      gap: 8px;
    }

    .flex {
      justify-content: space-between;
      gap: 24px;

      .itemCard {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 20px;

          /* Desktop/Text/T300 Strong */
          font-family: $font-secondary;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          color: var(--text-default-strong, #f4f6f8);
          text-align: center;
          background: var(--background-primary-default, #4038ff);
          border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
          border-radius: 2px;
          font-feature-settings: 'clig' off, 'liga' off;
          gap: 8px;
        }

        div {
          display: flex;

          /* Desktop / Heading / H600 */
          font-family: $font-ibm-sans;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 40px; /* 125% */
          color: var(--text-default-strong, #f4f6f8);
          text-align: center;
          font-feature-settings: 'clig' off, 'liga' off;
          gap: 8px;

          button {
            display: flex;
            align-items: center;
            padding: 8px;

            /* Desktop/Text/T100 Regular */
            font-family: $font-secondary;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 133.333% */
            letter-spacing: .12px;
            color: var(--text-default-strong, #f4f6f8);
            background: var(--background-default-strong-default, #272d33);
            border-radius: 4px;
            font-feature-settings: 'clig' off, 'liga' off;
            gap: 8px;
            gap: 6px;
          }
        }
      }
    }
  }

  .mt-8 {
    margin-top: 8px;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .mt-28 {
    margin-top: 28px;
  }

  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .px-32 {
    padding-right: 32px;
    padding-left: 32px;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .gap-16 {
    gap: 16px;
  }

  .gap-24 {
    gap: 24px;
  }

  .gap-40 {
    gap: 40px;
  }

  .w-100 {
    width: 100%;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: end;
  }

  .items-center {
    align-items: center;
  }
}

@media (max-width: 1439px) {
  .widget {
    .value {
      font-size: 55px;
      line-height: 64px; /* 125% */
    }

    .percent {
      font-size: 21px;
      line-height: 32px; /* 150% */
    }
  }
}

@media (max-width: 1023px) {
  div {
    font-size: 32px;
    line-height: 40px;
  }

  .token .price_section .info {
    flex-direction: row;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .table-div {
    max-width: calc((100vw - 64px)) !important;
  }
}

@media (max-width: 767px) {
  .token .price_section .info {
    flex-direction: column;
  }
}

@media (max-width: 424px) {
  .token .itemCard {
    padding: 16px;
  }

  .token .price_section .info {
    gap: 16px;
  }

  // .widget {
  //   // flex: 2;
  //   flex-direction: column;
  //   // padding: 16px !important;

  //   .title {
  //     display: flex;
  //     align-items: center;
  //     // justify-content: flex-start;

  //     /* Desktop / Heading / H400 */
  //     font-family: $font-ibm-sans;
  //     font-size: 18px;
  //     font-style: normal;
  //     font-weight: 600;
  //     line-height: 24px; /* 133.333% */
  //     letter-spacing: .09px;
  //     color: var(--text-default-strong, #f4f6f8);
  //     font-feature-settings: 'clig' off, 'liga' off;
  //   }

  //   .value {
  //     /* Desktop / Heading / H600 */
  //     font-family: $font-ibm-sans;
  //     font-size: 32px;
  //     font-style: normal;
  //     font-weight: 600;
  //     line-height: 40px; /* 125% */
  //     color: var(--solid-white, #fff);
  //     font-feature-settings: 'clig' off, 'liga' off;
  //   }

  //   .percent {
  //     font-size: 16px;
  //     font-style: normal;
  //     font-weight: 400;
  //     line-height: 24px; /* 150% */
  //     color: var(--text-default-default, #b5c1c9);
  //     font-feature-settings: 'clig' off, 'liga' off;
  //   }
  // }

  .token .itemCard .value {
    font-size: 24px;
    line-height: 32px;
  }

  .token .itemCard .percent {
    font-size: 16px;
    line-height: 24px;
  }

  .piechart-title {
    align-items: flex-start !important;
    flex: 1;
    flex-direction: column;

    div {
      /* Desktop / Heading / H400 */
      font-family: $font-ibm-sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: .09px;
      color: var(--text-default-strong, #f4f6f8);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
    }
  }
}
