@import '../../../styles/main';

.IndexPage {
  &__investors-wrapper {
    padding: 128px 0;
    background-color: $c_black;
  }

  &__investors {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
      font-family: $font-primary;
      font-size: 52px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0;
      color: $c_white;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 64px;
      column-gap: 68px;
      row-gap: 48px;
    }

    &__list-item {
      width: 182px;

      &__icon--active {
        display: none;
      }

      &__icon--inactive {
        display: block;
      }

      &:hover {
        .IndexPage__investors__list-item__icon--active {
          display: block;
        }

        .IndexPage__investors__list-item__icon--inactive {
          display: none;
        }
      }
    }

    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media #{$screen-max-sm} {
    &__investors-wrapper {
      padding: 56px 0;
    }

    &__investors {
      &__title {
        font-size: 40px;
        line-height: 48px;
      }

      &__list {
        width: 336px;
        gap: 20px;
      }

      &__list-item {
        width: 158px;
        height: 69.5px;

        &:hover {
          .IndexPage__investors__list-item__icon--active {
            display: none;
          }

          .IndexPage__investors__list-item__icon--inactive {
            display: block;
          }
        }
      }

      &__icon-wrapper {
        border: 1px solid #dae2eb;
      }
    }
  }
}
