@import '../../../../styles/main';

.dashboard-engineering-contributors {
  &__list {
    display: grid;
    padding: 0;
    list-style: none;
    gap: 16px;
  }

  &__list-item {
    margin: 0;
    padding: 0;
  }

  &__contributor {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 140px;
    padding: 16px;
    background-color: $dashboard-contibutor-widget-background-color;
    border: 1px solid $dashboard-contibutor-widget-background-color;
    border-radius: 8px;
    gap: 4px;

    &:hover {
      cursor: pointer;
      border-color: $dashboard-contibutor-widget-border-color;
    }
  }

  &__contributor-avatar {
    width: 56px;
    border-radius: 50%;
  }

  &__contributor-name {
    @include t300;

    max-width: 145px;
    overflow: hidden;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__contributor-username {
    @include t200;

    color: $dashboard-base-gray-text-color;
    text-overflow: ellipsis;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__button-toggle-shown {
    @include t300;

    display: block;
    // width: 226px;
    height: 48px;
    margin: 16px auto 0;
    padding: 12px 20px;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    cursor: pointer;
    background-color: $dashboard-widget-base-background-color;
    border: 1px solid $dashboard-base-borders-color;
    border-radius: 2px;
    transition: background-color $dashboard-transition-duration $dashboard-transition-timing;
    font-feature-settings: $dashboard-font-feature-settings;

    &:hover,
    &:focus {
      background-color: $dashboard-buttons-base-hover-background-color;
    }

    &:active {
      background-color: $dashboard-buttons-base-pressed-background-color;
      transition-duration: 0ms;
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__contributor {
      height: 172px;
      padding: 32px;
    }
  }

  @media #{$screen-min-dashboard-md} {
    &__list {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }

    &__button-toggle-shown {
      margin-top: 24px;
    }
  }

  @media #{$screen-min-dashboard-lg} {
    &__list {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
