{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "graphql"],
        "plugins": ["normalize-whitespace"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
