@import '../../../styles/main';

.dashboard-history {
  @include dashboard-section;

  &__container {
    @include dashboard-container;
  }

  &__stage {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 391px;
    background-color: $dashboard-widget-base-background-color;
    border: 1px solid $dashboard-widget-base-background-color;
    border-radius: 8px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    &.card-interactive {
      cursor: pointer;

      &:hover {
        border-color: $dashboard-base-border-color;

        & .dashboard-history__stage-img-overlay {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__stage-img-wrapper {
    position: relative;
  }

  &__stage-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #6363fb9c;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 1;
    visibility: visible;
    transition: all $dashboard-transition-duration $dashboard-transition-timing;
  }

  &__stage-img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &__stage-descr-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 16px;
  }

  &__stage-date {
    @include h500;

    margin-bottom: 8px;
    color: $dashboard-base-white-text-color;
    text-overflow: ellipsis;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__stage-descr {
    @include t300;

    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__button-read-more {
    align-self: flex-start;
  }

  &__modal {
    position: absolute;
    max-width: 800px;
    background-color: $dashboard-history-modal-background-color;
    border-radius: 8px;
    outline: none;
    inset: 80px 16px;
    margin-inline: auto;
  }

  &__modal-overlay {
    position: fixed;
    z-index: calc($dashboard-header-z-index + 1);
    background-color: $dashboard-modals-overlay-color;
    inset: 0;
  }

  &__modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__modal-img-wrapper {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__modal-long-descr-wrapper {
    flex: 1 1 auto;
    padding: 24px;
    overflow-y: auto;
    scrollbar-color: $dashboard-custom-scrollbar-track-background $dashboard-custom-scrollbar-thumb-background;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $dashboard-custom-scrollbar-track-background;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $dashboard-custom-scrollbar-thumb-background;
      border-radius: 20px;
    }

    &::-moz-scrollbar {
      width: 8px;
      border-radius: 20px;
    }
  }

  &__modal-long-descr-title {
    @include h400;

    margin-bottom: 16px;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;

    &_regular {
      font-weight: 400;
    }
  }

  &__button {
    cursor: pointer;
    background-color: $dashboard-history-modal-buttons-background-color;
    border: 1px solid $dashboard-base-borders-color;
    border-radius: 2px;
    transition: all $dashboard-transition-timing $dashboard-transition-duration;

    &:hover:enabled,
    &:focus:enabled {
      background-color: $dashboard-buttons-base-hover-background-color;
    }

    &:active:enabled {
      background-color: $dashboard-buttons-base-pressed-background-color;
      transition-duration: 0ms;
    }
  }

  &__button-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    backdrop-filter: blur(8px);
  }

  &__modal-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-shadow: 0px 1px 0px 0px rgba(187, 217, 246, .13) inset;
  }

  &__button-modal-action {
    @include t200;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 40px;
    padding: 10px 16px;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
    gap: 8px;

    &:disabled {
      cursor: auto;
      border-color: $dashboard-history-modal-buttons-background-color;
      opacity: .5;
    }
  }

  &__stages-count {
    @include t300;

    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;

    &_current {
      font-weight: 600;
      color: $dashboard-content-base-text-color;
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__stage {
      width: 304px;
      height: 407px;

      &:not(:last-of-type) {
        margin-right: 24px;
      }
    }

    &__stage-descr-wrapper {
      padding: 24px;
    }
  }

  @media #{$screen-min-dashboard-lg} {
    &__stage {
      width: 326px;
    }
  }
}
