@import '../../../../styles/main';

.councils-block-skeleton {
  margin-bottom: 64px;
  width: 100%;
  height: 740px;

  @media #{$screen-min-dashboard-md} {
    margin-bottom: 80px;
  }
}

.working-groups-block-skeleton {
  width: 100%;
  height: 425px;
}
