@import '../../styles/_main';

.Button {
  $_r: &;

  display: inline-block;
  width: 100%;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 56px;
  color: $c_white;
  text-align: center;
  cursor: pointer;
  background-color: $c_blue;
  border: 2px solid transparent;
  border-radius: 3px;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: $c_bluebonnet;
  }

  &--reversed {
    color: $c_black;
    background-color: transparent;
    border-color: $c_blue;

    &:hover,
    &:active {
      background-color: inherit;
    }
  }

  &--secondary {
    color: $c_black;
    background-color: $c_caribbean-green;

    &:hover,
    &:active {
      background-color: $c_persian-green;
    }

    &#{$_r}--reversed {
      color: $c_white;
      background-color: transparent;
      border-color: $c_caribbean-green;
    }
  }

  &--small {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
  }

  &--light {
    color: $c_black;
    background-color: $c_white;

    &:hover,
    &:active {
      background-color: $c_silver;
    }
  }

  &--disabled {
    background-color: $c_blue-haze;

    &:hover,
    &:active {
      background-color: $c_blue-haze;
    }
  }

  @media #{$screen-sm} {
    width: auto;
  }

  @media #{$screen-md} {
    padding: 0 40px;
    font-size: 20px;

    &--large {
      padding: 0 60px;
    }

    &--small {
      padding: 0 16px;
      font-size: 14px;
      font-weight: 600;
      line-height: 38px;
    }
  }
}
