@import '../../styles/_main';

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: $c_white;
  cursor: pointer;
  background-color: $c_primary-accent;
  border-radius: 3px;

  &--reversed {
    color: $c_black;
    background-color: transparent;
    border: 2px solid $c_primary-accent;
  }

  @media #{$screen-md} {
    height: 60px;
    padding: 0 40px;
    font-size: 20px;
  }
}

.Secondary {
  height: 68px;
  padding: 0 32px;
  font-size: 18px;
  color: $c_black;
  background-color: $c_secondary-accent;
  border: 2px solid $c_secondary-accent;

  &--reversed {
    color: $c_white;
    background-color: transparent;
    border: 2px solid $c_secondary-accent;
  }

  &--large {
    height: 60px;
    padding: 0 60px;
    font-size: 22px;
  }

  @media #{$screen-md} {
    padding: 0 40px;
    font-size: 22px;
  }
}

.Default {
  width: 100%;
  height: 38px;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: $c_black;
  background-color: $c_white;

  @media #{$screen-sm} {
    max-width: 160px;
  }
}
