@import '../../../../styles/main';

.FoundingMembersPage {
  &__metrics {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 120px 100px 0 100px;

    &__title {
      margin-bottom: 80px;
      font-family: $font-primary;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
      text-align: center;
    }

    &__list {
      display: grid;
      justify-content: center;
      width: 100%;
      gap: 73px;
      grid-template-columns: repeat(4, 280px);
    }

    &__stat {
      margin-bottom: 16px;
      font-family: $font-primary;
      font-size: 60px;
      line-height: 68px;
      letter-spacing: 0;
      color: #4038ff;
      text-align: center;
    }

    &__text {
      font-family: $font-secondary;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
    }
  }

  &__leaderboards {
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: 120px;
    padding: 0 0 250px 0;
    gap: 30px;
    grid-template-columns: repeat(2, 606px);

    &__title {
      margin-bottom: 40px;
      font-family: $font-primary;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
    }

    &__button {
      position: absolute;
      right: 0;
      bottom: 120px;
      left: 0;
      width: 400px;
      height: 52px;
      margin: 0 auto;
      color: #4038ff;
      background: none;
      border-color: #4038ff;
      border-width: 3px;
    }

    &__button:hover {
      background: none;
    }
  }

  &__leaderboard {
    width: 510px;

    &__title {
      margin-bottom: 16px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
    }

    &__header {
      height: 40px;
    }

    &__body {
      height: 330px;
    }

    &__row {
      height: 64px;
      background-color: white;
    }

    &__main {
      display: flex;
      align-items: center;

      &__placeholder {
        width: 40px;
        height: 40px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__data {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
      }

      &__name {
        font-family: $font-primary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
        color: #4038ff;
      }
    }

    &__referrer {
      display: none;
      align-items: center;

      &__placeholder {
        width: 24px;
        height: 24px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__data {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
      }

      &__name {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }
    }

    &__referrer-name {
      margin: auto 0;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.4000000059604645px;
      text-align: center;
    }

    &__score {
      display: flex;
      align-items: center;
      text-align: right;
      justify-self: end;
    }

    &__button {
      width: 100%;
      height: 52px;
      margin-top: 30px;
      color: #4038ff;
      background: none;
      border-color: #4038ff;
      border-width: 3px;
    }

    &__button:hover {
      background: none;
    }
  }

  &__leaderboard-wrapper {
    height: 606px;
    padding: 48px;
    background-color: #f2f5f9;
  }

  @media (max-width: 1330px) {
    &__metrics__list {
      grid-template-columns: 1fr 1fr;
    }

    &__leaderboards {
      padding-bottom: 125px;
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr;

      &__button {
        bottom: 80px;
      }
    }
  }

  @media #{$screen-max-md} {
    &__metrics {
      padding-top: 80px;

      &__title {
        margin-bottom: 50px;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__metrics {
      padding: 80px 20px 0 20px;

      &__title {
        font-size: 32px;
        line-height: 40px;
      }

      &__list {
        gap: 50px;
        grid-template-columns: 1fr;
      }
    }
    /* stylelint-disable */
    &__leaderboard-left {
      .FoundingMembersPage {
        &__leaderboard {
          &__referrer-name,
          &__score {
            display: none;
          }

          &__header {
            grid-template-columns: 1fr 1fr !important;

            p:nth-of-type(3) {
              display: none;
            }

            p:nth-of-type(2) {
              text-align: right !important;
            }
          }

          &__row {
            grid-template-columns: 1fr 1fr !important;

            & > div:nth-of-type(2) {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }

    &__leaderboards {
      & > div:nth-of-type(2) {
        .FoundingMembersPage {
          &__row {
            grid-template-columns: 1fr 1fr !important;

            & > p {
              display: none;
            }
          }

          &__leaderboard {
            &__header {
              grid-template-columns: 1fr 1fr !important;

              p:nth-of-type(2) {
                display: none;
              }
            }
          }
        }
      }
    }
    /* stylelint-enable */
  }

  @media (max-width: 620px) {
    &__leaderboards {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 175px;

      &__title {
        margin-left: 20px;
      }

      &__button {
        bottom: 70px;
        width: 335px;
      }
    }

    &__leaderboard-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    &__leaderboard {
      width: 335px;

      &__button {
        width: 335px;
      }

      &__title {
        width: 335px;
      }
    }

    &__leaderboard-left {
      width: 100%;
    }
  }
}
