@import '../../../styles/main';
@import '../../../pages/style.scss';

.IndexPage {
  &__available-activities-wrapper {
    padding: 96px 32px;
    background-color: #f2f5f9;
  }

  &__available-activities {
    @include grid;

    &__header {
      grid-column: 2 / 12;

      &__title {
        @include h900;

        color: $c_black;
        text-align: center;
      }
    }

    &__subtitle {
      @include t400;

      margin: 0 auto;
      margin-top: 16px;
      color: #5c6475;
      text-align: center;
      grid-column: 3 / 11;
    }

    &__list {
      display: grid;
      margin-top: 64px;
      gap: 24px;
      grid-column: 2 / 12;
      grid-template-columns: 1fr 1fr;
    }

    &__list-item {
      height: 172px;
      padding: 20px;
      background-color: $c_white;
      border-radius: 8px;
      transition: all .2s;

      &__top {
        display: flex;
        align-items: center;
      }

      &__icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background-color: #e0e1ff;
        border-radius: 8px;
      }

      &__icon {
        transform: scale(.85);
      }

      &__title {
        @include t400;

        margin-left: 16px;
        font-weight: 600;
        color: #1f252e;
      }

      &__amount {
        margin-left: auto;
        color: #1f252e;

        &--mobile {
          display: none;
        }

        &__value {
          @include t400;

          & > span {
            margin-left: 4px;
            color: #81858d;
          }
        }

        &__weekly {
          @include t400;

          display: block;
          color: #81858d;
          text-align: right;
        }
      }

      &__bottom {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
      }

      &__member-icons {
        display: flex;
        flex-direction: row;
      }

      &__member-icon {
        width: 48px;
        height: 48px;
        background-color: $c_white;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $c_white;

        &:not(:first-child) {
          margin-left: -10px;
        }

        &:nth-child(1) {
          z-index: 4;
        }

        &:nth-child(2) {
          z-index: 3;
        }

        &:nth-child(3) {
          z-index: 2;
        }

        &:nth-child(4) {
          z-index: 1;
        }

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }

      &__number-icon {
        display: grid;
        width: 48px;
        height: 48px;
        margin-left: -10px;
        font-family: $font-secondary;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        color: $c_white;
        background-color: $c_ebony-clay;
        border-radius: 50%;
        place-items: center;
      }

      &__loader {
        width: 45px;
        height: 45px;
      }

      &__cta {
        @include t400;

        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: auto;
        font-weight: 600;
        color: $c_blue-ribbon;
        opacity: 0;

        &--mobile {
          display: none;
        }
      }

      &__cta-icon {
        margin-left: 13px;
        transform: rotate(-90deg);
      }

      &__place-for-you {
        display: flex;
        align-items: center;
        font-family: $font-primary;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        color: $c_white;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 16px;
          padding: 10px;
          background-color: $c_ebony-clay;
          border-radius: 50%;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $c_white;
        transform: translate(-5px, -5px);
        box-shadow: 8px 8px 0 -2px $c_blue-ribbon;
      }

      &:hover &__cta {
        opacity: 1;
      }

      &:hover &__title {
        color: $c_black;
      }

      &:hover &__amount {
        color: $c_black;
      }

      &:hover &__amount__weekly {
        color: #5c6475;
      }

      &:hover &__amount__value {
        & > span {
          color: #5c6475;
        }
      }

      &:hover &__place-for-you {
        color: $c_black;
      }
    }

    &__show-more {
      width: max-content;
      margin: 40px auto 0;
      padding: 5px;
      font-family: $font-primary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
      cursor: pointer;
      grid-column: 1 / 13;

      &__arrow-icon {
        margin-bottom: -3px;
        margin-left: 13px;
        transform: scale(.85);
      }
    }
  }

  @media (max-width: 1440px) {
    &__available-activities {
      &__header {
        grid-column: 1 / 13;

        &__title {
          @include h800;
        }
      }

      &__subtitle {
        max-width: 910px;
        grid-column: 1 / 13;
      }

      &__list {
        grid-column: 1 / 13;
      }

      &__list-item {
        height: 148px;
        padding: 16px;

        &__icon-wrapper {
          width: 48px;
          height: 48px;
        }

        &__title {
          @include h400;
        }

        &__icon {
          transform: scale(.6);
        }

        &__cta {
          display: none;
          opacity: 1;

          &--mobile {
            display: block;

            & > span {
              display: none;
            }
          }
        }

        &__amount {
          display: none;

          &--mobile {
            display: block;
          }

          &__value {
            @include t300;
          }

          &__weekly {
            @include t300;
          }
        }

        &__member-icon {
          width: 40px;
          height: 40px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        &__number-icon {
          width: 40px;
          height: 40px;
          font-size: 12.5px;
          line-height: 20px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__available-activities-wrapper {
      padding: 64px 16px;
    }

    &__available-activities {
      &__header {
        &__title {
          @include h700;
        }
      }

      &__list {
        margin-top: 56px;
        gap: 16px;
      }

      &__list-item {
        &__title {
          margin-left: 8px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__available-activities {
      &__header {
        &__title {
          @include h600;
        }
      }

      &__subtitle {
        @include t300;
      }

      &__list {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
      }
    }
  }

  @media (max-width: 425px) {
    &__available-activities {
      &__header {
        &__title {
          @include h500;
        }
      }

      &__list-item {
        &__title {
          @include h300;
        }

        &__amount {
          &__value {
            @include t200;
          }
        }

        &__member-icon {
          width: 32px;
          height: 32px;

          img {
            width: 32px;
            height: 32px;
          }
        }

        &__number-icon {
          width: 32px;
          height: 32px;
          font-size: 10px;
          line-height: 16px;
        }

        &__loader {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
