@import '../../styles/main';

.GetStarted {
  &__cta-wrapper {
    background-color: $c_blue-ribbon;
  }

  &__cta {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
    background-image: url('../../assets/background/get-started-cta-left.svg'), url('../../assets/background/get-started-cta-right.svg');
    background-position: left center, right top;
    background-repeat: no-repeat, no-repeat;

    &__text {
      max-width: 815px;
      font-family: $font-primary;
      font-size: 60px;
      line-height: 68px;
      letter-spacing: 0;
      color: white;
      text-align: center;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      height: 80px;
      margin-top: 40px;
      padding: 0 30px;
      background-color: black;
    }

    &__button-text {
      font-family: $font-primary;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: white;
    }

    &__button-arrow {
      margin-left: 12px;
      color: white;
      transform: rotate(-90deg);
    }
  }

  @media #{$screen-max-md} {
    &__cta {
      background-position: -20% center, 120% center;
      background-size: 350px, 450px;
    }
  }

  @media #{$screen-max-sm} {
    &__cta {
      &__text {
        font-size: 40px;
        line-height: 48px;
      }

      &__button {
        width: 335px;
        height: 60px;
      }
    }
  }

  @media (max-width: 600px) {
    &__cta {
      padding: 80px 0;
      background-image: url('../../assets/background/get-started-cta-left-alt.svg'), url('../../assets/background/get-started-cta-right-alt.svg');
      background-position: left top, right bottom;
      background-size: auto, auto;
    }
  }

  @media (max-width: 500px) {
    &__cta {
      &__text {
        max-width: 335px;
        text-align: left;
      }
    }
  }
}
