@import '../../../../styles/main';

.FoundingMembersPage {
  &__period-highlights {
    display: flex;
    justify-content: center;

    &__wrapper {
      padding: 165px 0 80px 0;
      background-color: #f2f5f9;
    }

    &__title {
      margin: 80px 0 24px 0;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      text-align: center;
    }

    &__header {
      display: grid;
      align-items: center;
      height: 40px;
      padding: 0 16px;
      background-color: #dee3e9;
    }
  }

  &__period-highlight {
    margin: 0 15px;

    &__title {
      margin-bottom: 12px;
      font-family: $font-primary;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: #4038ff;
    }

    &__table {
      width: 394px;

      &__header {
        height: 40px;
      }

      &__body {
        height: 290px;
      }

      &__row {
        height: 56px;
        background-color: white;
      }
    }

    &__main {
      display: flex;
      align-items: center;

      &__placeholder {
        width: 40px;
        height: 40px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__data {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
      }

      &__name {
        font-family: $font-primary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
        color: #4038ff;
      }
    }

    &__referrer {
      display: flex;
      align-items: center;

      &__placeholder {
        width: 24px;
        height: 24px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__data {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
      }

      &__name {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }
    }

    &__score {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      p {
        font-family: $font-primary;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: right;
      }
    }
  }

  @media #{$screen-max-md} {
    &__period-highlights {
      &__wrapper {
        padding: 306px 0 80px 0;
        background-color: #f2f5f9;
      }

      &__title {
        margin: 0;
      }
    }

    &__period-highlight {
      &__title {
        margin-top: 32px;
      }

      &__table {
        width: 335px;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__period-highlights {
      align-items: center;
      flex-direction: column;
      justify-content: initial;
    }

    &__period-highlight {
      &__score {
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
