@import '../../styles/main.scss';

.CookiesNotice {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .3s ease-in-out;

  &--visible {
    transform: translateY(0);
  }

  &__content {
    max-width: 536px;

    * {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: .25px;
    }
  }

  &__text {
    font-weight: 500;
    color: $c_grayc-chateau;
  }

  &__link {
    font-weight: 700;
    color: $c_neutral-200;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 819px;
    padding: 16px;
    background-color: $c_ebony-clay;
  }

  &__accept {
    max-width: 100px;
    margin-left: 16px;
    padding: 8px 12px !important;
    line-height: 24px;
  }
}
