@import '../../../styles/main';
@import '../../../pages/style';
@import '../shared-styles';

.IndexPage {
  &__payouts-wrapper {
    padding: 96px 32px 0 32px;
    background-color: #111316;
  }

  &__payouts {
    @include grid;

    &__main {
      display: grid;
      height: 512px;
      gap: 24px;
      grid-column: 2 / 12;
      grid-template-columns: auto 676px;

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__section-title {
          @include h400;

          color: #6c6cff;
        }

        &__title {
          @include h600;

          margin-top: 4px;
          color: $c_white;
        }

        &__subtitle {
          @include t400;

          margin-top: 16px;
          color: #a7aeb7;
        }
      }

      &__illustration {
        position: relative;

        &__background {
          width: 100%;
        }

        &__foreground {
          position: absolute;
          top: -350px;
          left: 0;
        }
      }
    }

    &__carousel-title-and-info {
      display: flex;
      justify-content: space-between;
      margin-top: 72px;
      grid-column: 2 / 12;

      &__title {
        @include h500;

        color: $c_white;
      }

      &__info {
        @include t100;

        position: relative;
        display: flex;
        align-items: center;
        color: $c_grayc-chateau;
        fill: $c_grayc-chateau;

        &__icon {
          margin-left: 6px;
          fill: inherit;
        }

        &__modal {
          position: absolute;
          right: 0;
          bottom: 30px;
          width: 240px;
          height: auto;
          padding: 12px 12px 18px 12px;
          color: $c_ebony-clay;
          background-color: $c_neutral-200;
          opacity: 0;
          visibility: hidden;
          transition: visibility .2s linear, opacity .2s linear;
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 6px), 100% 100%, calc(100% - 8px) calc(100% - 6px), 0% calc(100% - 6px));
        }

        &__label {
          display: flex;
          align-items: center;
        }

        &__label:focus + &__modal {
          opacity: 1;
          visibility: visible;
          fill: $c_white;
        }

        &:hover,
        &__label:focus {
          color: $c_white;
          fill: $c_white;
        }

        &:hover &__modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__payouts-carousel {
    $carousel-gap: 24px;

    margin: 0 -32px;

    &__items-wrapper {
      display: flex;
      max-width: 1440px;
      min-height: 200px;
      margin: 0 auto;
      margin-top: 32px;
      overflow: hidden;
      gap: $carousel-gap;
    }

    &__items {
      @include animate-carousel($carousel-gap, 25s);

      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      min-width: 100%;
      gap: $carousel-gap;

      &--paused {
        animation-play-state: paused;
      }
    }

    &__item {
      width: 224px;
      height: 216px;
      padding: 24px;
      background-color: rgba(188, 213, 250, .08);
      border-radius: 8px;

      &:hover {
        background-color: rgba(187, 217, 246, .13);
        border: 1px solid rgba(203, 224, 241, .27);
      }

      &__image {
        width: 40px;
        height: 40px;
        overflow: hidden;
        background: rgba(0, 0, 0, .3);
        border-radius: 50%;

        & > img {
          width: 100%;
        }
      }

      &__price {
        display: flex;
        margin-top: 12px;

        &__icon {
          margin: auto 4px auto 0;
        }

        &__text {
          @include t300;

          color: $c_grayc-chateau;

          & > span {
            @include h600;

            color: $c_white;
            text-align: left;
          }
        }
      }

      &__price-usd {
        @include t100;

        margin-top: 4px;
        color: $c_grayc-chateau;
      }

      &__channel {
        @include t100;
        @include line-clamp(1);

        margin-top: 8px;
        color: $c_grayc-chateau;

        & > span {
          color: $c_white;
        }
      }

      &__time {
        @include t100;

        display: flex;
        align-items: center;
        margin-top: 12px;
        color: $c_grayc-chateau;

        &__icon {
          margin-right: 6px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    &__payouts {
      &__main {
        height: 417px;
        grid-column: 1 / 13;
        grid-template-columns: auto 550px;

        &__illustration {
          &__foreground {
            position: absolute;
            top: -235px;
          }
        }
      }

      &__carousel-title-and-info {
        grid-column: 1 / 13;
      }
    }

    &__payouts-carousel-title-and-info {
      grid-column: 1 / 13;
    }
  }

  @media (max-width: 1024px) {
    &__payouts-wrapper {
      padding: 64px 16px 0 16px;
    }

    &__payouts {
      &__main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;

        &__content {
          &__title {
            @include h500;

            & > br {
              display: none;
            }
          }
        }

        &__illustration {
          position: relative;
          width: 100%;
          overflow: hidden;

          & > div:first-of-type {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            -webkit-transform: none !important;
            transform: none !important;
            inset: 0;
          }

          &__foreground {
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      &__carousel-title-and-info {
        &__title {
          @include h400;
        }
      }
    }

    &__payouts-carousel {
      margin: 0 -16px;
    }
  }

  @media (max-width: 768px) {
    &__payouts {
      &__main {
        &__content {
          &__title {
            @include h500;
          }

          &__subtitle {
            @include t300;
          }
        }
      }

      &__carousel-title-and-info {
        display: flex;
        flex-direction: column;

        &__info {
          margin-top: 6px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__payouts {
      &__main {
        &__content {
          &__title {
            @include h400;
          }
        }
      }
    }
  }
}
