@import '../../../styles/_main';

.AssetsSection {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $c_sky-white;
  }

  &__title {
    flex-grow: 1;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 30px;
    text-align: left;

    &--togglable {
      cursor: pointer;
    }

    &--open {
      color: $c_blue-ribbon;
    }

    @media #{$screen-sm} {
      font-size: 24px;
    }
  }

  &__title-count {
    color: $c_blue-ribbon;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__files-info {
    display: none;
    margin-right: 32px;
    font-size: 12px;
    line-height: 18px;
    color: $c_blue-ribbon;

    @media #{$screen-sm} {
      display: block;
    }
  }

  &__files-count {
    font-size: 18px;
    font-weight: bold;
  }

  &__toggle {
    margin-right: 32px;
    cursor: pointer;
  }

  &__download {
    cursor: pointer;
  }

  &__drawer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px 20px;
    padding: 20px 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: 10px;
      display: block;
      width: calc(100% - 20px);
      height: 1px;
      background: $c_blue-ribbon;
    }
  }
}
