@import '../../../styles/_main';

.GuidesSection {
  &__section-title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: inherit;

    @media #{$screen-sm} {
      margin-bottom: 80px;
    }
  }

  &__subsection {
    margin-bottom: 80px;
  }

  &__subsection-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
    color: inherit;

    @media #{$screen-sm} {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 60px;
    }
  }

  &__image {
    position: relative;
    display: block;
    margin-bottom: 40px;

    @media #{$screen-sm} {
      margin: 80px 0;
    }
  }

  &__image-description {
    max-width: 320px;
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 16px;
    color: inherit;
    text-align: center;
  }

  &__blue {
    position: relative;
    padding-bottom: 40px;

    > * {
      position: relative;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      display: block;
      width: calc(100% + 40px);
      height: 100%;
      background-color: $c_blue-ribbon;
      content: '';
    }

    &--bottom::before {
      top: 50%;
      height: 50%;
    }

    @media #{$screen-xl} {
      padding-right: 120px;

      &::before {
        left: -120px;
        width: calc(100% + 120px);
      }
    }
  }

  &__sub-title {
    width: 90%;
    max-width: 680px;
    margin-bottom: 40px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 30px;
    color: inherit;

    &--small {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;

      @media #{$screen-sm} {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 1;
      }
    }

    @media #{$screen-sm} {
      width: auto;
      margin-bottom: 80px;
      font-size: 30px;
      line-height: 45px;
    }
  }

  &__heading {
    margin-bottom: 40px;
    font-family: $font-primary;
    font-size: 20px;
    line-height: 30px;
    color: inherit;

    &--bold {
      font-weight: bold;
    }

    &--h1 {
      font-size: 60px;
      line-height: 70px;
    }

    &--h2 {
      font-size: 32px;
      line-height: 40px;
    }

    &--h3 {
      font-size: 24px;
      line-height: 32px;
    }

    &--h4 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__detail-text {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    color: $c_white;

    @media #{$screen-sm} {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  &__text {
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    color: $c_light-gray;

    strong {
      font-weight: 600;
      color: $c_white;
    }

    @media #{$screen-sm} {
      width: auto;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__action-button {
    display: flex;
    justify-content: flex-end;

    @media #{$screen-md} {
      margin: 80px 0;
    }
  }
}
