@import '../../../styles/_main';

.QuarterPanel__main {
  display: grid;
  flex-direction: column;
  width: 818px;
  gap: 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  &__title {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 182px;
    margin-top: 20px;
    text-align: right;
  }

  &__subtitle {
    width: 160px;
    height: 48px;
    font-size: 40px;
    text-align: right;
  }

  &__quarters {
    font-size: 32px;
    color: $c_gray_500;
  }

  &__subtitle__loading {
    width: 160px;
    height: 40px;
    background-color: $c_neutral-200;
    border-radius: 2px;
  }

  &__discription__loading {
    width: 140px;
    height: 32px;
    margin-top: 20px;
    background-color: $c_neutral-200;
    border-radius: 2px;
  }

  &__timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__line {
    top: 1px;
    left: 10px;
    width: 4px;
    height: -webkit-fill-available;
    background-color: $c_neutral-200;
  }

  &__panel__loading {
    width: 500px;
    height: 324px;
    padding: 24px;
    background: $c_neutral-200;
    border-radius: 4px;
    gap: 16px;
  }

  &__panel {
    width: 500px;
    margin: 30px 0;
    padding: 24px;
    background: white;
    border-radius: 4px;
    gap: 16px;

    &__title {
      //styleName: h7;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: left;
    }

    &__content {
      //styleName: Base 4;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      color: $c_panel_content;
      text-align: left;
    }
  }

  &__link {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__linkIcon {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 10px 0;
  }
}
