@import '../../../styles/_main';

.Iconography {
  &__icon-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$screen-sm} {
      margin-top: 100px;
    }
  }

  &__icon-descriptive,
  &__icon-system {
    position: relative;
    width: 100%;

    &::after {
      display: block;
      padding-bottom: 72%;
      content: '';
    }

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__system-icon-container {
    margin: 80px 0;

    @media #{$screen-sm} {
      margin: 160px 0;
    }
  }

  &__icon-type {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    @media #{$screen-sm} {
      flex-direction: column;
      width: calc(50% - 20px);
    }
  }

  &__icon-text {
    margin-bottom: 20px;
    font-size: 18px;
    color: $c_white;

    @media #{$screen-sm} {
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__icon-descriptive {
    margin-bottom: 40px;
    color: $c_blue-ribbon;
    background: $c_white;

    > svg {
      width: 30%;
    }

    @media #{$screen-sm} {
      margin-bottom: 0;
    }
  }

  &__icon-system {
    background-color: $c_black;
    border: 1px solid $c_ebony-clay;

    > svg {
      width: 25%;
    }
  }

  &__descriptive-box {
    display: block;
    margin-bottom: 40px;

    @media #{$screen-sm} {
      display: none;
    }
  }

  &__descriptive-icons {
    &--mobile {
      display: block;
      margin-bottom: 40px;

      @media #{$screen-sm} {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media #{$screen-sm} {
        display: block;
        margin-bottom: 80px;
      }
    }
  }

  &__system-icon {
    max-width: 800px;

    @media #{$screen-sm} {
      display: flex;
      align-items: center;
      margin-bottom: 80px;
    }
  }

  &__system-icon-image {
    margin-bottom: 40px;

    @media #{$screen-sm} {
      margin-right: 40px;
    }
  }

  &__showcase {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    @media #{$screen-sm} {
      margin: 0 -20px;
    }
  }

  &__showcase-row {
    width: 50%;
    margin-bottom: 40px;
    padding: 0 10px;

    @media #{$screen-sm} {
      width: 25%;
      padding: 0 20px;
    }
  }

  &__showcase-title {
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 600;
    color: $c_white;

    @media #{$screen-sm} {
      margin-bottom: 40px;
      font-size: 14px;
      text-align: center;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;

    @media #{$screen-sm} {
      margin-bottom: 80px;
      font-size: 20px;
    }
  }
}

.BrandListItem {
  display: flex;
  max-width: 800px;

  &__bullet {
    flex-shrink: 0;
    width: 78px;
    font-family: $font-primary;
    font-size: 30px;
    color: $c_blue-ribbon;

    @media #{$screen-sm} {
      width: 120px;
      font-size: 40px;
    }
  }
}

.IconSlide {
  position: relative;

  > svg {
    flex-grow: 1;
    max-width: 50%;
    max-height: 50%;
  }

  &__description {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-family: $font-primary;
    font-size: 10px;
    font-weight: bold;
  }
}
