@import '../../../styles/main';

.CashoutPage {
  &__form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 737px;
    margin-top: -76px;
    background-color: #f2f5f9;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 712px;
    background-color: $c_white;
    place-items: center;

    &__header {
      width: 100%;
      height: 76px;
      padding: 24px 32px;
      border-bottom: 1px solid #dee3e9;

      &__title {
        font-family: $font-primary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
      }
    }

    &__body {
      width: 100%;
      padding: 28px 32px 32px 32px;

      &--loading * {
        opacity: .6;
      }

      &__input-wrapper {
        width: 100%;
        margin-bottom: 21px;
      }

      &__input-label-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 7px;
      }

      &__input-label {
        font-family: $font-secondary;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -.30000001192092896px;
        color: $c_black;
      }

      &__help-icon {
        margin-left: 4px;
        cursor: pointer;
      }

      &__help-text {
        position: absolute;
        padding: 16px 24px;
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
        color: $c_white;
        background-color: #1f252e;
        border-radius: 4px;
        opacity: 0;
        animation: fadein .3s ease-in-out .1s;
        animation-fill-mode: forwards;
      }

      &__input {
        width: 100%;
        height: 60px;
        padding-left: 18px;
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -.4000000059604645px;
        border: 2px solid #dee3e9;

        &--number {
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
          }
        }
      }

      &__amount-inputs {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }

      &__amount-input-wrapper {
        display: flex;
        flex-direction: row;
      }

      &__amount-input {
        width: 100%;
        height: 60px;
        padding-right: 99px;
        padding-left: 18px;
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -.4000000059604645px;
        border: 2px solid #f2f5f9;

        &--number {
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
          }
        }

        &--active {
          border: 2px solid #dee3e9;
        }

        &__type {
          display: grid;
          width: 81px;
          height: 100%;
          margin-left: -81px;
          color: #a5adb9;
          border-left: 2px solid #f2f5f9;
          fill: #a5adb9;
          place-items: center;

          &--active {
            color: $c_black;
            border: 2px solid #dee3e9;
            fill: $c_blue-ribbon;
          }

          &--output {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            cursor: pointer;

            &:hover {
              color: $c_black;
              fill: $c_blue-ribbon;
            }
          }
        }

        &__scroller {
          display: flex;
          flex-direction: column;
          margin-right: 1px;
          margin-bottom: 1px;
          margin-left: 10px;
          gap: 5px;

          & > svg:nth-of-type(2) {
            transform: rotate((180deg));
          }
        }
      }

      &__approximation-symbol {
        margin: auto 0;
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -.4000000059604645px;
        color: #a5adb9;
        text-align: center;
      }

      &__input-info {
        margin-top: 8px;
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
        color: #81858d;
      }

      &__input-error {
        margin-top: 6px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
        color: #ff3861;
      }

      &__notice {
        margin-bottom: 32px;
        padding: 24px;
        background-color: #f2f5f9;

        &__header {
          display: flex;
          flex-direction: row;
          margin-bottom: 16px;
          gap: 13px;

          &__icon {
            margin-top: 3px;
          }
        }

        &__header > p {
          font-family: $font-primary;
          font-size: 20px;
          line-height: 28px;
          color: $c_black;
        }

        & > p {
          font-family: $font-primary;
          font-size: 18px;
          line-height: 24px;
          color: #5c6475;

          & > span {
            color: $c_black;
          }
        }
      }

      &__button {
        width: 100%;
        height: 60px;
        background-color: #a7aeb7;

        &:hover {
          background-color: #a7aeb7;
        }

        &--active {
          background-color: $c_blue-ribbon;

          &:hover {
            background-color: #322af1;
          }
        }
      }

      &__loader {
        width: 56px;
        margin: 0 auto;
        opacity: 1;

        & * {
          opacity: 1;
        }

        & circle {
          opacity: 0;
        }
      }
    }

    &__final-screen {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 32px 64px;

      &__body-wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }

      &__icon {
        margin-bottom: 32px;
      }

      &__title {
        margin-bottom: 8px;
        font-family: $font-primary;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
      }

      &__subtitle {
        font-family: $font-secondary;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -.20000000298023224px;
        text-align: center;
      }

      &__button {
        align-self: flex-end;
        width: 100%;
        height: 60px;
        color: #4038ff;
        background-color: transparent;
        border: 2px solid #4038ff;
        justify-self: flex-end;

        &:hover {
          color: #4038ff;
          background-color: transparent;
          border: 2px solid #4038ff;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
