@import '../../../styles/main';

.PrimerPage {
  &__governance-wrapper {
    padding: 80px 0;
    color: #f3f5f9;
  }

  &__governance {
    @extend %container;

    &__section-title {
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: .04em;
      color: #5c6475;
      text-align: left;
    }

    &__title {
      margin-top: 24px;
      font-family: $font-primary;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0;
      text-align: left;
    }

    &__pioneer {
      margin-top: 80px;

      &__title {
        font-family: $font-primary;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0;
        text-align: left;
      }

      &__text {
        margin-top: 24px;
        font-family: $font-secondary;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0;
        color: #5c6475;
        text-align: left;
      }

      &__image {
        width: 100%;
        margin-top: 80px;
      }
    }

    &__quote {
      max-width: 902px;
      margin: 0 auto;
      margin-top: 138px;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
