@import '../../styles/main';

.dashboard-section-header {
  // padding-top: calc(32px + $dashboard-header-sum-of-heights);
  padding-top: calc(32px + $dashboard-header-height);

  margin-bottom: 16px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $dashboard-base-border-color;

  &.scroll-offset {
    padding-top: calc(32px + $dashboard-header-sum-of-heights);
  }

  &__heading {
    @include h500;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__button-copy-link {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    @include t300;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
    border-radius: 2px;
    cursor: pointer;
    @include dashboard-buttons-states;

    &_text {
      display: none;
    }

    &_icon {
      margin-left: 8px;
    }
  }

  &__tooltip {
    padding: 8px;
    position: absolute;
    bottom: calc(100% - 24px - $dashboard-header-height);
    right: 0;
    background-color: $dashboard-section-header-tooltip-background-color;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    transition-delay: 0.1s;

    &.is-link-copied-tooltip-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tooltip-text {
    @include t100;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-xs} {
    &__heading {
      @include h600;
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__button-copy-link {
      &_short-text {
        display: none;
      }
      &_text {
        display: block;
      }
    }
  }

  @media #{$screen-min-dashboard-md} {
    & {
      margin-bottom: 24px;
      padding-bottom: 24px;
    }

    &__heading {
      @include h700;
    }
  }
}
