@import '../../styles/_main';

$indentation: 60px;

.Hero {
  $_r: &;

  width: 100%;
  padding: 40px 10px;
  background-color: $c_black;

  &__container {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }

  &__content {
    flex: 1;
    text-align: center;
  }

  &__description {
    margin: 16px 0;

    & > p {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
      line-height: 26px;
      color: $c_white;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    color: $c_white;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 100%;
    padding: 0 80px 40px;
  }

  @media #{$screen-sm} {
    &__title {
      font-size: 45px;
      line-height: 45px;
    }
  }

  @media #{$screen-md} {
    padding: 90px 30px 0;

    &--indented {
      margin-bottom: $indentation;

      #{$_r}__description {
        margin-bottom: -$indentation;
      }
    }

    &__container {
      flex-direction: row;
      padding: 0 32px;

      & > * {
        flex-basis: 50%;
      }
    }

    &__content {
      margin-right: 16px;
      text-align: left;
    }

    &__description {
      margin: 60px 0;
      padding: 0;

      & > p {
        padding-right: 0;
        padding-left: 0;
        font-size: 25px;
        line-height: 40px;
      }
    }

    &__title {
      font-size: 65px;
      line-height: 78px;
    }

    &__image-wrapper {
      align-items: stretch;

      button {
        align-self: flex-end;
      }
    }

    &__image {
      padding: 0 0 0 32px;
    }
  }
}
