@import '../../styles/_main';

$indentation: 60px;

.Hero {
  $_r: &;

  width: 100%;
  padding: 40px 10px;
  background-color: $c_black;

  &--blue {
    background-color: $c_blue-ribbon;

    #{$_r}__description p {
      color: $c_white;
    }
  }

  &--no-overflow {
    overflow: hidden;
  }

  &__container {
    @extend %container;

    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
    padding: 0;
  }

  &__content {
    flex: 1;
    text-align: center;
  }

  &__description {
    margin: 16px 0;

    & > p {
      max-width: 500px;
      margin: 0 auto;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 20px;
      line-height: 26px;
      color: $c_oslo-gray;
    }
  }

  &__title {
    font-size: 45px;
    line-height: 45px;
    color: $c_white;
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__image {
    width: 100%;
    min-width: 300px;
    margin-bottom: 32px;
  }

  &__chip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$screen-sm} {
    &__image {
      min-width: 500px;
    }
  }

  @media #{$screen-lg} {
    padding: 90px 30px 0;

    &--indented {
      margin-bottom: $indentation;

      #{$_r}__description {
        margin-bottom: -$indentation;
      }

      #{$_r}__image-wrapper {
        margin-bottom: -$indentation;
      }
    }

    &__container {
      flex-direction: row;
      padding: 0 32px;

      & > * {
        flex-basis: 50%;
      }
    }

    &__content {
      margin-right: 16px;
      text-align: left;
    }

    &__description {
      margin: 60px 0;
      padding: 0;

      & > p {
        max-width: 590px;
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        font-size: 25px;
        line-height: 40px;
      }
    }

    &__title {
      font-size: 65px;
      line-height: 78px;
    }

    &__image-wrapper {
      align-items: stretch;
      justify-content: center;
      margin-bottom: 0;

      button {
        align-self: flex-end;
      }
    }
  }
}
