@import "../../../styles/_main";
@import "../../../styles/common/colors";

.GlossaryTeams {
  padding: 80px 99px 80px 99px;
  text-align: center;
  background-color: $c_wood-smoke;
  gap: 64px;

  &__head__panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 816px;
    margin: 0 auto;
    gap: 16px;
    grid-gap: 10px;

    &__title {
      font-family: $font-primary;
      font-size: 40px;
      color: white;
      gap: 4px;
    }

    &__subtitle {
      max-width: 450px;
      margin-top: 20px;
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 28px;
      color: #cdcdcd;
    }
  }

  &__search__panel {
    position: relative;
    display: -webkit-inline-box;
    align-items: center;
    max-width: 394px;

    &__input {
      height: 56px;
      padding-top: 32px;
      border: 2px;
      border-radius: 4px;
      gap: 8px;
    }

    &__icon {
      position: absolute;
      left: 20px;
      margin-top: 20px;
    }

    &__inputbox {
      margin-left: 10px;
      padding-left: 28px;
    }
  }

  &__slider__text {
    font-size: 60px;
    color: white;
  }

  &__body__slider {
    display: grid;
    margin: 64px 0 64px 0;
    gap: 32px;
    justify-items: center;
    &__body {
      position: static;
      margin-top: 64px;
      margin-bottom: 32px;
      overflow-x: hidden;
      white-space: nowrap;
      overflow-y: hidden;
    }

    &__cards {
      display: grid;
      align-items: center;
      flex-direction: column;
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__slider {
      background-color: $c_wood-smoke;
      display: flex;
      align-items: center;
      height: 50px;
    }

    &__slide {
      width: 48px;
      height: 48px;
      padding: 12px;
      gap: 8px;
      color: white;
      font-size: 26px;
      border-radius: 50%;
      &:hover {
        background: #5c6475;
      }
      &:active {
        background: #4038ff;
      }
    }

    &__button {
      //styleName: h7;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      color: #6c6cff;
      text-align: left;
      &:hover {
        background-color: #6c6cff;
      }
    }
  }

  @media #{$screen-sm} {
    padding: 46px 0;
    background-position: bottom left;
    background-repeat: repeat-x;
  }

  @media (max-width: 1024px) {
    padding: 16px 0;
    gap: 16px;

    &__body__slider {
      &__cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__options {
      &-wrapper {
        width: auto;
      }

      &__dropdown {
        width: auto;
        margin: 0 10px;
      }
    }

    &__form {
      flex-direction: column;

      &__subtitle {
        max-width: 315px;
      }

      &__select {
        width: auto;
      }

      &__button {
        width: -webkit-fill-available;
        margin: 12px 10px;
        padding: 0 30px;
        color: $c_blue-ribbon;
        border: 2px solid $c_blue-ribbon;
      }
    }
  }
}
