@import '../../../styles/main';

.FoundingMembersFormPage {
  padding-bottom: 350px;
  background-color: $c_catskill-white;

  &__header {
    padding: 24px 0 84px 0;
    background-color: $c_black;

    &__title-wrapper {
      @extend %container;

      margin-top: 40px;
      margin-bottom: 40px;
    }

    &__title {
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0;
      color: $c_white;
    }

    &__title-date {
      display: none;
    }
  }

  &__back {
    @extend %container;

    &__arrow {
      color: $c_blue-ribbon;
      transform: rotate(90deg) scale(.79);
    }

    &__text {
      display: flex;
      align-items: center;
      font-family: $font-secondary;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -.4000000059604645px;
      color: $c_white;
      text-align: right;

      span {
        margin-left: 17px;
      }
    }
  }

  &__body {
    @extend %container;

    display: flex;
  }

  &__form {
    width: 712px;
    margin-top: -80px;
    background-color: $c_white;

    &__progress {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 80px;
      padding: 0 64px;
      color: $c_ebony-clay;
      border-bottom: 1px solid #dee3e9;
    }

    &__progress-item {
      display: flex;
      align-items: center;

      &__text {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }
    }

    &__progress-id {
      position: relative;
      display: grid;
      width: 28px;
      height: 28px;
      margin-right: 10px;
      font-family: $font-secondary;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -.4000000059604645px;
      color: black;
      text-align: center;
      background-color: #dfe4ea;
      border-radius: 50%;
      place-items: center;
    }

    &__progress-id--active {
      color: $c_white;
      background-color: $c_black;
    }

    &__progress-tick-wrapper {
      position: absolute;
      right: -2px;
      bottom: -2px;
      display: grid;
      width: 12px;
      height: 12px;
      background-color: #00c29c;
      border-radius: 50%;
      place-items: center;
    }

    &__progress-tick {
      color: white;
      transform: scale(.5);
    }

    &__body {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 37px 64px 40px;
    }

    &__subtitle {
      font-family: $font-secondary;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -.30000001192092896px;
    }

    &__subtitle-small {
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.4000000059604645px;
    }

    &__input {
      width: 100%;
      height: 60px;
      padding-left: 18px;
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -.4000000059604645px;
      border: 2px solid #dee3e9;
    }

    &__button {
      width: 100%;
      height: 60px;
      margin-top: 32px;

      &--inactive {
        background-color: #a7aeb7;

        &:hover {
          background-color: #a7aeb7;
        }
      }
    }

    &__link {
      font-family: $font-secondary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }

    &__hidden-input {
      position: absolute;
      z-index: -1;
      width: .1px;
      height: .1px;
      overflow: hidden;
      opacity: 0;
    }

    &__filedrop {
      display: grid;
      width: 100%;
      height: 120px;
      background-color: #f2f5f9;
      border: 2px dashed #a7aeb7;
      place-items: center;

      &--active {
        background-color: #e5eefb;
        border: 2px dashed $c_blue-ribbon;
      }

      &--mobile {
        display: none;
      }

      &__text {
        font-family: $font-secondary;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
      }

      &__label {
        display: grid;
        width: 100%;
        height: 100%;
        cursor: pointer;
        place-items: center;
      }

      &__upload-icon {
        margin-left: 8px;
      }
    }

    &__loader {
      width: 300px;
      height: 8px;
      background-color: $c_white;
    }

    &__loaded {
      height: 8px;
      background-color: $c_blue-ribbon;
    }

    &__confirmation {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 18px;
      border: 2px solid #dee3e9;

      &__tick {
        width: 15px;
        height: 12px;
        margin-left: 12px;
        color: #00c29c;
      }

      &__error {
        width: 15px;
        height: 15px;
        margin-left: 12px;
        color: #ff3861;
      }

      &__close {
        position: absolute;
        top: 0;
        right: 18px;
        bottom: 0;
        width: 15px;
        height: 15px;
        margin: auto 0;
        cursor: pointer;
      }
    }

    &__text-wrapper {
      width: 100%;
      height: 251px;
      padding: 16px;
      overflow-y: auto;
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -.4000000059604645px;
      border: 2px solid #dee3e9;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        height: 20px;
        background: #dee3e9;
      }
    }

    &__submitted {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 98px 16px 107px;

      &__tick {
        width: 42px;
        height: 36px;
        color: #00c29c;
      }

      &__title {
        font-family: $font-primary;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: center;
      }

      &__text {
        width: 465px;
        font-family: $font-secondary;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -.20000000298023224px;
        text-align: center;
      }
    }

    &__error-message {
      margin-top: 6px;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.4000000059604645px;
      color: #ff3861;
      text-align: left;

      a {
        color: #ff3861;
        text-decoration: underline;
      }
    }

    &__profile {
      display: flex;
      flex-direction: row;
      width: 100%;

      &__picture {
        display: grid;
        max-width: 64px;
        max-height: 64px;
        min-width: 64px;
        min-height: 64px;
        background-color: #eff2f6;
        border-radius: 50%;
        place-items: center;
      }

      &__data {
        flex: 1;
        margin-left: 16px;
        padding: 8px 0;
        overflow-x: hidden;
      }

      &__membership {
        width: 100%;
        font-family: $font-secondary;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -.20000000298023224px;
        color: $c_black;
        text-overflow: ellipsis;
      }

      &__joy-amount {
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
      }
    }
  }

  &__counter {
    width: 500px;
    height: 310px;
    min-width: 500px;
    min-height: 310px;
    margin-top: -80px;
    margin-left: 30px;
    background-color: $c_blue-ribbon;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 64px;
      padding: 18px;
      background-color: $c_han-purple;

      &__title {
        font-family: $font-primary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
        color: $c_white;
      }

      &__subtitle {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
        color: #dfe4ea;

        span {
          margin-left: 8px;
          font-family: $font-primary;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0;
          color: $c_white;
        }
      }
    }

    &__body {
      margin: auto;
      background: none;
    }
  }

  @media #{$screen-max-lg} {
    &__form {
      &__progress {
        padding: 0 20px;
      }

      &__progress-item {
        flex-direction: column;
        justify-content: space-between;
      }

      &__progress-id {
        margin-right: 0;
        margin-bottom: 6px;
      }

      &__body {
        padding: 20px;
      }

      &__subtitle {
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
      }

      &__subtitle-small {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }

      &__link {
        font-family: $font-primary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      &__submitted {
        &__text {
          width: auto;
        }
      }
    }
  }

  @media #{$screen-max-md} {
    &__header {
      padding: 24px 20px 84px;

      &__title-wrapper {
        display: flex;
        align-items: center;
        margin: 20px 0;
        padding: 0;
      }

      &__title {
        display: inline-block;
        font-family: $font-primary;
        font-size: 24px;
        line-height: 32px;
      }

      &__title-date {
        display: block;
        margin-top: -2px;
        margin-left: 8px;
        padding: 4px;
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
        color: white;
        background-color: $c_ebony-clay;
      }
    }

    &__back {
      &__text {
        span {
          display: none;
        }
      }
    }

    &__body {
      padding: 0 20px;
    }

    &__form {
      width: 100%;

      &__error-message {
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;
      }
    }

    &__counter {
      display: none;
    }
  }

  @media #{$screen-max-sm} {
    &__form {
      &__input-title-mobile {
        position: absolute;
        top: 8px;
        left: 30px;
        padding: 0 5px;
        color: #7b8a95;
        background-color: white;
      }

      &__body {
        padding: 16px;
      }

      &__submitted {
        padding: 85px 0 80px;

        &__title {
          font-size: 20px;
          line-height: 28px;
        }

        &__text {
          font-size: 14px;
          line-height: 20px;
        }

        &__tick {
          width: 28px;
          height: 22px;
        }
      }

      &__filedrop {
        height: 48px;
        background-color: $c_white;
        border: 2px solid $c_blue-ribbon;

        &__label > p:nth-of-type(1) {
          display: none;
        }

        &--mobile {
          display: flex;
        }
      }

      &__input {
        height: 48px;
      }

      &__button {
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 450px) {
    &__header {
      &__title-wrapper {
        align-items: flex-start;
        flex-direction: column;
      }

      &__title-date {
        margin: 10px 0 0 0;
      }
    }
  }
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.margin-bottom-XS {
  margin-bottom: 8px;
}

.margin-bottom-S {
  margin-bottom: 12px;
}

.margin-bottom-M {
  margin-bottom: 24px;
}

.margin-bottom-L {
  margin-bottom: 32px;
}
