@import '../../../../styles/main';

.dashboard-team-working-groups {
  margin-bottom: 64px;

  &__description-widget-wrapper {
    margin-bottom: 16px;
    padding: 1px;
    background: linear-gradient(180deg, #52616b 0%, rgba(82, 97, 107, 0) 100%);
    border-radius: 8px;
  }

  &__description-widget {
    @include dashboard-widget;
    background-color: get-color-from-opaque-and-background(rgb(188, 213, 250), 0.08, $c_black);
  }

  &__description-widget-heading {
    margin-bottom: 16px;
    @include h600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__description {
    max-width: 450px;
    @include t200;
    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__group-link {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__group {
    position: relative;
    width: 272px;
    height: 100%;
    background-color: $dashboard-widget-base-background-color;
    border: 1px solid $dashboard-widget-base-background-color;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      border: 1px solid #dce1e56b;
    }
  }

  &__group-inner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    clip-path: border-box;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    z-index: -1;
  }

  &__group-inner-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #101214bf;
    z-index: -1;
  }

  &__group-content-container {
    padding: 52px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__group-logo-wrapper {
    margin-bottom: 8px;
    margin-inline: auto;
    width: 56px;
    height: 56px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dae2eb;
    border-radius: 8px;
  }

  &__group-logo {
    width: 48px;
    mix-blend-mode: darken;
  }

  &__group-name {
    @include h500;
    color: $dashboard-base-white-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
    text-align: center;
    text-transform: capitalize;
  }

  &__group-lead-and-budget {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__group-labels {
    margin-bottom: 4px;
    @include t300;
    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;

    &.with-margin-bottom-increased {
      margin-bottom: 8px;
    }
  }

  &__group-lead-avatar-name-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__group-lead-avatar {
    width: 32px;
    height: 32px;
    background-color: #0f1114;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #bcd5fa14;
    border-radius: 50%;

    &.size-reduced {
      width: 24px;
      height: 24px;
    }
  }

  &__group-lead-username {
    @include h400;
    color: $dashboard-base-white-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__group-budget-value {
    @extend .dashboard-team-working-groups__group-lead-username;
    color: #fcfcfc;
  }

  &__group-workers-list {
    padding: 0;
    list-style: none;

    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__group-workers-list-item {
    margin: 0;
    padding: 0;
  }

  &__group-worker-tag {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #272d33;
    border-radius: 4px;

    & > svg {
      border-radius: 50%;
    }
  }

  &__group-worker-username {
    @include t100;
    font-weight: 500;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-sm} {
    &__description-widget-heading {
      margin-bottom: 24px;
      @include h700;
    }

    &__group {
      width: 360px;
    }

    &__group-content-container {
      padding: 52px 32px 32px;
    }

    &__group-lead-and-budget {
      gap: 0;
      flex-direction: row;
      & > div {
        width: 50%;
      }
    }
  }

  @media #{$screen-min-dashboard-md} {
    & {
      margin-bottom: 80px;
    }

    &__description-widget-wrapper {
      margin-bottom: 24px;
    }

    &__description-widget-heading {
      @include h800;
    }

    &__group-link {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    &__group {
      width: 560px;
    }

    &__group-name {
      @include h600;
    }

    &__group-lead-username {
      @include h500;
    }
  }
}
