@import '../../styles/main';

.LayoutWrapper {
  &--dark {
    background-color: $c_alabaster;
  }

  &__container {
    @extend %container;

    padding-bottom: 60px;
  }

  @media #{$screen-md} {
    &__container {
      padding-bottom: 130px;
    }
  }
}
