@import '../../styles/_main';

.Subheader {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 40px;
  text-align: center;

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  &__content {
    font-size: 18px;
  }

  &__image {
    width: 60px;
    margin-top: 20px;
  }

  @media #{$screen-md} {
    margin: 80px 0 60px;

    &__title {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 35px;
    }
  }
}
