@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

@mixin logo-wrapper($height, $width) {
  position: relative;
  width: $height;
  height: $width;

  &::before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    content: '';
    box-shadow: inset 0 0 0 1px rgba(163, 195, 242, .19);
  }
}

.IndexPage {
  &__ecosystem-wrapper {
    padding: 96px 32px;
    background-color: $c_black;
  }

  &__ecosystem {
    @include grid;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-column: 1 / 13;

      &__section-title {
        @include h400;

        color: #6c6cff;
      }

      &__title {
        @include h900;

        margin-top: 4px;
        color: $c_white;
        text-align: center;
      }
    }

    &__subtitle {
      @include t400;

      margin-top: 16px;
      color: #a7aeb7;
      text-align: center;
      grid-column: 3 / 11;
    }

    &__browsers {
      position: relative;
      width: 644px;
      height: 403px;
      margin: 96px auto 0;
      grid-column: 2 / 12;

      &__main {
        position: relative;
        z-index: 1;
      }

      & > img {
        width: 100%;
        height: 100%;
      }

      &__alt,
      &__second-alt {
        position: absolute;
        z-index: 0;
        margin: auto;
        inset: 0;
      }

      &__alt {
        &--1 {
          transform: translateX(-215px);
        }

        &--2 {
          transform: translateX(215px);
        }
      }

      &__second-alt {
        &--1 {
          transform: translateX(-365px);
        }

        &--2 {
          transform: translateX(365px);
        }
      }

      &__video-player {
        position: absolute;
        z-index: 2;
        margin: auto;
        inset: 0;
      }
    }

    &__apps {
      margin-top: 120px;
      grid-column: 2 / 12;

      &__title {
        @include h500;

        margin: 0 auto;
        color: $c_white;

        &__app-count {
          @include base-4;

          display: inline-block;
          margin-left: 8px;
          padding: 4px 8px;
          color: #a7aeb7;
          background-color: #111316;
          border-radius: 999px;
        }
      }

      &__main {
        display: flex;
        height: 592px;
        margin: 32px auto 0 auto;
        overflow: hidden;
        background-color: #111316;
        border-radius: 8px;

        &__about {
          max-width: 326px;
          padding: 48px;

          &__logo-wrapper {
            @include logo-wrapper(72px, 72px);
          }

          &__logo {
            width: 100%;
            height: 100%;
          }

          &__section-title {
            @include h100;

            margin-top: 64px;
            color: #6c6cff;
          }

          &__platform-name {
            @include h600;

            margin-top: 8px;
            color: $c_white;
          }

          &__platform-description {
            @include t300;

            margin-top: 8px;
            color: #a7aeb7;
          }

          &__platforms-title {
            @include section-title-md;

            margin-top: 24px;
            color: $c_white;
          }

          &__platforms {
            @include base-3;

            margin-top: 8px;
            color: #a7aeb7;
          }

          &__link {
            display: inline-block;
            margin-top: 24px;
            font-family: $font-primary;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0;
            color: #6c6cff;

            &__icon {
              margin-bottom: -3px;
              margin-left: 8px;
              transform: rotate(-90deg) scale(.8);
            }
          }
        }

        &__visual {
          position: relative;
          padding: 48px;

          &__image {
            height: 100%;
          }

          &__bottom-gradient {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 136px;
            background: linear-gradient(180deg, rgba(17, 19, 22, 0) 0%, #111316 100%);
          }
        }
      }

      &__carousel {
        display: flex;
        margin: 24px auto 0 auto;
        overflow-x: auto;
        gap: 24px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          height: 0;
        }

        &__item {
          display: inline-block;
          width: 284px;
          height: 288px;
          max-width: 284px;
          padding: 24px;
          background-color: #111316;
          border-radius: 8px;

          &:hover {
            background-color: #1f252e;
          }

          &--placeholder {
            &:hover {
              background-color: #111316;
            }
          }

          &__logo-wrapper {
            @include logo-wrapper(64px, 64px);
          }

          &__logo {
            width: 100%;
            height: 100%;
            border-radius: 12px;
          }

          &__title {
            @include h400;

            margin-top: 40px;
            color: $c_white;
          }

          &__content {
            @include t200;

            margin-top: 8px;
            color: #a7aeb7;
          }

          &__platforms-title {
            @include h100;

            margin-top: 16px;
            color: #dee3e9;
          }

          &__platforms {
            @include t200;

            margin-top: 8px;
            color: #a7aeb7;
          }
        }
      }

      &__carousel-controls {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 8px;

        &__item {
          width: 32px;
          height: 4px;
          min-width: 32px;
          min-height: 4px;
          cursor: pointer;
          background-color: #5c6475;

          &--active {
            cursor: auto;
            background-color: #dee3e9;
          }
        }
      }

      &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px auto 0 auto;

        &__text {
          @include t100;

          font-weight: 500;
          color: #a7aeb7;
        }

        &__icon {
          width: 16px;
          min-width: 16px;
          margin-right: 6px;
          fill: #d9d9d9;
        }
      }
    }

    &__developers {
      margin: 0 auto;
      margin-top: 96px;
      grid-column: 2 / 12;

      &__main {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;

        &__about {
          &__section-title {
            @include h400;

            color: #6c6cff;
          }

          &__title {
            @include h600;

            margin-top: 4px;
            color: $c_white;
          }

          &__subtitle {
            @include t400;

            margin-top: 16px;
            color: #a7aeb7;
          }

          &__link {
            @include t300;

            max-width: 312px;
            margin-top: 32px;
            padding: 20px 32px;
            font-weight: 600;
            color: $c_white;
            background-color: $c_blue-ribbon;
            border-radius: 8px;

            &:hover {
              background-color: $c_han_purple;
            }

            &__icon {
              margin-bottom: -3px;
              margin-left: 12px;
              transform: rotate(-90deg) scale(.8);
            }
          }
        }

        &__visual {
          width: 584px;
          height: 436px;
          padding: 22px 23px;
          background: url('../../../assets/images/landing/code-background.webp');
          background-repeat: no-repeat;
          background-size: cover;

          &__code {
            margin-top: 24px;
            color: $c_white;

            & > span {
              font-family: $font-ibm-mono;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0;
              color: #5c6475;
              user-select: none;
            }

            & > code {
              margin-left: 20px;

              &,
              & > span {
                font-family: $font-ibm-mono;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0;
                color: #a7aeb7;
              }
            }

            & > code:nth-last-child(1),
            & > code:nth-last-child(2),
            & > code:nth-last-child(3) {
              font-style: italic;
              color: rgba(92, 100, 117, 1);
            }

            &__broken-line {
              display: none;

              &--newline {
                &::before {
                  content: '\a  ';
                }
              }
            }
          }
        }
      }

      &__steps {
        display: flex;
        justify-content: center;
        margin-top: 72px;
        gap: 24px;

        &__item-wrapper {
          max-height: 292px;
          padding: 1px;
          background: linear-gradient(180deg, #52616b 0%, rgba(82, 97, 107, 0) 100%);
          border-radius: 8px;

          &:nth-child(2) {
            margin-top: 24px;
          }

          &:nth-child(3) {
            margin-top: 48px;
          }

          &:nth-child(4) {
            margin-top: 72px;
          }
        }

        &__item {
          width: 267.5px;
          height: 292px;
          padding: 24px;
          background-color: #111316;
          border-radius: 8px;

          &__number {
            font-family: $font-primary;
            font-size: 80px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: 0;
            color: #111316;
            -webkit-text-stroke: 3px #1f252e;
          }

          &__section-title {
            @include section-title-md;

            margin-top: 24px;
            color: #6c6cff;
          }

          &__title {
            @include h6;

            margin-top: 4px;
            color: $c_white;
          }

          &__subtitle {
            @include base-3;

            margin-top: 16px;
            color: #a7aeb7;
          }
        }
      }
    }
  }

  @media (min-width: 1440px) {
    &__ecosystem {
      max-width: calc(1440px - 64px);
    }
  }

  @media (max-width: 1440px) {
    &__ecosystem {
      &__header {
        &__title {
          @include h800;
        }
      }

      &__subtitle {
        grid-column: 1 / 13;
      }

      &__browsers {
        grid-column: 1 / 13;
      }

      &__apps {
        grid-column: 1 / 13;

        &__main {
          height: 552px;

          &__about {
            max-width: 411px;
          }

          &__visual {
            width: 100%;
            padding: 48px 0 0 48px;
            overflow: hidden;

            &__image {
              width: 100%;
              height: auto;
              min-width: 720px;
            }
          }
        }
      }

      &__developers {
        width: 100%;
        grid-column: 1 / 13;

        &__main {
          overflow: hidden;
          grid-template-columns: minmax(468px, 1fr) 1fr;

          &__visual {
            width: 100%;

            &__code {
              &__full-line {
                display: none;
              }

              &__broken-line {
                display: inline;

                &:nth-child(3),
                &:nth-child(4) {
                  display: inline;
                }

                &:nth-child(5) {
                  display: none;
                }
              }
            }
          }
        }

        &__steps {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          &__item-wrapper {
            max-height: 316px;
          }

          &__item {
            width: 100%;
            height: 316px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__ecosystem-wrapper {
      padding: 64px 16px;
    }

    &__ecosystem {
      &__header {
        &__title {
          @include h700;
        }
      }

      &__apps {
        margin-top: 86px;

        &__title {
          @include h400;

          width: 100%;
        }

        &__main {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 832px;

          &__about {
            max-width: 100%;
            padding: 24px 16px;

            &__section-title {
              margin-top: 40px;
            }
          }

          &__visual {
            padding: 28px 24px 0 24px;

            &__image {
              height: auto;
              min-width: 688px;
            }
          }
        }

        &__carousel {
          width: 100%;
          margin-top: 16px;
          gap: 16px;
        }
      }

      &__developers {
        width: 100%;

        &__main {
          display: flex;
          flex-direction: column;
          gap: 56px;

          &__visual {
            width: 100%;
            height: 320px;

            &__code {
              &__full-line {
                display: inline;
              }

              &__broken-line {
                display: none;

                &:nth-child(3),
                &:nth-child(4) {
                  display: none;
                }
              }
            }
          }
        }

        &__steps {
          justify-content: unset;
          margin-top: 0;
          margin-top: 56px;
          padding: 0 0 2px 0;
          overflow-x: auto;
          gap: 16px;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            height: 0;
          }

          &__item-wrapper {
            max-height: 292px;
            padding: 2px;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              margin-top: 0;
            }
          }

          &__item {
            width: 283px;
            height: 292px;

            &__number {
              line-height: 80px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__ecosystem {
      &__header {
        &__title {
          @include h600;
        }
      }

      &__subtitle {
        @include t300;
      }

      &__browsers {
        width: 186px;
        height: 116px;
        margin: 48px auto 0;

        &__alt {
          &--1 {
            transform: translateX(-62px);
          }

          &--2 {
            transform: translateX(62px);
          }
        }

        &__second-alt {
          &--1 {
            transform: translateX(-105px);
          }

          &--2 {
            transform: translateX(105px);
          }
        }
      }

      &__apps {
        margin-top: 64px;

        &__main {
          height: 864px;

          &__visual {
            padding-right: 0;

            &__image {
              height: 447px;
              min-width: 647px;
            }
          }
        }
      }

      &__developers {
        margin-top: 64px;

        &__main {
          gap: 48px;

          &__about {
            &__title {
              @include h500;
            }

            &__subtitle {
              @include t300;
            }

            &__link {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              max-width: 393px;
              padding: 20px 10px;
              font-weight: 600;

              &__icon {
                margin-bottom: 0;
              }
            }
          }

          &__visual {
            &__code {
              &__full-line {
                display: none;
              }

              &__broken-line {
                display: inline;

                &:nth-child(5) {
                  display: none;
                }

                &:nth-child(3),
                &:nth-child(4) {
                  display: inline;
                }
              }
            }
          }
        }

        &__steps {
          margin-top: 48px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__ecosystem {
      &__header {
        &__title {
          @include h500;

          & > br {
            display: none;
          }
        }
      }

      &__apps {
        &__title {
          display: flex;
          align-items: center;

          &__app-count {
            display: grid;
            width: 32px;
            height: 28px;
            min-width: 32px;
            min-height: 28px;
            place-items: center;
          }
        }

        &__main {
          height: 796px;

          &__about {
            &__platform-name {
              @include h500;
            }

            &__link {
              @include t300;

              font-weight: 600;
            }
          }

          &__visual {
            &__image {
              height: 260px;
              min-width: 387px;
            }
          }
        }
      }

      &__developers {
        &__main {
          &__about {
            &__title {
              @include h400;
            }
          }

          &__visual {
            &__code {
              &__broken-line {
                &:nth-child(4) {
                  & > span {
                    display: none;
                  }
                }

                &:nth-child(5) {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}
