@import '../../../../styles/main';

.FoundingMembersPage {
  &__list-wrapper {
    padding: 490px 0 120px 0;
    background-color: #f2f5f9;
  }

  &__list {
    width: 1242px;
    margin: 0 auto;

    &__title {
      margin: 0 0 40px 0;
      font-family: $font-primary;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;

      span {
        margin-left: 12px;
        color: #81858d;
      }
    }
  }

  &__card {
    &__main {
      display: flex;

      &__icon {
        width: 64px;
        height: 64px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 12px;
      }

      &__name {
        font-family: $font-primary;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
      }
    }

    &__scores {
      display: grid;
      justify-content: space-between;
      margin: 11px 0 19px 0;
      grid-template-columns: repeat(2, 110px);
    }

    &__score {
      &__title {
        font-family: $font-secondary;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -.4000000059604645px;
      }

      &__stat {
        font-family: $font-primary;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        color: #4038ff;
      }
    }

    &__referrer {
      display: flex;
      margin-top: 9px;

      &__title {
        font-family: $font-secondary;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -.4000000059604645px;
      }

      &__icon {
        width: 32px;
        height: 32px;
        background-color: #dfe4ea;
        border-radius: 50%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 8px;
      }

      &__name {
        font-family: $font-primary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      &__handle {
        font-family: $font-secondary;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -.4000000059604645px;
      }
    }
  }

  @media (max-width: 1300px) {
    &__list {
      width: 100%;
      margin: 0;

      &__title {
        padding-left: 40px;
      }
    }
  }

  @media #{$screen-max-md} {
    &__list-wrapper {
      padding: 850px 0 70px 0;
    }
  }

  @media #{$screen-max-sm} {
    &__list {
      &__title {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }

  @media (max-width: 510px) {
    &__list-wrapper {
      padding-top: 1050px;
    }
  }
}
