@import '../../../../styles/main';

.dashboard-token-price-chart-widget {
  @include dashboard-widget;
  padding-right: 0;

  &__current-price {
    @include h600;
    color: $dashboard-base-white-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__growth-rate {
    @include dashboard-widget-helper-text;
    margin-bottom: 16px;
  }

  @media #{$screen-min-dashboard-sm} {
    & {
      padding-right: 0px;
    }

    &__current-price {
      @include h700;
    }
  }

  @media #{$screen-min-dashboard-md} {
    &__current-price {
      @include h800;
    }
  }
}
