@import '../../../styles/main';

.CouncilResponsibilities {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 818px;
    margin: auto;
  }

  &__title {
    width: 818px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 394px;
    height: 168px;
    margin-bottom: 16px;
    padding: 32px;
    background: $c_white;

    &__image {
      width: 80px;
      height: 80px;
    }

    &__title {
      width: 242px;
      padding-left: 24px;
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      color: $c_black;
    }
  }

  @media #{$screen-max-sm} {
    &__content {
      width: calc(90vw);
      margin: auto;
    }

    &__title {
      width: calc(90vw);
      padding: 0;
      padding-top: 80px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 40px;
    }
  }
  @media (max-width: 500px) {
    &__content {
      width: calc(90vw);
      margin: auto;
    }

    &__title {
      width: calc(90vw);
      padding: 0;
      padding-top: 80px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 40px;
    }
  }
}
