@import '../../../styles/main';
@import '../../../pages/style';
@import '../shared-styles';

.IndexPage {
  &__video-nfts-wrapper {
    padding: 96px 0 0 0;
    background-color: #111316;
  }

  &__video-nfts {
    @include grid;

    padding: 0 32px;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      grid-column: 1 / 13;

      &__section-title {
        @include h400;

        color: #6c6cff;
      }

      &__title {
        @include h900;

        margin-top: 4px;
        color: $c_white;
        text-align: center;
      }
    }

    &__subtitle {
      @include t400;

      margin-top: 16px;
      color: #a7aeb7;
      text-align: center;
      grid-column: 3 / 11;
    }

    &__content-section {
      display: grid;
      // max-width: 1142px;
      min-height: 413px;
      margin-top: 96px;
      gap: 32px;
      grid-column: 2 / 12;
      grid-template-columns: 670px auto;

      &__illustration {
        position: relative;

        &__foreground {
          position: absolute;
          // inset: 0;
          // margin: auto;
          width: 100%;
        }

        &__popup {
          position: absolute;
          // inset: 0;
          // margin: auto;
          width: 100%;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__section-title {
          @include h400;

          color: #6c6cff;
        }

        &__title {
          @include h600;

          margin-top: 4px;
          color: $c_white;
        }

        &__subtitle {
          @include t400;

          margin-top: 16px;
          color: #a7aeb7;
          white-space: pre-line;
        }
      }
    }

    &__carousel-title-and-info {
      display: flex;
      justify-content: space-between;
      margin-top: 72px;
      grid-column: 2 / 12;

      &__title {
        @include h500;

        font-weight: 600px;
        color: $c_white;
      }

      &__info {
        @include base-5;

        position: relative;
        display: flex;
        align-items: center;
        color: $c_grayc-chateau;
        fill: $c_grayc-chateau;

        &__icon {
          margin-left: 6px;
          fill: inherit;
        }

        &__modal {
          position: absolute;
          right: 0;
          bottom: 30px;
          width: 240px;
          height: auto;
          padding: 12px 12px 18px 12px;
          color: $c_ebony-clay;
          background-color: $c_neutral-200;
          opacity: 0;
          visibility: hidden;
          transition: visibility .2s linear, opacity .2s linear;
          clip-path:
            polygon(
              0% 0%,
              100% 0%,
              100% calc(100% - 6px),
              100% 100%,
              calc(100% - 8px) calc(100% - 6px),
              0% calc(100% - 6px)
            );
        }

        &__label {
          display: flex;
          align-items: center;
        }

        &__label:focus + &__modal {
          opacity: 1;
          visibility: visible;
          fill: $c_white;
        }

        &:hover,
        &__label:focus {
          color: $c_white;
          fill: $c_white;
        }

        &:hover &__modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__video-nfts-carousel {
    $carousel-gap: 24px;

    &__items-wrapper {
      display: flex;
      max-width: 1440px;
      min-height: 354px;
      margin: 0 auto;
      margin-top: 32px;
      overflow: hidden;
      gap: $carousel-gap;
    }

    &__items {
      @include animate-carousel($carousel-gap, 25s);

      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      min-width: 100%;
      gap: $carousel-gap;

      &--paused {
        animation-play-state: paused;
      }
    }

    &__item {
      width: 288px;
      height: 374px;
      overflow: hidden;
      background-color: rgba(188, 213, 250, .08);
      border-radius: 8px;

      &:hover {
        background-color: rgba(187, 217, 246, .13);
        border: 1px solid rgba(203, 224, 241, .27);
      }

      &__image {
        width: 100%;
        height: 162px;
        background: rgba(0, 0, 0, .3);
      }

      &__content {
        padding: 24px;

        &__title {
          @include t100;
          @include line-clamp(2);

          min-height: 32px;
          font-weight: 500;
          color: rgba(129, 133, 141, 1);

          & > span {
            color: #f2f5f9;
          }
        }

        &__price {
          display: flex;
          flex-direction: column;
          margin-top: 16px;

          &__title {
            @include t100;

            font-weight: 500;
            color: #a7aeb7;
          }

          &__amount {
            @include t400;

            margin-top: 4px;
            color: $c_grayc-chateau;

            & > span {
              @include h600;

              color: $c_white;
              text-align: left;
            }
          }
        }

        &__price-usd {
          @include t100;

          margin-top: 4px;
          color: $c_grayc-chateau;
        }

        &__time {
          @include t100;

          display: flex;
          align-items: center;
          margin-top: 16px;
          color: $c_grayc-chateau;

          &__icon {
            margin-right: 6px;
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    &__video-nfts {
      &__header {
        &__title {
          @include h800;
        }
      }

      &__subtitle {
        grid-column: 1 / 13;
      }

      &__content-section {
        grid-column: 1 / 13;
        grid-template-columns: 550px auto;

        &__illustration {
          &__foreground {
            top: 50px;
          }

          &__popup {
            top: 50px;
          }
        }
      }

      &__carousel-title-and-info {
        grid-column: 1 / 13;
      }
    }
  }

  @media (max-width: 1024px) {
    &__video-nfts-wrapper {
      padding: 64px 0 0 0;
    }

    &__video-nfts {
      padding: 0 16px;

      &__header {
        &__title {
          @include h700;
        }
      }

      &__content-section {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        gap: 24px;

        &__illustration {
          margin: 0 auto;

          &__foreground-wrapper,
          &__popup-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            inset: 0;

            & > div {
              position: relative;
              width: 100%;
              height: 100%;
              margin: auto;
              -webkit-transform: none !important;
              transform: none !important;
              inset: 0;
            }
          }

          &__foreground {
            top: 0;
          }

          &__popup {
            top: 0;
          }
        }

        &__content {
          &__title {
            @include h500;
          }
        }
      }

      &__carousel-title-and-info {
        &__title {
          @include h400;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__video-nfts {
      &__header {
        &__title {
          @include h600;
        }
      }

      &__subtitle {
        @include t300;
      }

      &__content-section {
        &__content {
          &__subtitle {
            @include t300;
          }
        }
      }

      &__carousel-title-and-info {
        flex-direction: column;
        margin-top: 56px;

        &__info {
          margin-top: 4px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__video-nfts {
      &__header {
        &__title {
          @include h500;
        }
      }

      &__content-section {
        &__content {
          &__title {
            @include h400;
          }
        }
      }

      &__carousel-title-and-info {
        flex-direction: column;
        margin-top: 56px;

        &__info {
          margin-top: 4px;
        }
      }
    }
  }
}

@keyframes video-nfts-horizontal-scroll-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--video-nfts-carousel-gap)));
  }
}
