@import '../../../styles/main';

.Statistics {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 818px;
    margin: auto;
    margin-top: -80px;
  }

  &__item {
    width: 252px;
    height: 132px;
    margin-bottom: 30px;
    padding: 18px 24px;
    background: $c_white;

    &__title {
      margin-bottom: 10px;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 24px;
      color: #5c6475;
    }

    &__count {
      position: relative;
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      color: $c_black;
    }

    &__linechart {
      &__loader {
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        margin: auto;
      }

      &__tooltip {
        padding: 15px;
        background-color: white;

        &__label {
          margin-bottom: 10px;
          font-family: $font-primary;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
        }

        &__value {
          font-family: $font-secondary;

          span {
            font-weight: bold;
            color: #6c6cff;
          }
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__content {
      width: calc(90vw);
    }
  }

  @media (max-width: 550px) {
    &__content {
      width: calc(90vw);
    }

    &__item {
      width: calc(90vw);
    }
  }
}
