@import '../../../../styles/main';

.dashboard-traction-chart-widget {
  $tick-height-overlapped-by-padding: 8px;
  @include dashboard-widget;

  padding-bottom: 16px + $tick-height-overlapped-by-padding;

  &__indicator-value {
    @include dashboard-widget-text;
  }

  &__growth-rate {
    @include dashboard-widget-helper-text;

    margin-bottom: 16px;
  }

  &__indicator {
    @include t300;

    margin-bottom: 8px;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-sm} {
    & {
      padding-bottom: 32px + $tick-height-overlapped-by-padding;
    }

    &__indicator-value {
      @include h700;
    }

    &__indicator {
      @include t400;
    }
  }

  @media #{$screen-min-dashboard-md} {
    &__indicator-value {
      @include h800;
    }
  }
}
