@import '../../../styles/_main';
@import '../../../pages/style';

.AboutPage {
  &__investors-wrapper {
    padding-top: 96px;
    background-color: $c_black;
  }

  &__investors {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 600px;

      &__section-title {
        @include section-title;

        color: #6c6cff;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: $c_white;
        text-align: center;
      }
    }

    &__list {
      display: grid;
      justify-content: space-between;
      width: 100%;
      margin-top: 80px;
      gap: 48px;
      grid-template-columns: repeat(5, 182px);
    }

    &__list-item {
      display: grid;
      width: 182px;
      place-items: center;

      &__icon--active {
        display: none;
      }

      &__icon--inactive {
        display: block;
      }

      &:hover {
        .AboutPage__investors__list-item__icon--active {
          display: block !important;
        }

        .AboutPage__investors__list-item__icon--inactive {
          display: none !important;
        }
      }
    }
  }
}
