@import '../../../styles/_main';
@import '../../../pages/style';

.AboutPage {
  &__investors-wrapper {
    padding-top: 96px;
    background-color: $c_black;
  }

  &__investors {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 600px;

      &__section-title {
        @include section-title;

        color: #6c6cff;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: $c_white;
        text-align: center;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 80px;
      gap: 48px;
    }

    &__list-item {
      display: grid;
      width: 182px;
      place-items: center;

      &__icon--active {
        display: none;
      }

      &__icon--inactive {
        display: block;
      }

      &:hover {
        .AboutPage__investors__list-item__icon--active {
          display: block !important;
        }

        .AboutPage__investors__list-item__icon--inactive {
          display: none !important;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__investors-wrapper {
      padding-top: 80px;
    }

    &__investors {
      &__header {
        &__title {
          @include h4;
        }
      }

      &__list {
        margin-top: 64px;
        gap: 16px;
      }

      &__list-item {
        width: 160px;
        height: 70px;
      }
    }
  }

  @media (max-width: 450px) {
    &__investors {
      &__header {
        max-width: 315px;
      }
    }
  }
}
