@import './common/colors';
@import './base/reset';
@import './base/font';
@import './common/media';
@import './common/variables';
@import './common/utils';

p {
  font-size: get($font-sizes,'small');

  @media #{$screen-md} {
    font-size: get($font-sizes,'normal');
  }
}

ul {
  list-style-type: square;
}
