@import './base/reset';
@import './common/colors';
@import './common/media';

* {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-size: 12px;
  color: $c_mine-shaft;
}

a {
  color: $c_bluebonnet;
}

ul {
  padding-left: 30px;
  list-style-type: square;

  li {
    margin-bottom: 12px;
    padding-left: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: $c_black;
}

@media #{$screen-md} {
  p {
    font-size: 20px;
  }
}
