@import './base/reset';
@import './common/colors';
@import './common/media';
@import './common/variables';

@font-face {
  font-family: $font-secondary;
  font-weight: 300;
  src: url('../assets/fonts/Inter-ExtraLight-BETA.ttf') format('truetype');
}

@font-face {
  font-family: $font-secondary;
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: $font-secondary;
  font-weight: bold;
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}

* {
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 1rem;
  color: $c_ebony-clay;
}

a {
  color: $c_han_purple;
}

ul {
  padding-left: 30px;
  list-style-type: square;

  li {
    margin-bottom: 12px;
    padding-left: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: normal;
  color: $c_black;
}

@media #{$screen-md} {
  p {
    font-size: 20px;
  }
}

@media #{$screen-max-md} {
  .Plx {
    transform: none !important;
  }
}
