@import '../../../styles/main';
@import '../../../pages/style';

.IndexPage {
  &__joystream-dao-wrapper {
    padding: 96px 0;
    background-color: #f2f5f9;
  }

  &__joystream-dao {
    @extend %container;

    display: grid;
    gap: 30px;
    grid-template-columns: 500px auto;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__section-title {
        @include section-title;

        color: $c_blue-ribbon;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: $c_black;
      }

      &__subtitle {
        @include base-1;

        margin-top: 16px;
        margin-bottom: 32px;
        color: #5c6475;
      }

      &__link {
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        color: $c_blue-ribbon;

        &__arrow {
          margin-bottom: -3px;
          margin-left: 10px;
          transform: rotate(-90deg) scale(.8);
        }
      }
    }

    &__illustration {
      position: relative;
      height: 440px;

      &__background {
        position: absolute;
        right: 0;
        bottom: 18%;
        width: 86%;
        border-radius: 8px;
        box-shadow: 0 0 18px rgba(3, 0, 65, .1), 0 0 4.02054px rgba(3, 0, 65, .0596107), 0 0 1.19702px rgba(3, 0, 65, .0403893);
      }

      &__foreground {
        position: absolute;
        bottom: 35px;
        left: 15px;
        width: 95%;
        border-radius: 8px;
        box-shadow: 0 0 18px rgba(3, 0, 65, .1), 0 0 4.02054px rgba(3, 0, 65, .0596107), 0 0 1.19702px rgba(3, 0, 65, .0403893);
      }
    }
  }

  &__joystream-dao-carousel {
    margin-top: 96px;

    &__title-section {
      @extend %container;

      &__text {
        @include h6;
      }
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
    }

    &__item {
      width: 288px;
      height: 288px;
      padding: 24px;
      background-color: $c_white;

      &__image {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 50%;
      }

      &__title {
        @include h6;

        margin-top: 24px;
      }

      &__info {
        display: flex;
        margin-top: 16px;
        gap: 24px;

        &__status {
          min-width: 108px;

          &__label {
            @include base-5;

            color: #81858d;
          }

          &__value {
            @include base-5;

            display: grid;
            width: 72px;
            height: 24px;
            margin-top: 8px;
            background: #dee3e9;
            border-radius: 999px;
            place-items: center;
          }
        }

        &__date {
          &__label {
            @include base-5;

            color: #81858d;
          }

          &__value {
            @include h9;

            margin-top: 4px;
          }
        }
      }

      &__link {
        @include h9;

        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 149px;
        margin-top: 24px;

        &__icon {
          margin-top: 3px;
          transform: rotate(-90deg) scale(.75);
        }
      }
    }
  }

  @media #{$screen-max-lg} {
    &__joystream-dao {
      display: flex;
      flex-direction: column-reverse;

      &__content {
        &__title {
          & > br {
            display: none;
          }
        }
      }

      &__illustration {
        width: 700px;
        margin: 0 auto;

        &__background {
          top: 0;
        }

        &__foreground {
          bottom: 20px;
          width: 88%;
        }
      }
    }
  }

  @media #{$screen-max-md} {
    &__joystream-dao {
      &__content {
        padding: 0 22px;
      }

      &__illustration {
        transform: scale(1.25);
        transform-origin: left;

        &__background {
          bottom: unset;
          left: 20px;
        }

        &__foreground {
          bottom: -375px;
          left: 10px;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__joystream-dao-wrapper {
      padding: 80px 0;
    }

    &__joystream-dao {
      &__content {
        padding: 0 10px;

        &__title {
          @include h4;
        }

        &__subtitle {
          @include base-3;
        }
      }

      &__illustration {
        width: 100%;
        height: 280px;
        margin-bottom: 50px;

        &__background {
          left: 70px;
          width: 400px;
        }

        &__foreground {
          bottom: -283px;
          left: 50px;
          width: 380px;
          margin: auto;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &__joystream-dao {
      &__illustration {
        height: 250px;
        transform: scale(1.5);

        &__background {
          left: 30px;
          width: 301px;
        }

        &__foreground {
          bottom: -212px;
          left: 15px;
          width: 298px;
        }
      }
    }
  }
}
