@import '../../../styles/main';
@import '../../../pages/style.scss';

.TokenPage {
  &__tokeninfo-wrapper {
    padding: 96px 0;
    background-color: #f2f5f9;
  }

  &__tokeninfo {
    @extend %container;

    padding: 0 20px;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 820px;
      margin: 0 auto;

      &__section-title {
        @include section-title;

        margin: 0 auto;
        color: $c_blue-ribbon;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: #1a1a1a;
        text-align: center;
      }

      &__subtitle {
        @include base-1;

        margin-top: 16px;
        color: #a7aeb7;
        text-align: center;
      }
    }

    &__items {
      max-width: 818px;
      margin: 80px auto 0 auto;
      margin-top: 80px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 24px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #dee3e9;
      }

      &__title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__title {
          @include h6;

          margin-right: 16px;
          color: #1f252e;
        }

        &__icon {
          width: 16px;
          min-width: 16px;
          // margin-top: 12px;
          color: #a7aeb7;
          transition: .3s transform, .5s color;

          &--active {
            & > path:last-child {
              transform: scaleY(0);
            }
          }
        }
      }

      &__text {
        @include base-3;

        display: none;
        margin-top: 16px;
        color: #656565;

        &--active {
          display: block;
        }

        & > ol {
          margin: 10px 0;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__tokeninfo-wrapper {
      padding: 80px 0;
    }

    &__tokeninfo {
      &__header {
        &__title {
          @include h4;
        }
      }

      &__items {
        margin-top: 64px;
      }

      &__item {
        padding: 16px 0;

        &__title-section {
          &__title {
            @include h7;
          }
        }

        &__text {
          @include base-4;

          margin-top: 8px;
        }
      }
    }
  }
}
