@import '../../../styles/main';
@import '../../../pages/style.scss';

.AboutPage {
  &__hero-wrapper {
    position: relative;
    padding-top: 96px;
    overflow: hidden;
    background-color: $c_black;
  }

  &__hero {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 710px;
    }

    &__title {
      @include h1;

      color: $c_white;
      text-align: center;
    }

    &__subtitle {
      @include base-1;

      margin-top: 24px;
      color: $c_slate-gray;
      text-align: center;
    }

    &__background {
      position: relative;
      width: 1030px;
      height: 366px;
      margin-top: 96px;

      &__empty-icon1 {
        position: absolute;
        bottom: 32px;
        left: 71.5px;
        width: 48px;
        height: 48px;
      }

      &__empty-icon2 {
        position: absolute;
        bottom: 137px;
        left: 339px;
        width: 48px;
        height: 48px;
      }

      &__empty-icon3 {
        position: absolute;
        right: 412px;
        bottom: 278px;
        width: 56px;
        height: 56px;
      }

      &__empty-icon4 {
        position: absolute;
        right: 136.5px;
        bottom: 222px;
        width: 88px;
        height: 88px;
      }

      &__empty-icon5 {
        position: absolute;
        top: 140px;
        left: 110px;
        width: 25px;
        height: 25px;
      }

      &__employee-icon1 {
        position: absolute;
        bottom: 142px;
        left: 85.5px;
        width: 64px;
        height: 64px;
      }

      &__employee-icon2 {
        position: absolute;
        bottom: 38px;
        left: 180.5px;
        width: 120px;
        height: 120px;
      }

      &__employee-icon3 {
        position: absolute;
        bottom: 214px;
        left: 217.5px;
        width: 80px;
        height: 80px;
      }

      &__employee-icon4 {
        position: absolute;
        top: 0;
        left: 361.5px;
        width: 128px;
        height: 128px;
      }

      &__employee-icon5 {
        position: absolute;
        bottom: -50px;
        left: 323.5px;
        width: 140px;
        height: 140px;
      }

      &__employee-icon6 {
        position: absolute;
        right: 402.5px;
        bottom: 55px;
        width: 174px;
        height: 174px;
      }

      &__employee-icon7 {
        position: absolute;
        right: 404.5px;
        bottom: -30px;
        width: 56px;
        height: 56px;
      }

      &__employee-icon8 {
        position: absolute;
        right: 236.5px;
        bottom: -15px;
        width: 120px;
        height: 120px;
      }

      &__employee-icon9 {
        position: absolute;
        right: 271.5px;
        bottom: 162px;
        width: 96px;
        height: 96px;
      }

      &__employee-icon10 {
        position: absolute;
        right: 170.5px;
        bottom: 108px;
        width: 64px;
        height: 64px;
      }

      &__employee-icon11 {
        position: absolute;
        right: 125.5px;
        bottom: 34px;
        width: 40px;
        height: 40px;
      }

      &__employee-icon12 {
        position: absolute;
        right: 54.5px;
        bottom: 143px;
        width: 56px;
        height: 56px;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__hero-wrapper {
      padding-top: 80px;
    }

    &__hero {
      padding: 0 20px;

      &__content {
        max-width: 550px;
      }

      &__title {
        @include h3;
      }

      &__subtitle {
        @include base-3;

        margin-top: 16px;
      }

      &__background {
        width: 515px;
        height: 183px;
        margin-top: 64px;

        &__empty-icon1 {
          position: absolute;
          bottom: 16px;
          left: 35.75px;
          width: 24px;
          height: 24px;
        }

        &__empty-icon2 {
          position: absolute;
          bottom: 68.5px;
          left: 169.5px;
          width: 24px;
          height: 24px;
        }

        &__empty-icon3 {
          position: absolute;
          right: 206px;
          bottom: 139px;
          width: 28px;
          height: 28px;
        }

        &__empty-icon4 {
          position: absolute;
          right: 68.25px;
          bottom: 111px;
          width: 44px;
          height: 44px;
        }

        &__empty-icon5 {
          position: absolute;
          top: 70px;
          left: 55px;
          width: 12.5px;
          height: 12.5px;
        }

        &__employee-icon1 {
          position: absolute;
          bottom: 71px;
          left: 42.75px;
          width: 32px;
          height: 32px;
        }

        &__employee-icon2 {
          position: absolute;
          bottom: 19px;
          left: 90.25px;
          width: 60px;
          height: 60px;
        }

        &__employee-icon3 {
          position: absolute;
          bottom: 107px;
          left: 108.75px;
          width: 40px;
          height: 40px;
        }

        &__employee-icon4 {
          position: absolute;
          top: 0;
          left: 180.75px;
          width: 64px;
          height: 64px;
        }

        &__employee-icon5 {
          position: absolute;
          bottom: -25px;
          left: 161.75px;
          width: 70px;
          height: 70px;
        }

        &__employee-icon6 {
          position: absolute;
          right: 201.25px;
          bottom: 27.5px;
          width: 87px;
          height: 87px;
        }

        &__employee-icon7 {
          position: absolute;
          right: 202.25px;
          bottom: -15px;
          width: 28px;
          height: 28px;
        }

        &__employee-icon8 {
          position: absolute;
          right: 118.25px;
          bottom: -7.5px;
          width: 60px;
          height: 60px;
        }

        &__employee-icon9 {
          position: absolute;
          right: 135.75px;
          bottom: 81px;
          width: 48px;
          height: 48px;
        }

        &__employee-icon10 {
          position: absolute;
          right: 85.25px;
          bottom: 54px;
          width: 32px;
          height: 32px;
        }

        &__employee-icon11 {
          position: absolute;
          right: 62.75px;
          bottom: 17px;
          width: 20px;
          height: 20px;
        }

        &__employee-icon12 {
          position: absolute;
          right: 27.25px;
          bottom: 71.5px;
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
