@import '../../../styles/main';
@import '../../../pages/style.scss';

.AboutPage {
  &__hero-wrapper {
    position: relative;
    padding-top: 96px;
    overflow: hidden;
    background-color: $c_black;
  }

  &__hero {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 710px;
    }

    &__title {
      @include h1;

      color: $c_white;
      text-align: center;
    }

    &__subtitle {
      @include base-1;

      margin-top: 24px;
      color: $c_slate-gray;
      text-align: center;
    }

    &__background {
      position: relative;
      width: 1030px;
      height: 366px;
      margin-top: 96px;

      &__empty-icon1 {
        position: absolute;
        bottom: 32px;
        left: 71.5px;
        width: 48px;
        height: 48px;
      }

      &__empty-icon2 {
        position: absolute;
        bottom: 137px;
        left: 339px;
        width: 48px;
        height: 48px;
      }

      &__empty-icon3 {
        position: absolute;
        right: 412px;
        bottom: 278px;
        width: 56px;
        height: 56px;
      }

      &__empty-icon4 {
        position: absolute;
        right: 136.5px;
        bottom: 222px;
        width: 88px;
        height: 88px;
      }

      &__empty-icon5 {
        position: absolute;
        top: 140px;
        left: 110px;
        width: 25px;
        height: 25px;
      }

      &__employee-icon1 {
        position: absolute;
        bottom: 142px;
        left: 85.5px;
        width: 64px;
        height: 64px;
      }

      &__employee-icon2 {
        position: absolute;
        bottom: 38px;
        left: 180.5px;
        width: 120px;
        height: 120px;
      }

      &__employee-icon3 {
        position: absolute;
        bottom: 214px;
        left: 217.5px;
        width: 80px;
        height: 80px;
      }

      &__employee-icon4 {
        position: absolute;
        top: 0;
        left: 361.5px;
        width: 128px;
        height: 128px;
      }

      &__employee-icon5 {
        position: absolute;
        bottom: -50px;
        left: 323.5px;
        width: 140px;
        height: 140px;
      }

      &__employee-icon6 {
        position: absolute;
        right: 402.5px;
        bottom: 55px;
        width: 174px;
        height: 174px;
      }

      &__employee-icon7 {
        position: absolute;
        right: 404.5px;
        bottom: -30px;
        width: 56px;
        height: 56px;
      }

      &__employee-icon8 {
        position: absolute;
        right: 236.5px;
        bottom: -15px;
        width: 120px;
        height: 120px;
      }

      &__employee-icon9 {
        position: absolute;
        right: 271.5px;
        bottom: 162px;
        width: 96px;
        height: 96px;
      }

      &__employee-icon10 {
        position: absolute;
        right: 170.5px;
        bottom: 108px;
        width: 64px;
        height: 64px;
      }

      &__employee-icon11 {
        position: absolute;
        right: 125.5px;
        bottom: 34px;
        width: 40px;
        height: 40px;
      }

      &__employee-icon12 {
        position: absolute;
        right: 54.5px;
        bottom: 143px;
        width: 56px;
        height: 56px;
      }
    }
  }

  @media #{$screen-max-lg} {
    &__hero {
      &__background {
        display: flex;
        align-items: center;
        justify-content: center;

        &__empty-icon4,
        &__empty-icon2 {
          display: none;
        }

        &__empty-icon5 {
          top: 80px;
          left: 50px;
        }

        &__employee-icon1 {
          right: 100px;
        }

        &__employee-icon2 {
          top: 150px;
          left: -50px;
        }
      }
    }
  }

  @media #{$screen-max-md} {
    &__hero {
      flex-direction: column;

      &__content {
        align-items: center;
      }

      &__title {
        font-size: 60px;
      }

      &__subtitle {
        max-width: 654px;
      }

      &__background {
        width: 600px;
        margin: 0 auto;

        &__empty-icon1 {
          top: 20px;
          right: unset;
          left: 120px;
          width: 39px;
          height: 39px;
        }

        &__empty-icon3 {
          right: 135px;
          bottom: 75px;
          width: 37px;
          height: 37px;
        }

        &__empty-icon4 {
          top: unset;
          bottom: 30px;
          left: 150px;
          display: block;
          width: 62px;
          height: 62px;
        }

        &__empty-icon5 {
          top: 60px;
          left: -15px;
          width: 55px;
          height: 55px;
        }

        &__employee-icon1 {
          top: 0;
          right: 0;
          transform: scale(.92);
        }

        &__employee-icon2 {
          left: -20px;
          transform: scale(.52);
        }

        &__employee-icon3 {
          bottom: 0;
          left: -20px;
          transform: scale(1.27);
        }

        &__employee-icon4 {
          right: 0;
          bottom: -20px;
          transform: scale(1.98);
        }

        &__employee-icon5 {
          top: 100px;
          right: -20px;
          transform: scale(.69);
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__hero {
      height: 550px;
      padding: 32px 20px 0 20px;

      &__background {
        width: 500px;
      }

      &__title {
        max-width: 500px;
        font-size: 32px;
        line-height: 40px;

        br {
          display: none;
        }
      }

      &__subtitle {
        max-width: 500px;
      }
    }
  }

  @media (max-width: 500px) {
    &__hero {
      &__background {
        width: 100%;

        &__empty-icon3 {
          right: 65px;
          bottom: 50px;
        }

        &__empty-icon4 {
          bottom: -15px;
          left: 80px;
        }

        &__employee-icon1 {
          top: 10px;
        }

        &__employee-icon3 {
          bottom: -40px;
          left: -50px;
        }

        &__employee-icon4 {
          right: -50px;
          bottom: -60px;
        }

        &__employee-icon5 {
          right: -40px;
        }
      }
    }
  }
}
