@import '../../styles/main';

.dashboard-token-minting-chart-widget {
  @include dashboard-widget;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
