@import '../../../styles/main';

.dashboard-backers {
  @include dashboard-section;

  &__container {
    @include dashboard-container;
  }

  &__heading {
    margin-bottom: 8px;
  }

  &__backers-list {
    display: grid;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
    gap: 16px;
  }

  &__backers-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__backer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    padding: 8px;
    background-color: $dashboard-backer-widget-background-color;
    border-radius: 8px;
  }

  &__backer-icon--inactive {
    display: none;
  }

  &__coindesk-widgets-wrapper {
    display: grid;
    gap: 16px;
  }

  &__coindesk-story-link {
    margin: 0;
    border-radius: 12px;
    transition: outline .25s ease-out;

    &:hover {
      outline: 1px solid $dashboard-press-story-hover-border-color;
    }

    & .AboutPage__press__story {
      width: 100%;
      height: unset;
      max-width: none;
      padding: 16px 0 0 16px;
      gap: 16px;
    }

    & .AboutPage__press__story__about__section-title {
      @include h100;

      letter-spacing: .84px;
      font-feature-settings: $dashboard-font-feature-settings;
    }

    & .AboutPage__press__story__about {
      max-width: none;
      padding-right: 16px;
    }

    & .AboutPage__press__story__about__title {
      @include h500;

      margin-top: 24px;
      font-weight: 600;
      font-feature-settings: $dashboard-font-feature-settings;
    }

    & .AboutPage__press__story__about__platform-description {
      @include t300;
    }

    & .AboutPage__press__story__about__link {
      @include t300;
    }

    & .AboutPage__press__story__visual {
      height: 260px;
      max-width: none;
    }

    & .AboutPage__press__story__visual__image {
      width: 720px;
      max-width: 720px;
      border-radius: 12px;
    }

    & .AboutPage__press__story__visual__bottom-gradient {
      transition-timing-function: ease-out;
    }
  }

  @media #{$screen-min-dashboard-xs} {
    &__backers-list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__coindesk-story-link {
      & .AboutPage__press__story__about__title {
        margin-top: 40px;
      }
    }
  }

  @media #{$screen-min-dashboard-sm} {
    & .dashboard-stats-widget__text-wrapper {
      display: flex;
      flex-direction: column;
    }

    & .dashboard-stats-widget__text {
      @include h700;
    }

    &__backers-list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__coindesk-story-link {
      & {
        width: 100%;
        height: 424px;
        overflow: hidden;
      }

      & .AboutPage__press__story {
        flex-direction: row;
        padding: 0;
        gap: 0;
      }

      & .AboutPage__press__story__about {
        flex-shrink: 0;
        width: 50%;
        padding: 32px;
      }

      & .AboutPage__press__story__about__title {
        margin-top: 48px;
      }

      & .AboutPage__press__story__visual {
        height: 424px;
        padding-left: 48px;
        transform: translateY(48px);
      }
    }
  }

  @media #{$screen-min-dashboard-md} {
    & .dashboard-stats-widget {
      display: flex;
      flex-direction: column;
    }

    & .dashboard-stats-widget__text-wrapper {
      justify-content: center;
      height: 100%;
    }

    & .dashboard-stats-widget__text {
      @include h800;
    }

    &__backers-list {
      margin-bottom: 24px;
      gap: 24px;
    }

    &__coindesk-widgets-wrapper {
      gap: 24px;
      grid-template-columns: repeat(3, 1fr);

      & .dashboard-stats-widget {
        order: 1;
        grid-column: 3 / span 1;
      }
    }

    &__coindesk-story-link {
      order: -1;
      height: 448px;
      grid-column: 1 / span 2;

      & .AboutPage__press__story__visual {
        height: 448px;
      }
    }
  }

  @media #{$screen-min-dashboard-lg} {
    &__backers-list {
      grid-template-columns: repeat(6, 1fr);
    }

    &__coindesk-widgets-wrapper {
      grid-template-columns: repeat(6, 1fr);

      & .dashboard-stats-widget {
        grid-column: 5 / span 2;
      }
    }

    &__coindesk-story-link {
      height: 392px;
      grid-column: 1 / span 4;

      & .AboutPage__press__story__visual {
        height: 392px;
      }
    }
  }
}
