@import '../../styles/_main';

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100%;
  padding: 40px 20px;
  outline: none;
  transform: translate(-50%, -50%);

  &__container {
    max-height: 100vh;
    overflow: scroll;
  }

  &__content {
    background-color: $c_white;
    border-radius: $border-radius;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($c_black, 0.6);
    opacity: 0;
    transition: opacity $duration ease-in-out;
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media #{$screen-md} {
  .Modal {
    max-width: 900px;
  }
}
