@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

@mixin loading-bar-animation ($translateAmount, $duration, $delay) {
  @keyframes animate-tokenstats-loading-bar {
    0% {
      transform: translateX(0);
    }

    75% {
      transform: translateX($translateAmount);
    }

    100% {
      transform: translateX($translateAmount);
    }
  }

  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-name: animate-tokenstats-loading-bar;
  // TODO: Maybe this can be looked into?
  animation-timing-function: ease;
}

.TokenPage {
  &__hero-background {
    width: 100%;
    height: 100%;
    background-color: $c_black;
  }

  &__hero-wrapper {
    @extend %largeContainer;

    position: relative;
    padding: 128px 0 96px 0;
    background-image: url('../../../assets/svg/token/joy-token-hero-background.svg');
    background-position: top right;
    background-repeat: no-repeat;
  }

  &__hero {
    @extend %container;

    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    gap: 30px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 606px;
    }

    &__title {
      @include h1;

      color: $c_white;
    }

    &__text {
      @include base-1;

      margin-top: 16px;
      color: $c_grayc_chateau;
    }

    &__link {
      width: 264px;
      height: 80px;
      margin-top: 32px;
    }

    &__illustration {
      display: grid;
      width: 606px;
      height: 304px;
      place-items: center;

      &__image {
        margin-left: 25px;
      }
    }
  }

  &__tokenstats-wrapper {
    @extend %container;

    margin-top: 40px;
  }

  &__tokenstats {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 288px);

    &__item {
      position: relative;
      height: 108px;
      padding: 20px 24px 20px 24px;
      overflow: hidden;
      background-color: #111316;

      &--disabled {
        overflow: unset;
      }

      &__loading-bar {
        @include loading-bar-animation(428px, 4s, 0s);

        position: absolute;
        top: 0;
        left: -140px;
        width: 140px;
        height: 2px;
        min-width: 140px;
        min-height: 2px;
        background-color: #5c6475;
      }

      &__title {
        @include base-4;

        color: $c_grayc_chateau;
      }

      &__value {
        @include h5;

        display: flex;
        align-items: center;
        height: 36px;
        margin-top: 12px;
        color: $c_white;

        &--loading {
          color: #5c6475;
        }

        &--disabled {
          color: #a7aeb7;
        }

        &__joy-icon {
          margin-right: 8px;
        }
      }

      &__tooltip-wrapper {
        position: absolute;
        right: 26px;
        bottom: 32px;
        width: 16px;
        height: 16px;
        margin: auto;
      }

      &__tooltip {
        &__icon {
          fill: #a7aeb7;
        }

        &:hover &__icon {
          fill: $c_white;
        }

        &__modal {
          @include base-5;

          position: absolute;
          right: 0;
          bottom: 25px;
          width: 240px;
          height: auto;
          padding: 12px 12px 18px 12px;
          color: #1f252e;
          background-color: #dee3e9;
          opacity: 0;
          visibility: hidden;
          transition: visibility .3s linear, opacity .3s linear;
          transition-delay: .1s;
          clip-path:
            polygon(
              0% 0%,
              100% 0%,
              100% calc(100% - 6px),
              100% 100%,
              calc(100% - 8px) calc(100% - 6px),
              0% calc(100% - 6px)
            );
        }

        &:hover &__modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  // @media #{$screen-max-lg} {
  //   &__hero {
  //     &__title {
  //       font-size: 60px;
  //       line-height: 68px;
  //     }
  //   }
  // }

  // @media #{$screen-max-md} {
  //   &__header {
  //     padding-top: 64px;
  //   }

  //   &__hero {
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;
  //     width: 85%;

  //     &__content {
  //       align-items: center;
  //     }

  //     &__title {
  //       text-align: center;
  //     }

  //     &__text {
  //       text-align: center;
  //     }

  //     &__image {
  //       width: 85%;
  //       margin-top: 40px;
  //     }
  //   }

  //   &__tokenstats-wrapper {
  //     padding-left: 20px;
  //   }

  //   &__tokenstats {
  //     &__value {
  //       font-size: 40px;
  //       line-height: 48px;
  //     }
  //   }
  // }

  // @media #{$screen-max-sm} {
  //   &__hero {
  //     &__link {
  //       width: 335px;
  //       height: 60px;
  //     }
  //   }
  // }

  // @media (max-width: 500px) {
  //   &__hero {
  //     width: 335px;

  //     &__title {
  //       font-size: 40px;
  //       line-height: 48px;
  //       text-align: left;
  //     }

  //     &__text {
  //       font-size: 16px;
  //       line-height: 24px;
  //       text-align: left;
  //     }

  //     &__image {
  //       display: none;
  //       width: auto;

  //       &--alt {
  //         display: block;
  //         margin-top: 40px;
  //       }
  //     }
  //   }
  // }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
