@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

@mixin loading-bar-animation ($translateAmount, $duration, $delay) {
  @keyframes animate-tokenstats-loading-bar {
    0% {
      transform: translateX(0);
    }

    75% {
      transform: translateX($translateAmount);
    }

    100% {
      transform: translateX($translateAmount);
    }
  }

  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-name: animate-tokenstats-loading-bar;
  // TODO: Maybe this can be looked into?
  animation-timing-function: ease;
}

.TokenPage {
  &__hero-background {
    width: 100%;
    height: 100%;
    background-color: $c_black;
  }

  &__hero-wrapper {
    @extend %largeContainer;

    position: relative;
    padding: 128px 0 96px 0;
    background-image: url('../../../assets/svg/token/joy-token-hero-background.svg');
    background-position: top right;
    background-repeat: no-repeat;
  }

  &__hero {
    @extend %container;

    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    gap: 30px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 606px;
    }

    &__title {
      @include h1;

      color: $c_white;
    }

    &__text {
      @include base-1;

      margin-top: 16px;
      color: $c_grayc_chateau;
    }

    &__link {
      width: 264px;
      height: 80px;
      margin-top: 32px;
    }

    &__illustration {
      display: grid;
      width: 606px;
      height: 304px;
      place-items: center;

      &__image {
        margin-left: 25px;
      }
    }
  }

  &__tokenstats-wrapper-separate {
    padding: 64px 10px 0 10px;
    background-color: black;
  }

  &__tokenstats-wrapper {
    @extend %container;

    margin-top: 40px;
  }

  &__tokenstats {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 288px);

    &--separate {
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: black;
    }

    &__item {
      position: relative;
      height: 108px;
      padding: 20px;
      overflow: hidden;
      background-color: #111316;

      &--disabled {
        overflow: unset;
      }

      &__loading-bar {
        @include loading-bar-animation(428px, 3s, 0s);

        position: absolute;
        top: 0;
        left: -140px;
        width: 140px;
        height: 2px;
        min-width: 140px;
        min-height: 2px;
        background-color: #5c6475;
      }

      &__title {
        @include base-4;

        color: $c_grayc_chateau;
      }

      &__value {
        @include h5;

        display: flex;
        align-items: center;
        height: 36px;
        margin-top: 12px;
        color: $c_white;

        &--loading {
          color: #5c6475;
        }

        &--disabled {
          color: #a7aeb7;
        }

        &__joy-icon {
          margin-right: 8px;
        }
      }

      &__tooltip-wrapper {
        position: absolute;
        right: 26px;
        bottom: 32px;
        width: 16px;
        height: 16px;
        margin: auto;
      }

      &__tooltip {
        &__icon {
          fill: #a7aeb7;
        }

        &:hover &__icon {
          fill: $c_white;
        }

        &__modal {
          @include base-5;

          position: absolute;
          right: 0;
          bottom: 25px;
          width: 240px;
          height: auto;
          padding: 12px 12px 18px 12px;
          color: #1f252e;
          background-color: #dee3e9;
          opacity: 0;
          visibility: hidden;
          transition: visibility .3s linear, opacity .3s linear;
          transition-delay: .1s;
          clip-path:
            polygon(
              0% 0%,
              100% 0%,
              100% calc(100% - 6px),
              100% 100%,
              calc(100% - 8px) calc(100% - 6px),
              0% calc(100% - 6px)
            );
        }

        &:hover &__modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    &__hero-wrapper {
      background-position: top 10% right 20px;
      background-size: 45%;
    }

    &__hero {
      &__illustration {
        width: 454.5px;
        height: 228px;
        min-width: 454.5px;
        min-height: 228px;

        &__image {
          margin-left: 0;
        }
      }
    }
  }

  @media #{$screen-max-lg} {
    &__hero-wrapper {
      background-position: top 12% right 20px;
    }
  }

  @media #{$screen-max-md} {
    &__hero-wrapper {
      padding: 80px 0;
      background-position: top 250px center;
      background-size: 500px;
    }

    &__hero {
      align-items: center;
      flex-direction: column;
      justify-content: unset;
      gap: 64px;

      &__content {
        max-width: 750px;
        text-align: center;
      }
    }

    &__tokenstats {
      justify-content: center;
    }
  }

  @media #{$screen-max-sm} {
    &__hero-wrapper {
      background-position: top 225px center;
      background-size: 400px;
    }

    &__hero {
      margin-bottom: 64px;

      &__content {
        max-width: 550px;
      }

      &__title {
        @include h3;
      }

      &__text {
        @include base-3;
      }

      &__illustration {
        width: 335px;
        height: 199px;
        min-width: 335px;
        min-height: 199px;
      }
    }

    &__tokenstats-wrapper {
      margin-top: 0;
    }
  }

  @media (max-width: 725px) {
    &__tokenstats-wrapper-separate {
      padding-top: 32px;
    }
  }

  @media (max-width: 630px) {
    &__tokenstats {
      grid-template-columns: repeat(auto-fit, 335px);
    }
  }

  @media (max-width: 400px) {
    &__hero-wrapper {
      background-position: top 260px center;
      background-size: 390px;
    }
  }
}
