@import '../../../styles/main';
@import '../../../pages/style';

$animation-name: null;

@mixin animate-background () {
  $animation-name: unique-id() !global;

  @keyframes #{$animation-name} {
    0% {
      transform: rotate(60deg);
    }

    100% {
      transform: rotate(420deg);
    }
  }

  animation: 30s linear 0s infinite normal none running $animation-name;
}

.IndexPage {
  &__hero-wrapper {
    padding: 32px 32px 96px 32px;
    background-color: black;
  }

  &__hero-animation-wrapper {
    position: relative;
    min-height: 1376px;
    padding: 72px 32px;
    overflow: hidden;
    border-radius: 32px;
  }

  &__background-animation {
    @include animate-background;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    transform: translate(-50%, -50%);

    &__inner {
      position: absolute;
      top: -1212px;
      display: block;
      width: 2000px;
      height: 2000px;
      background: radial-gradient(circle, rgb(20, 52, 146) 70%, transparent 100%);
      border-radius: 50%;
      filter: blur(400px);
    }
  }

  &__hero {
    position: relative;
    display: grid;
    justify-content: center;
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &__title {
      @include h1100;

      color: $c_white;
      text-align: center;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;
      grid-column: 2 / 12;

      span > div {
        display: -webkit-inline-box;
      }
    }

    &__typewriter-title {
      @include h1100;

      margin-left: 12px;
      color: #6c6cff;
    }

    &__typewriter-cursor {
      color: #6c6cff;
      animation: animateTextCaret 1s ease-out;
      animation-iteration-count: infinite;
    }

    &__subtitle {
      @include t400;

      margin-top: 16px;
      color: #a7aeb7;
      text-align: center;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;
      grid-column: 4 / 10;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 48px;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;
      gap: 16px;
      grid-column: 5 / 9;
    }

    &__button {
      width: 304px;
      height: 64px;
      min-width: 304px;
      padding: 20px 32px !important;
      border-radius: 8px;

      &:hover {
        background-color: #261ee4;
      }
    }

    &__button-text {
      @include t300;
    }

    &__illustration {
      position: relative;
      margin-top: 72px;
      grid-column: 2 / 12;

      &__background {
        // TODO: Using drop-shadow results in graphical problems in firefox and that is why it is commented out.
        // This functionality should be reinstated as soon as that is fixed on their end.
        // filter: drop-shadow(0 33px 100px rgba(0, 0, 0, .22)) drop-shadow(0 7.37098px 22.3363px rgba(0, 0, 0, .131144)) drop-shadow(0 2.19453px 6.6501px rgba(0, 0, 0, .0888564));
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
        // max-width: 1060px;
        opacity: 0;
        animation: animateLandingHeroImage .75s forwards ease;
        animation-delay: .3s;
      }

      &__foreground {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
        opacity: 0;
        animation: animateLandingNftWidget .75s forwards ease;
        animation-delay: .3s;
      }

      &__holders {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
        opacity: 0;
        animation: animateLandingNftWidget .75s forwards ease;
        animation-delay: .3s;
      }
    }
  }

  @media (min-width: 1920px) {
    &__hero {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  @media (max-width: 1440px) {
    &__hero-animation-wrapper {
      min-height: 1065px;
      padding-top: 32px;
    }

    &__hero {
      &__title {
        @include h1000;

        max-width: 896px;
        margin: 0 auto;
        grid-column: 1 / 13;
      }

      &__typewriter-title {
        @include h1000;
      }

      &__subtitle {
        margin-right: auto;
        margin-left: auto;
        grid-column: 1 / 13;
      }

      &__illustration {
        margin-top: 48px;
        grid-column: 1 / 13;
      }
    }
  }

  @media (max-width: 1024px) {
    &__hero-animation-wrapper {
      min-height: 927px;
      padding: 16px;
    }

    &__hero-wrapper {
      padding: 16px 16px 64px 16px;
    }

    &__hero {
      column-gap: 16px;

      &__title {
        @include h900;

        max-width: 650px;
        min-height: 216px;

        & > span {
          display: block;
        }
      }

      &__typewriter-title {
        @include h900;
      }

      &__buttons {
        margin-top: 32px;
      }

      &__illustration {
        margin-top: 56px;
      }
    }
  }

  @media (max-width: 768px) {
    &__hero-animation-wrapper {
      min-height: 678px;
    }

    &__hero {
      &__title {
        @include h700;

        max-width: 322.5px;
        min-height: 192px;
      }

      &__typewriter-title {
        @include h700;
      }

      &__subtitle {
        @include t300;
      }

      &__illustration {
        margin-top: 48px;
      }
    }
  }

  @media (max-width: 425px) {
    &__hero-animation-wrapper {
      min-height: 574px;
    }

    &__hero {
      &__title {
        @include h600;

        max-width: 279px;
        min-height: 160px;
      }

      &__typewriter-title {
        @include h600;
      }

      &__button {
        width: 256px;
        min-width: 256px;
        padding: 20px 16px !important;
      }

      &__button-text {
        @include t200;
      }
    }
  }
}

@keyframes animateTextCaret {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@mixin move-to-new-position ($length_to_position) {
  opacity: 0;
  transform: translateY($length_to_position);
}

@mixin return-to-og-position {
  opacity: 1;
  transform: translateY(0);
}

@keyframes animateLandingContent {
  0% {
    @include move-to-new-position(125px);
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingHeroImage {
  0% {
    @include move-to-new-position(125px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingNftWidget {
  0% {
    @include move-to-new-position(200px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingButton {
  0% {
    @include move-to-new-position(250px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}
