@import '../../../styles/main';
@import '../../../pages/style';

.IndexPage {
  &__hero-wrapper {
    padding: 96px 0 0;
    background-color: black;
  }

  &__hero {
    @extend %largeContainer;

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
      @include h1;

      max-width: 818px;
      color: $c_white;
      text-align: center;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;

      span > div {
        display: inline-block;
      }
    }

    &__typewriter-title {
      @include h1;

      margin-left: 12px;
      color: #6c6cff;
    }

    &__typewriter-cursor {
      color: #6c6cff;
      animation: animateTextCaret 1s ease-out;
      animation-iteration-count: infinite;
    }

    &__subtitle {
      @include base-1;

      margin-top: 24px;
      color: #a7aeb7;
      text-align: center;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;
    }

    &__buttons {
      display: flex;
      margin-top: 48px;
      opacity: 0;
      animation: animateLandingContent .75s forwards ease;
      animation-delay: .1s;
      gap: 16px;
    }

    &__button {
      width: 157px;
      height: 60px;
      padding: 18px 15px !important;
    }

    &__community-button {
      width: 214px;
      height: 60px;
      padding: 18px 16px;
      background-color: $c_black;
      border: 2px solid #5c6475;

      &:hover {
        background-color: $c_black;
      }
    }

    &__button-text {
      @include landing-page-button-text;
    }

    &__illustration-background {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 3000px;
    }

    &__illustration-wrapper {
      position: sticky;
      top: 200px;
      z-index: 2;
      width: 1080px;
      height: 656px;
      margin-top: 64px;
      animation: animateLandingHeroImage .75s forwards ease;
      animation-delay: .1s;
      transition: all 1s ease-in-out;

      &--updated {
        top: 200px;
        width: 480px;
        height: 271px;
        margin-right: 185px;
        margin-bottom: 126px;
      }
    }

    &__illustration {
      width: 100%;
      height: 100%;
    }

    &__illustration-message {
      position: absolute;
      right: 0;
      left: 0;
      display: flex;
      width: 360px;
      margin: 0 auto;
      opacity: 0;
      transition: all 1s ease-in-out;
      transition-delay: .25s;
      gap: 14px;

      &__content {
        &__title {
          @include h6;

          color: #f2f5f9;
        }

        &__subtitle {
          @include base-3;

          margin-top: 4px;
          color: #a7aeb7;
        }
      }

      &__pointer {
        position: relative;
        display: flex;
        width: 8px;
        opacity: 0;

        &--show {
          opacity: 1;
        }

        &__circle {
          width: 8px;
          height: 8px;
          background-color: rgba(232, 242, 254, .72);
          border-radius: 50%;
        }

        &__line {
          position: absolute;
          width: 2px;
          height: 100%;
          margin: auto;
          background-color: rgba(232, 242, 254, .72);
          inset: 0;
        }

        &--content &__circle,
        &--blockchain &__circle {
          align-self: flex-end;
        }
      }

      &--application &__content,
      &--storage &__content {
        align-self: flex-end;
      }

      &--application {
        top: 195px;
      }

      &--application &__pointer {
        height: 172px;
      }

      &--storage {
        top: 340px;
      }

      &--storage &__pointer {
        height: 172px;
      }

      &--content {
        top: 90px;
      }

      &--content &__pointer {
        height: 196px;
      }

      &--blockchain {
        top: 200px;
      }

      &--blockchain &__pointer {
        height: 220px;
      }

      &--show {
        opacity: 1;
      }
    }

    &__browsers-wrapper {
      position: absolute;
      bottom: 0;
    }

    &__browsers {
      position: relative;
      opacity: 0;
      transform: scale(.75);
      transition: all 1s ease-in-out;

      &--updated {
        opacity: 1;
        transform: scale(1);
      }

      &__main {
        position: relative;
        z-index: 1;
        width: 720px;
        height: 450px;
      }

      &__alt,
      &__second-alt {
        position: absolute;
        z-index: 0;
        margin: auto;
        transition: all 1s ease-in-out;
        inset: 0;
      }

      &__alt--update-1 {
        transform: translateX(-235px);
      }

      &__alt--update-2 {
        transform: translateX(235px);
      }

      &__second-alt--update-1 {
        transform: translateX(-400px);
      }

      &__second-alt--update-2 {
        transform: translateX(400px);
      }
    }
  }

  @media #{$screen-max-lg} {
    &__hero {
      &__illustration-background {
        height: 2000px;
      }

      &__illustration-wrapper {
        width: 900px;
        height: 547px;

        &--updated {
          width: 480px;
          height: 271px;
        }
      }

      &__illustration-message {
        &--application {
          top: 140px;
        }

        &--storage {
          top: 265px;
        }

        &--content {
          top: 35px;
        }

        &--blockchain {
          top: 115px;
        }
      }

      &__browsers {
        &__alt--update-1 {
          transform: translateX(-180px);
        }

        &__alt--update-2 {
          transform: translateX(180px);
        }

        &__second-alt--update-1 {
          transform: translateX(-330px);
        }

        &__second-alt--update-2 {
          transform: translateX(330px);
        }
      }
    }
  }

  @media #{$screen-max-md} {
    &__hero-wrapper {
      min-height: unset;
      padding: 80px 0 0 0;
    }

    &__hero {
      &__title,
      &__typewriter-title {
        @include h2;
      }

      &__title {
        max-width: 700px;
      }

      &__title,
      &__subtitle,
      &__button {
        opacity: 1;
        animation: none;
      }

      &__illustration-wrapper {
        top: 300px;
        width: 700px;
        height: 425.6px;

        &--updated {
          width: 480px;
          height: 271px;
        }
      }

      &__illustration-message {
        &--application {
          top: 110px;
        }

        &--storage {
          top: 225px;
        }

        &--content {
          top: 15px;
        }

        &--blockchain {
          top: 55px;
        }
      }

      &__browsers {
        &__alt--update-1,
        &__alt--update-2,
        &__second-alt--update-1,
        &__second-alt--update-2 {
          transform: translateX(0);
        }

        &__alt--update-1 {
          transform: translateY(-140px);
        }

        &__second-alt--update-1 {
          transform: translateY(-255px);
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__hero {
      &__title,
      &__typewriter-title {
        @include h3;
      }

      &__title {
        max-width: 550px;
      }

      &__subtitle {
        @include base-3;

        max-width: 335px;
        margin-top: 12px;
      }

      &__buttons {
        margin-top: 24px;
      }

      &__illustration-wrapper {
        width: 500px;
        height: 304px;

        &--updated {
          width: 335px;
          height: 189.1px;
          margin-right: 130px;
          margin-bottom: 90px;
        }
      }

      &__illustration-message {
        width: 335px;

        &__content {
          &__title,
          &__subtitle {
            text-align: center;
          }
        }

        &__pointer {
          display: none;
        }

        &--application,
        &--storage,
        &--content,
        &--blockchain {
          top: 325px;
        }
      }

      &__browsers {
        &__main {
          width: 500px;
          height: 314.4px;
        }

        &__alt--update-1 {
          transform: translateY(-100px);
        }

        &__second-alt--update-1 {
          transform: translateY(-180px);
        }
      }
    }
  }

  @media (max-width: 560px) {
    &__hero {
      padding: 0;

      &__title {
        max-width: 335px;

        span > div {
          display: block;
        }
      }

      &__buttons {
        align-items: center;
        flex-direction: column;
      }

      &__illustration-background {
        height: 1500px;
      }

      &__illustration-wrapper {
        width: 375px;
        height: 227.17px;
        min-width: 375px;
        min-height: 227.17px;

        &--updated {
          width: 222px;
          height: 135px;
          min-width: 222px;
          min-height: 135px;
          margin-right: 85px;
          margin-bottom: 52px;
        }
      }

      &__illustration-message {
        &--application,
        &--storage,
        &--content,
        &--blockchain {
          top: 250px;
        }
      }

      &__browsers {
        &__main {
          width: 335px;
          height: 210px;
        }

        &__alt--update-1 {
          transform: translateY(-68px);
        }

        &__second-alt--update-1 {
          transform: translateY(-120px);
        }
      }
    }
  }
}

@keyframes animateTextCaret {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@mixin move-to-new-position ($length_to_position) {
  opacity: 0;
  transform: translateY($length_to_position);
}

@mixin return-to-og-position {
  opacity: 1;
  transform: translateY(0);
}

@keyframes animateLandingContent {
  0% {
    @include move-to-new-position(125px);
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingHeroImage {
  0% {
    @include move-to-new-position(125px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingNftWidget {
  0% {
    @include move-to-new-position(200px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}

@keyframes animateLandingButton {
  0% {
    @include move-to-new-position(250px);
  }

  25% {
    opacity: 0;
  }

  100% {
    @include return-to-og-position;
  }
}
