@import '../../../../styles/main';

.dashboard-token-mintning-chart-custom-label {
  @include t200;
  font-size: 12px;
  fill: $dashboard-content-base-text-color;
  font-feature-settings: $dashboard-font-feature-settings;

  @media #{$screen-min-dashboard-xs} {
    font-size: 14px;
  }
}

.dim {
  opacity: 0.4;
}

.dashboard-token-mintning-chart-legend {
  &__cells-list {
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__cells-list-item {
    margin: 0;
    padding: 0;
  }

  &__cell {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__cell-bg {
    width: 16px;
    height: 16px;
    border: 1px solid $dashboard-base-border-color;
    border-radius: 4px;
  }

  &__cell-label {
    @include t200;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-lg} {
    & {
      margin-top: auto;
    }
  }
}
