@import '../../../../styles/main';

.dashboard-team-action-button {
  @include t300;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 12px 18px;
  font-weight: 600;
  color: $dashboard-content-base-text-color;
  cursor: pointer;
  background-color: $dashboard-widget-base-background-color;
  border: 1px solid $dashboard-base-borders-color;
  border-radius: 2px;
  transition: all $dashboard-transition-duration $dashboard-transition-timing;
  font-feature-settings: $dashboard-font-feature-settings;
  gap: 8px;

  &:hover,
  &:focus {
    background-color: $dashboard-widget-base-info-states-background-color;
    border-color: $dashboard-base-border-color;
  }

  &:active {
    background-color: $dashboard-widget-base-background-color;
    transition-duration: 0ms;
  }

  @media #{$screen-min-dashboard-sm} {
    width: 210px;
  }
}
