@import '../../../../styles/main';

.dashboard-token-minting-chart-widget {
  @include dashboard-widget;

  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  &__alt-heading {
    & .dashboard-widget-heading__info-wrapper {
      right: 0;

      @media #{$screen-min-dashboard-md} {
        right: -53px;
      }
    }
  }
}
