@import '../../../styles/main';

.dashboard-widget-heading {
  display: flex;
  align-items: center;

  &.base-margin {
    margin-bottom: 16px;
  }

  &.dim-heading {
    margin-bottom: 0;
  }

  &__heading {
    @include dashboard-widget-heading;

    & > span {
      color: $dashboard-base-gray-text-color;
    }

    &.dim-heading {
      @include dashboard-widget-helper-text;
    }
  }

  &__icon-wrapper {
    position: relative;
    margin-left: 4px;
    padding: 8px;
    max-height: 32px;
    border-radius: 50%;
    color: $dashboard-widget-base-info-icon-fill;

    &:hover {
      color: $dashboard-widget-base-info-icon-states-fill;
      background-color: $dashboard-widget-base-info-states-background-color;

      & .dashboard-widget-heading__info-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // as TractionCard modal

  &__info-wrapper {
    position: absolute;
    right: 0px;
    bottom: 36px;
    z-index: 2000;
    width: 139px;
    margin: auto;
    padding: 8px;
    background-color: #343d44;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    transition-delay: 0.1s;
  }

  &__info {
    @include t100;
    color: $dashboard-base-white-text-color;
  }

  &__wrapper {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: $dashboard-widget-base-background-color;
    border-radius: 4px;
  }

  &__label {
    @include t300;
    color: $dashboard-base-gray-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__value {
    @include t300;
    font-weight: 600;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-xs} {
    &__info-wrapper {
      right: -53px;
    }
  }
}
