@import '../../../styles/_main';

$indentation: 60px;

.Story {
  &__multi-section {
    position: relative;
    background: $c_black;

    @media #{$screen-md} {
      &::before {
        position: absolute;
        top: 0;
        right: 20px;
        display: block;
        content: url('../../../assets/svg/multi-section-pattern.svg');
      }
    }

    @media #{$screen-lg} {
      &::before {
        left: calc(50% + 20px);
      }
    }
  }
}

.StoryHeader {
  $_r: &;

  width: 100%;
  color: $c_white;
  background-image: url('../../../assets/svg/brand-story-header.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  &__title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    color: inherit;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  &__description {
    margin-bottom: 40px;

    p {
      font-size: 20px;
      line-height: 30px;
      color: $c_grayc-chateau;
    }

    strong {
      font-weight: normal;
      color: $c_white;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    padding: 80px 72px;
  }

  &__image {
    width: 100%;
    max-width: 192px;
  }

  &__chip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__action {
    position: absolute;
    right: 0;
    bottom: 120px;
  }
}

@media #{$screen-md} {
  .StoryHeader {
    padding-bottom: 0;
    background-image: none;

    &__container {
      flex-direction: row;
    }

    &__title {
      margin-bottom: 80px;
      font-size: 60px;
      font-weight: bold;
      line-height: 70px;
      color: inherit;
    }

    &__description {
      margin-bottom: 80px;
    }

    &__content {
      width: 50%;
      margin: 220px 0;
    }

    &__image-wrapper {
      width: 50%;
      padding: 0 120px 0;
    }

    &__image {
      max-width: initial;
    }
  }
}

.StoryWebsite {
  position: relative;

  &__title {
    font-size: 40px;
    color: $c_white;
    text-align: center;
  }

  &__container-dark,
  &__container-blue {
    position: relative;
    margin: 0 -20px;

    &::after {
      display: block;
      padding-bottom: 63%;
      content: '';
    }

    @media #{$screen-sm} {
      margin: 0;
    }
  }

  &__container-dark {
    img {
      position: absolute;
      bottom: 0;
    }

    &::after {
      padding-bottom: 36%;
    }
  }

  &__container-blue {
    background-color: $c_blue-ribbon;
    background-image: url('../../../assets/svg/brand-website-bg.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &__image-container {
    position: absolute;
    top: 15%;
    width: calc(100% - 20px);

    &::after {
      display: block;
      width: 100%;
      padding-bottom: 63%;
      content: '';
    }
  }

  &__page-link {
    position: absolute;
    bottom: 30%;
    display: block;
    width: 100%;
    font-size: 20px;
    color: $c_white;
    text-align: center;
  }

  &__image {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
  }
}

@media #{$screen-sm} {
  .StoryWebsite {
    &__row {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
    }

    &__container-dark,
    &__container-blue {
      width: 50%;
      height: 1000px;
    }

    &__title {
      position: absolute;
      left: 50%;
      margin-top: 80px;
      margin-left: 20px;
      font-size: 70px;
    }

    &__image-container {
      top: 50%;
      left: 50%;
      max-width: 930px;
      transform: translate(-50%, -50%);
    }

    &__page-link {
      bottom: 80px;
    }
  }
}

.StoryDescription {
  &__header {
    margin-bottom: 40px;
  }

  &__header,
  &__footer {
    font-size: 20px;
    line-height: 30px;
    color: $c_white;
  }

  &__text-col {
    max-width: 560px;
  }

  &__text {
    p {
      margin-bottom: 1.5em;
      padding-right: 20px;
      font-size: 14px;
      line-height: 21px;
      color: $c_light-gray;
    }
  }
}

@media #{$screen-md} {
  .StoryDescription {
    &__header,
    &__footer {
      font-size: 30px;
      line-height: 45px;
      color: $c_white;
    }

    &__text p {
      font-size: 20px;
      line-height: 30px;
      color: $c_grayc-chateau;
    }

    &__header {
      max-width: 50%;
      margin-bottom: 80px;
    }

    &__footer {
      max-width: 900px;
      margin: 30px auto 0;
      text-align: center;
    }
  }
}

.StoryLogo {
  color: $c_white;
  background-color: $c_blue-ribbon;
}
