@import '../../../styles/_main';

.FormResponse--error {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  background-color: $c_pippin;
}

.FormResponse {
  padding: 40px;
  background-color: $c_catskill_white;

  &__close {
    width: 32px;
    margin: 10px;
    color: #c4c3c6;
    cursor: pointer;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}
