@import '../../../styles/main';

.IndexPage {
  &__earn-joy-coins-wrapper {
    background-color: $c_blue-ribbon;
  }

  &__earn-joy-coins {
    @extend %container;

    display: grid;
    height: 564px;
    background: url('../../../assets/svg/index-page-earn-joy-coins-video-background.svg') 0% no-repeat;
    background-position: 0% 20%;
    background-size: 56%;
    grid-template-columns: 1fr .8fr;

    &__video {
      display: flex;
      align-items: center;
      justify-content: center;

      &__thumbnail {
        width: 100%;
        margin-right: 15px;
        border: 2px solid black;
        transition: all .2s;
      }

      &__playbutton {
        position: absolute;
        margin: auto;
        opacity: 0;
        transition: all .2s;
        inset: 0;
      }

      &__thumbnail-wrapper {
        position: relative;

        &:hover > .IndexPage__earn-joy-coins__video__thumbnail {
          transform: translate(-5px, -5px);
          box-shadow: 8px 8px 0 -2px #000;
        }

        &:hover > .IndexPage__earn-joy-coins__video__playbutton {
          opacity: 1;
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;

      &__title {
        font-family: $font-primary;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0;
        color: $c_catskill_white;
      }

      &__subtitle {
        margin-top: 12px;
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
        color: #dee3e9;
      }

      &__button {
        width: 250px;
        height: 80px;
        margin-top: 32px;
        background-color: $c_black;

        &:hover {
          background-color: $c_black;
        }
      }
    }
  }

  @media #{$screen-max-lg} {
    &__earn-joy-coins {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: auto;
      padding: 50px;
      background: none;
      background: url('../../../assets/svg/index-page-earn-joy-coins-video-background.svg') 0% no-repeat;
      background-position: 50% -5%;
      background-size: 650px;

      &__info {
        align-items: center;
        max-width: 500px;
        padding-top: 50px;
        padding-left: unset;
        text-align: center;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__earn-joy-coins {
      background: unset;

      &__video {
        &__playbutton {
          opacity: 1;
        }
      }

      &__info {
        padding-top: 25px;

        &__title {
          font-size: 38px;
          line-height: 40px;
        }

        &__subtitle {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &__earn-joy-coins {
      &__video {
        &__playbutton {
          width: 35px;
        }
      }

      &__info {
        padding-top: 15px;

        &__title {
          font-size: 28px;
          line-height: 30px;
        }

        &__subtitle {
          font-size: 15px;
          line-height: 17px;
        }

        &__button {
          width: 100%;
        }
      }
    }
  }
}
