$c_white: #fff;
$c_black: #000;

$c_dusty-gray: #9b9b9b;
$c_silver: #cacaca;
$c_mercury: #e2e2e2;
$c_mine-shaft: #333;
$c_alabaster: #f7f7f7;
$c_blue-haze: #c4c3d9;

$c_blue: #001aff;
$c_bluebonnet: #0017e6;
$c_picton-blue: #3898ec;
$c_caribbean-green: #00dbb0;
$c_persian-green: #00b78b;
$c_raspberry: #e50158;
$c_rose: #ff0161;
$c_pippin: #ffdede;
