$c_white: #fff;
$c_black: #000;

$c_mercury: #e2e2e2;
$c_athens-gray: #f4f6f8;
$c_mystic: #dae2eb;
$c_silver: #cacaca;
$c_blue-haze: #c4c3d9;
$c_loblolly: #b5c1c9;
$c_grayc-chateau: #a7aeb7;
$c_slate-gray: #7b8a95;
$c_wood-smoke: #0b0c0f;

$c_blue-ribbon: #4038ff;
$c_heather: #c3cbd6;
$c_light-blue: #96a4ff;
$c_light-purple: #536dff;
$c_han_purple: #322af1;
$c_ebony-clay: #1f252e;
$c_oslo-gray: #81858d;
$c_light-gray: #c7ced8;

$c_catskill_white: #f2f5f9;
$c_sky-white: #e7edf5;

$c_picton-blue: #3898ec;
$c_raspberry: #e50158;
$c_rose: #ff0161;
$c_pippin: #ffdede;
$c_mauve: #d09dff;
$c_gray_500: #757575;

$c_neutral-200: #dee3e9;
$c_panel_content: #5c6475;
