@mixin grid ($column_number: 12) {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat($column_number, 1fr);

  @media (max-width: 1024px) {
    column-gap: 16px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
