$border-radius: 6px;
$border-radius-small: 3px;

$font-sizes: (
  t1: 64px,
  t2: 40px,
  t3: 36px,
  t4: 30px,
  t5: 28px,
  t6: 26px,
  big: 20px,
  default: 16px,
  small: 12px,
);

$duration: 400ms;
$navbar-height: 90px;

$font-primary: PxGroteskRegular, sans-serif;
$font-secondary: Inter, sans-serif;
