$base-spacing: 4px;

$gutter: 28px;

$border-radius: 4px;

$font-sizes: (
  default: 14px,
  small: 12px,
  medium: 16px,
  large: 24px,
  xlarge: 32px,
  xxlarge: 36px,
  xxxlarge: 45px,
);

$navbar-height: 72px;

$duration: 200ms;
