@import '../../../styles/main';

.LessonList {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh);
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    background: $c_black;
    opacity: .5;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    width: 598px;
    height: 100%;
    background: $c_black;
  }

  &__lessons {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 10px;
    color: $c_white;
    cursor: pointer;
    border: 2px solid $c_blue-ribbon;

    &:hover {
      background: $c_blue-ribbon;
    }
  }

  &__title {
    padding: 80px 0 30px 30px;
    font-family: $font-primary;
    font-size: 28px;
    line-height: 36px;
    color: $c_white;
  }

  @media #{$screen-max-md} {
    &__backdrop {
      display: none;
    }

    &__content {
      width: calc(100vw);
      margin: auto;
    }

    &__wrapper {
      height: calc(100vh * 4);
    }

    &__title {
      width: calc(90vw);
      padding-top: 80px;
      padding-bottom: 20px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 40px;
    }
  }

  @media #{$screen-max-sm} {
    &__backdrop {
      display: none;
    }

    &__content {
      width: calc(100vw);
      margin: auto;
    }

    &__wrapper {
      height: calc(100vh * 4);
    }

    &__title {
      width: calc(90vw);
      padding-top: 80px;
      padding-bottom: 20px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 40px;
    }
  }

  @media (max-width: 500px) {
    &__backdrop {
      display: none;
    }

    &__content {
      width: calc(100vw);
      margin: auto;
    }

    &__wrapper {
      height: calc(100vh * 4);
    }

    &__title {
      width: calc(90vw);
      padding-top: 80px;
      padding-bottom: 20px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 40px;
    }
  }
}

.Lesson {
  &__wrapper {
    width: 538px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #1f252e;
    transition: transform .5s, box-shadow .5s, outline .2s;

    &:hover {
      background: $c_white;
      outline: 2px solid $c_blue-ribbon;
      box-shadow: 6px 6px 0 -2px $c_blue-ribbon;
    }

    &--active {
      outline: 2px solid $c_blue-ribbon;

      &:hover {
        outline: 2px solid $c_blue-ribbon;
        transform: unset;
        box-shadow: none;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin: 30px 30px 30px 20px;
  }

  &__title {
    width: 320px;
    margin-right: 28px;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 24px;
    color: $c_white;

    &:hover,
    &--active {
      color: $c_black;
    }
  }

  &__length {
    width: 48px;
    padding: 28px;
    padding-right: 48px;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 24px;
    color: $c_oslo_gray;

    &--active {
      color: $c_black;
    }
  }

  @media #{$screen-max-sm} {
    &__wrapper {
      width: calc(90vw);
      padding-top: 10px;
    }

    &__backdrop {
      display: none;
    }

    &__content {
      width: calc(90vw);
    }

    &__icon {
      width: calc(15vw);
    }

    &__title {
      width: calc(60vw);
      margin: 0;
      padding: 0;
    }

    &__length {
      width: calc(66vw);
      margin-bottom: 10px;
      padding: 0;
      text-align: center;
    }
  }

  @media #{$screen-max-md} {
    &__wrapper {
      width: calc(90vw);
      padding-top: 10px;
    }

    &__backdrop {
      display: none;
    }

    &__content {
      flex-wrap: wrap;
      width: calc(90vw);
    }

    &__icon {
      width: calc(15vw);
    }

    &__title {
      width: calc(60vw);
      margin: 0;
      padding: 0;
    }

    &__length {
      width: calc(66vw);
      margin-bottom: 10px;
      padding: 0;
      text-align: center;
    }
  }

  @media #{$screen-max-sm} {
    &__wrapper {
      width: calc(90vw);
      padding-top: 10px;
    }

    &__backdrop {
      display: none;
    }

    &__content {
      flex-wrap: wrap;
      width: calc(90vw);
    }

    &__icon {
      width: calc(15vw);
    }

    &__title {
      width: calc(60vw);
      margin: 0;
      padding: 0;
    }

    &__length {
      width: calc(66vw);
      margin-bottom: 10px;
      padding: 0;
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    &__wrapper {
      width: calc(90vw);
      padding-top: 10px;
    }

    &__backdrop {
      display: none;
    }

    &__content {
      flex-wrap: wrap;
      width: calc(90vw);
    }

    &__icon {
      width: calc(15vw);
    }

    &__title {
      width: calc(60vw);
      margin: 0;
      padding: 0;
    }

    &__length {
      width: calc(66vw);
      margin-bottom: 10px;
      padding: 0;
      text-align: center;
    }
  }
}
