@import '../styles/main.scss';

.IndexPage {
  &__link {
    display: flex;
    margin: 12px 0 0 20px;
  }

  &__link-arrow {
    margin-left: 13px;
    color: $c_blue-ribbon;
    transform: rotate(-90deg);
  }

  &__link-text {
    color: $c_blue-ribbon;
  }
}
