@import '../../styles/_main.scss';

.AtlasDemo {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  background-color: $c_black;

  &__background-left,
  &__background-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    margin: auto 0;
  }

  &__background-left {
    left: 0;
  }

  &__background-right {
    right: 0;
    margin: 0;
  }

  &__container {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    z-index: 1;
    font-size: 2.5rem;
    color: $c_white;
    text-align: center;
    transition: opacity 1s;
  }

  &__title--focused {
    opacity: 0;
  }

  &__try-out-button {
    margin-top: 6rem;
  }

  @media #{$screen-max-md} {
    padding: 0 0 3rem 0;

    &__background-left,
    &__background-right {
      display: none;
    }

    &__title--focused {
      opacity: 1;
      animation: none;
    }

    &__try-out-button {
      margin-top: 1rem;
    }
  }

  @media #{$screen-max-sm} {
    &__try-out-button {
      width: 30.24rem;
    }
  }

  @media (max-width: 550px) {
    &__try-out-button {
      width: 21.6rem;
    }
  }

  @media (max-width: 380px) {
    &__try-out-button {
      width: 17.28rem;
    }
  }
}
