@import '../../styles/_main.scss';

.AtlasDemo {
  position: relative;
  width: 100%;
  padding: 9.375rem 0;
  background-color: $c_black;

  &__background-left,
  &__background-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    margin: auto 0;
  }

  &__background-left {
    top: 25rem;
    right: calc(50% + 22rem);
  }

  &__background-right {
    left: calc(50% + 20rem);
    margin: 0;
  }

  &__container {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    z-index: 1;
    margin-bottom: -6rem;
    font-size: 2.5rem;
    color: $c_white;
    text-align: center;
    transition: opacity 1s;
    transition-delay: .5s;
  }

  &__title--focused {
    opacity: 0;
    transition-delay: 0s;
  }

  @media #{$screen-max-lg} {
    &__background-left {
      top: 15rem;
      right: calc(50% + 15rem);
    }

    &__background-right {
      left: calc(50% + 12rem);
      margin: 0;
    }
  }

  @media #{$screen-max-md} {
    padding: 1rem 0 3rem 0;

    &__title {
      margin-bottom: 0;
    }

    &__background-left,
    &__background-right {
      display: none;
    }

    &__title--focused {
      opacity: 1;
      animation: none;
    }

    &__try-out-button {
      width: 12rem;
      height: 4rem;
    }
  }

  @media #{$screen-max-sm} {
    &__try-out-button {
      width: 30.24rem;
    }
  }

  @media (max-width: 550px) {
    &__try-out-button {
      width: 21.6rem;
    }
  }

  @media (max-width: 380px) {
    &__try-out-button {
      width: 17.28rem;
    }
  }
}
