@import '../../styles/main.scss';

.Pane {
  $_r: &;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 2px solid $c_bluebonnet;
  border-radius: 3px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: $c_bluebonnet;
  }

  &__img {
    width: 126px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    text-align: center;
    background-color: $c_white;
    transition: background-color $duration;
  }

  &__title {
    margin-bottom: 6px;
    font-size: get($font-sizes, 't6');
    font-weight: 700;
    color: $c_bluebonnet;
    transition: color $duration;
  }

  &__paragraph {
    font-size: 14px;
    line-height: 22px;
    color: $c-black;
    transition: color $duration;
  }

  &:hover &,
  &:active & {
    &__content {
      background-color: $c_bluebonnet;
    }

    &__title,
    &__paragraph {
      color: $c_white;
    }
  }

  &--disabled {
    border: 2px solid $c_mercury;

    #{$_r}__wrapper {
      background-color: $c_mercury;
    }

    #{$_r}__title {
      color: $c_blue-haze;
    }

    &:hover,
    &:active {
      #{$_r}__content {
        background-color: $c_white;
      }

      #{$_r}__title {
        color: $c_blue-haze;
      }

      #{$_r}__paragraph {
        color: $c_black;
      }
    }
  }
}

@media #{$screen-sm} {
  .Pane {
    flex-direction: row;

    &__wrapper {
      padding: 20px;
    }

    &__content {
      padding: 0 20px;
      text-align: left;
    }

    &__title {
      font-size: get($font-sizes, 't5');
    }

    &__paragraph {
      font-size: get($font-sizes);
    }
  }
}

@media #{$screen-md} {
  .Pane {
    &__content {
      padding-left: 30px;
    }
  }
}
