@import '../../styles/main';

.dashboard-widget-heading {
  display: flex;
  align-items: center;

  &.base-margin {
    margin-bottom: 16px;
  }

  &__heading {
    @include dashboard-widget-heading;
  }

  &__icon-wrapper {
    position: relative;
    margin-left: 4px;
    padding: 8px;
    max-height: 32px;
    border-radius: 50%;
    color: $dashboard-widget-base-info-icon-fill;

    &:hover {
      color: $dashboard-widget-base-info-icon-states-fill;
      background-color: $dashboard-widget-base-info-states-background-color;

      & .dashboard-widget-heading__info-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // as TractionCard modal

  &__info-wrapper {
    position: absolute;
    right: -53px;
    bottom: 36px;
    z-index: 2000;
    width: 139px;
    margin: auto;
    padding: 8px;
    background-color: #343d44;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    transition-delay: 0.1s;
  }

  &__info {
    @include t100;
    color: $dashboard-base-white-text-color;
  }
}
