@import '../../../styles/main';

.FoundingMembersPage {
  &__benefit {
    &__title {
      margin-top: 22px;
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      color: #1a1a1a;
    }

    p {
      margin-top: 16px;
      font-family: $font-secondary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }

  &__benefits {
    @extend %container;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 120px 0 520px 0;
    background-color: white;

    &--secondary {
      padding-top: 240px;
    }

    &__explanation {
      display: flex;
      flex-direction: row;
      margin-bottom: 110px;
      padding: 0 20px;

      &__title {
        font-family: $font-primary;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
      }

      &__text {
        width: 700px;
        margin-left: 62px;

        p {
          margin-bottom: 16px;
          font-family: $font-secondary;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0;
        }
      }

      &__quote {
        display: none;
        margin-bottom: 32px;
        font-family: $font-primary;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        color: #4038ff;
      }
    }

    &__title {
      padding: 0 20px;
      font-family: $font-primary;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
    }

    &__alternate-title {
      display: none;
      padding: 0 20px;
      font-family: $font-primary;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
    }

    &__container {
      display: grid;
      margin-top: 64px;
      padding: 0 20px;
      gap: 40px;
      grid-template-columns: repeat(auto-fill, 360px);
    }
  }

  @media (max-width: 1300px) {
    &__benefits {
      padding: 120px 30px 520px 30px;

      &--secondary {
        padding-top: 240px;
      }

      &__container {
        grid-template-columns: repeat(auto-fill, 335px);
      }

      &__alternate-title {
        display: inline-block;
      }

      &__title {
        display: none;
      }
    }
  }

  @media #{$screen-max-lg} {
    &__benefits {
      &__container {
        grid-template-columns: 1fr;
      }

      &__explanation {
        padding: 0 20px;
      }
    }

    &__take-part {
      width: 100%;
    }
  }

  @media #{$screen-max-md} {
    &__benefits {
      padding: 80px 30px 140px 30px;

      &--secondary {
        padding-top: 340px;
      }

      &__explanation {
        &__text {
          margin-left: 30px;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__benefits {
      padding: 80px 20px;

      &--secondary {
        padding-top: 340px;
      }

      &__explanation {
        flex-direction: column;
        margin-bottom: 40px;

        &__title {
          margin-bottom: 16px;
          font-size: 32px;
          line-height: 40px;

          br {
            display: none;
          }
        }

        &__text {
          width: 100%;
          margin: 0;

          p:nth-child(1),
          p:nth-child(3) {
            margin-bottom: 32px;
          }

          & span {
            display: none;
          }
        }

        &__quote {
          display: inline-block;
        }
      }

      &__container {
        gap: 40px;
      }
    }
  }
}
