@import '../../../styles/main';

.PrimerPage {
  &__joystreamDAO-wrapper {
    background-color: $c_black;
  }

  &__joystreamDAO {
    @extend %container;

    padding: 155px 40px;
    background: url('../../../assets/svg/primer/backgrounds/dao-desktop.svg'), url('../../../assets/svg/primer/backgrounds/council-desktop.svg'), url('../../../assets/svg/primer/backgrounds/working-groups-desktop.svg'), url('../../../assets/svg/primer/backgrounds/bounties-desktop.svg');
    background-position: right 155px top 93px, left 35px top 837px, left 0 top 1420px, left 17px top 1925px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    &__future-work {
      display: flex;
      flex-direction: row;
      gap: 70px;

      &__section-title {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: .04em;
        color: $c_white;
        text-align: left;
      }

      &__title {
        max-width: 520px;
        margin-top: 24px;
        font-family: $font-primary;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0;
        color: $c_white;
        text-align: left;
      }

      &__text {
        max-width: 480px;
        margin-top: 24px;
        font-family: $font-secondary;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0;
        color: #a7aeb7;
        text-align: left;
      }

      &__image {
        & > img {
          min-width: 481px;
        }
      }
    }

    &__everyone-earns {
      max-width: 902px;
      margin-top: 155px;
      font-family: $font-primary;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0;
      color: $c_white;
      text-align: left;
    }

    &__council {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 80px;
      gap: 136px;

      &__title {
        font-family: $font-primary;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0;
        color: $c_white;
        text-align: left;
      }

      &__text {
        max-width: 713px;
        margin-top: 20px;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        color: #a7aeb7;
        text-align: left;
      }
    }

    &__working-groups {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 160px;
      gap: 136px;

      &__title {
        font-family: $font-primary;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0;
        color: $c_white;
        text-align: left;
      }

      &__text {
        max-width: 621px;
        margin-top: 20px;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        color: #a7aeb7;
        text-align: left;
      }
    }

    &__bounties {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 160px;
      gap: 176px;

      &__title {
        font-family: $font-primary;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0;
        color: $c_white;
        text-align: left;
      }

      &__text {
        max-width: 600px;
        margin-top: 20px;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        color: #a7aeb7;
        text-align: left;
      }
    }
  }

  @media (max-width: 1080px) {
    &__joystreamDAO {
      background-position: right 155px top 93px, left 35px top 837px, left 0 top 1450px, left 17px top 2000px;
    }
  }

  @media (max-width: 1040px) {
    &__joystreamDAO {
      background-position: right 155px top 93px, left 35px top 837px, left 0 top 1470px, left 17px top 2050px;
    }
  }

  @media (max-width: 1035px) {
    &__joystreamDAO {
      background-position: right 155px top 93px, left 35px top 837px, left 0 top 1550px, left 17px top 2125px;
    }
  }

  @media #{$screen-max-md} {
    &__joystreamDAO {
      padding: 100px 40px;
      background-position: right 78px top 75px, left 47px top 635px, left 0 top 1090px, left 15px top 1480px;
      background-size: 300px, 260px, 270px, 350px;

      &__future-work {
        gap: 25px;

        &__title {
          font-size: 38px;
          line-height: 45px;
        }

        &__text {
          font-size: 22px;
          line-height: 32px;
        }

        &__image {
          & > img {
            transform: scale(.8);
          }
        }
      }

      &__everyone-earns {
        margin-top: 100px;
        font-size: 38px;
        line-height: 45px;
      }

      &__council {
        margin-top: 40px;
        gap: 80px;

        &__title {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -.005em;
        }

        &__text {
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -.005em;
        }

        &__image {
          & > svg {
            transform: scale(.91);
          }
        }
      }

      &__working-groups {
        margin-top: 40px;
        gap: 80px;

        &__title {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -.005em;
        }

        &__text {
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -.005em;
        }

        &__image {
          & > svg {
            transform: scale(.91);
          }
        }
      }

      &__bounties {
        margin-top: 40px;
        gap: 80px;

        &__title {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -.005em;
        }

        &__text {
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -.005em;
        }

        &__image {
          & > svg {
            transform: scale(.91);
          }
        }
      }
    }
  }

  @media (max-width: 950px) {
    &__joystreamDAO {
      background-position: right 78px top 75px, left 47px top 635px, left 0 top 1150px, left 15px top 1580px;
    }
  }

  @media (max-width: 900px) {
    &__joystreamDAO {
      background-position: right 78px top 75px, left 47px top 705px, left 0 top 1230px, left 15px top 1680px;
    }
  }

  @media (max-width: 850px) {
    &__joystreamDAO {
      background-position: right 78px top 75px, left 47px top 755px, left 0 top 1280px, left 15px top 1750px;
    }
  }

  @media (max-width: 830px) {
    &__joystreamDAO {
      background-position: right 78px top 75px, left 47px top 805px, left 0 top 1350px, left 15px top 1800px;
    }
  }

  @media (max-width: 790px) {
    &__joystreamDAO {
      background-position: right 78px top 75px, left 47px top 845px, left 0 top 1400px, left 15px top 1900px;
    }
  }

  @media #{$screen-max-sm} {
    &__joystreamDAO {
      padding: 59px 24px;
      background: url('../../../assets/svg/primer/backgrounds/dao-mobile.svg'), url('../../../assets/svg/primer/backgrounds/council-mobile.svg'), url('../../../assets/svg/primer/backgrounds/working-groups-mobile.svg'), url('../../../assets/svg/primer/backgrounds/bounties-mobile.svg');
      background-position: center top 70px, center top 685px, center top 1180px, center top 1870px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

      &__future-work {
        display: flex;
        flex-direction: column-reverse;

        &__title {
          max-width: unset;
          margin-top: 16px;
          font-size: 28px;
          line-height: 34px;
        }

        &__text {
          max-width: unset;
          margin-top: 16px;
          font-size: 20px;
          line-height: 24px;
        }

        &__image {
          display: flex;
          align-items: center;
          justify-content: center;

          & > img {
            transform: scale(.66);
          }
        }
      }

      &__everyone-earns {
        max-width: 450px;
        margin-top: 40px;
        font-size: 28px;
        line-height: 34px;
      }

      &__council {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 0;

        &__title {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -.005em;
        }

        &__text {
          margin-top: 16px;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -.005em;
        }

        &__image {
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            transform: scale(.82);
          }
        }
      }

      &__working-groups {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 0;

        &__title {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -.005em;
        }

        &__text {
          max-width: unset;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -.005em;
        }

        &__image {
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            transform: scale(.83);
          }
        }
      }

      &__bounties {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 0;

        &__title {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -.005em;
        }

        &__text {
          max-width: unset;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -.005em;
        }

        &__image {
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            transform: scale(.82);
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    &__joystreamDAO {
      background-position: center top 70px, center top 705px, center top 1220px, center top 1920px;
    }
  }

  @media (max-width: 530px) {
    &__joystreamDAO {
      background-position: center top 70px, center top 705px, center top 1250px, center top 2000px;
    }
  }

  @media (max-width: 480px) {
    &__joystreamDAO {
      background-position: center top 70px, center top 785px, center top 1320px, center top 2120px;
    }
  }

  @media (max-width: 450px) {
    &__joystreamDAO {
      background-position: center top 70px, center top 785px, center top 1360px, center top 2170px;
    }
  }

  @media (max-width: 385px) {
    &__joystreamDAO {
      background-position: center top 70px, center top 785px, center top 1400px, center top 2270px;
    }
  }
}
