@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

.IndexPage {
  &__creator-tokens-wrapper {
    padding: 96px 32px;
    background-color: #111316;
  }

  &__creator-tokens {
    @include grid;

    &__main {
      display: grid;
      height: 512px;
      gap: 30px;
      grid-template-columns: 500px auto;

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__section-title {
          @include section-title;

          color: #6c6cff;
        }

        &__title {
          @include h3;

          margin-top: 4px;
          color: $c_white;
        }

        &__subtitle {
          @include base-1;

          margin-top: 16px;
          color: #a7aeb7;
        }

        &__link {
          margin-top: 32px;
          font-family: $font-primary;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0;
          color: #6c6cff;

          &__arrow {
            margin-bottom: -3px;
            margin-left: 10px;
            transform: rotate(-90deg) scale(.8);
          }
        }
      }

      &__illustration {
        position: relative;
        height: 512px;
        overflow: hidden;

        &__background {
          position: absolute;
        }

        &__foreground {
          position: absolute;
        }
      }

      &__overlay {
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 128px;
        background: linear-gradient(180deg, rgba(17, 19, 22, 0) 0%, #111316 100%);
      }
    }

    &__grid {
      display: grid;
      margin: 72px auto 0 auto;
      gap: 72px 24px;
      // max-width: 1142px;
      grid-column: 2 / 12;
      grid-template-columns: 1fr 1fr;
    }

    &__grid-item {
      display: flex;
      flex-direction: column;

      &__illustration {
        display: flex;
        justify-content: center;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // max-width: 480px;
        padding: 32px 40px 0 40px;

        &__section-title {
          @include h100;

          font-weight: 700;
          color: #6c6cff;
        }

        &__title {
          @include h500;

          margin-top: 4px;
          color: $c_white;
        }

        &__subtitle {
          @include t300;

          margin-top: 16px;
          color: #a7aeb7;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    &__creator-tokens {
      &__grid {
        grid-column: 1 / 13;
      }

      &__grid-item {
        &__illustration {
          position: relative;
          width: 100%;
          height: 360px;
          overflow: hidden;

          &__image {
            position: absolute;
            right: -50%;
            left: -50%;
            width: 605px;
            min-width: 605px;
            margin: auto;
            inset: 0;
          }
        }

        &__content {
          padding: 32px 0 0 0;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__creator-tokens-wrapper {
      padding: 64px 16px;
    }

    &__creator-tokens {
      &__grid {
        display: flex;
        flex-direction: column;
      }

      &__grid-item {
        max-width: 736px;

        &__illustration {
          &__image {
            position: absolute;
            top: -50%;
            bottom: -50%;
            width: 100%;
            min-width: unset;
            inset: 0;
          }
        }

        &__content {
          &__title {
            @include h400;

            & > br {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__creator-tokens {
      &__grid {
        gap: 56px;
      }

      &__grid-item {
        &__illustration {
          width: 100%;
          height: 320px;
          min-height: 320px;

          &__image {
            position: absolute;
            right: -50%;
            left: -50%;
            width: auto;
            min-width: 550px;
            min-height: 320px;
            inset: 0;
          }
        }

        &:nth-child(2) &__illustration,
        &:nth-child(3) &__illustration {
          &__image {
            right: -50px;
            left: -50px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__creator-tokens {
      &__grid-item {
        &__illustration {
          width: 100%;
          height: 270px;
          min-height: 270px;

          &__image {
            position: absolute;
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
            width: auto;
            min-width: 464px;
            min-height: 270px;
          }
        }

        &:nth-child(1) &__illustration {
          &__image {
            right: -72px;
            left: -72px;
          }
        }

        &:nth-child(2) &__illustration {
          &__image {
            right: -47px;
            left: -47px;
          }
        }

        &:nth-child(3) &__illustration {
          &__image {
            right: -58px;
            left: -58px;
          }
        }

        &:nth-child(4) &__illustration {
          &__image {
            right: -72px;
            left: -72px;
          }
        }

        &__content {
          &__title {
            @include h300;
          }
        }
      }
    }
  }
}
