@import '../../styles/main';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;

  & a {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .07px;
    color: white;
    gap: 8px;
  }

  & div {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 5px;

    & img {
      width: 30px;
    }
  }

  & button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .07px;
    color: white;
    background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
    border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
    border-radius: 2px;
    gap: 8px;
  }
}

.navbarlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
  gap: 16px;

  & button {
    padding: 8px 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .12px;
  }
}
