@import '../../../styles/main';

.WorkingGroups {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1240px;
    margin: auto;
    margin-top: -32px;
    padding-bottom: 90px;
  }

  &__title {
    margin: auto;
    margin-bottom: 24px;
    padding-top: 80px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 80px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #5c6475;
    text-align: center;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 610px;
    margin-bottom: 30px;
    background: $c_white;
    transition: transform .5s, box-shadow .5s, outline .2s;

    &--hoverable:hover {
      outline: 2px solid #000;
      transform: translate(-5px, -5px);
      box-shadow: 8px 8px 0 -2px #000;
    }

    &__payout {
      width: 610px;
      padding: 20px 30px;
      font-family: $font-primary;
      font-size: 18px;
      line-height: 30px;
      color: $c_oslo-gray;
      background: $c_ebony-clay;

      &--amount {
        font-family: $font-primary;
        font-size: 30px;
        line-height: 30px;
        color: $c_catskill_white;
      }
    }

    &__linechart {
      &__loader {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 48px;
        height: 48px;
        margin: auto;
      }

      &__tooltip {
        padding: 15px;
        background-color: white;

        &__label {
          margin-bottom: 10px;
          font-family: $font-primary;
          font-size: 25px;
          font-weight: bold;
          text-align: center;
        }

        &__value {
          font-family: $font-secondary;

          span {
            font-weight: bold;
            color: #6c6cff;
          }
        }
      }
    }

    &__title {
      width: 600px;
      padding: 20px 30px 8px;
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      color: $c_black;
    }

    &__subtitle {
      width: 600px;
      padding-bottom: 14px;
      padding-left: 30px;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 24px;
      color: #656565;
    }

    &__images {
      display: flex;
      width: 140px;
      height: 48px;
      margin-top: 24px;
      margin-bottom: 30px;
      margin-left: 42px;
    }

    &__count {
      z-index: 1;
      width: 48px;
      height: 48px;
      margin-left: -12px;
      padding-top: 14px;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: bold;
      color: $c_blue_ribbon;
      text-align: center;
      background: #f2f5f9;
      border-radius: 24px;
    }

    &__image {
      width: 48px;
      height: 48px;
      margin-left: -12px;
      background: $c_white;
      border: 2px solid $c_black;
      border-radius: 24px;

      &:nth-of-type(1) {
        z-index: 4;
      }

      &:nth-of-type(2) {
        z-index: 3;
      }

      &:nth-of-type(3) {
        z-index: 2;
      }
    }

    &__link {
      position: absolute;
      right: 20px;
      bottom: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      width: 500px;
      cursor: pointer;
    }

    &__link-text {
      margin-right: 12px;
      margin-bottom: 5px;
      font-family: $font-primary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
    }

    &__link-arrow {
      color: $c_blue-ribbon;
      transform: rotate(-90deg) scale(.85);
    }
  }

  @media #{$screen-max-md} {
    &__content {
      width: calc(90vw);
      margin: auto;
    }

    &__title {
      width: calc(90vw);
      padding: 0;
      padding-top: 80px;
      text-align: center;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 20px;

      &__link {
        position: initial;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 20px;
      }

      &__title {
        width: calc(90vw);
      }

      &__subtitle {
        width: calc(90vw);
      }

      &__payout {
        width: calc(90vw);
      }
    }
  }
}
