@import '../../styles/_main';

.ModalContent {
  border-radius: inherit;
}

.ModalContent__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: $c_caribbean-green;
}
