@import '../../../styles/main';

.InfoSection {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__manifesto-cta {
    width: 818px;
    margin: auto;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      margin-top: 80px;
      margin-bottom: 24px;
      font-family: $font-primary;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
    }

    &__subtitle {
      margin-bottom: 80px;
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: #5c6475;
      text-align: justify;
    }

    &__link-wrapper {
      width: fit-content;
      margin-top: 32px;
    }

    @media #{$screen-max-md} {
      width: calc(90vw);

      &__content {
        width: calc(90vw);
      }
    }

    @media #{$screen-max-sm} {
      width: calc(90vw);

      &__content {
        width: calc(90vw);
      }
    }

    @media (max-width: 500px) {
      width: calc(90vw);

      &__content {
        width: calc(90vw);
      }
    }
  }
}
