@import '../../styles/_main';

.TestnetModal {
  overflow: hidden;
  border-radius: inherit;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: $c_caribbean-green;
  }

  &__image {
    height: 200px;
  }

  &__container {
    padding: 40px 20px 20px;
    text-align: center;

    & > p {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: get($font-sizes, 't6');
  }

  &__button {
    width: 200px;
  }

  @media #{$screen-sm} {
    &__container {
      padding: 60px 100px;

      & > p {
        font-size: 18px;
        line-height: 30px;
      }
    }

    &__title {
      font-size: get($font-sizes, 't2');
    }
  }

  @media #{$screen-md} {
    &__paragraph {
      font-size: get($font-sizes, 'big');
    }
  }
}
