@import '../../../styles/main';
@import '../../../pages/style';

.IndexPage {
  &__jsgenesis-wrapper {
    background-color: $c_white;
  }

  &__jsgenesis {
    @extend %largeContainer;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 128px 0;
    background-image: url('../../../assets/svg/landing/jsgenesis-background-left.svg'), url('../../../assets/svg/landing/jsgenesis-background-right.svg');
    background-position: top -15px left 0, top -17px right 0;
    background-repeat: no-repeat, no-repeat;

    &__section-title {
      @extend %section-title;

      display: inline-block;
      color: $c_blue-ribbon;
      text-align: center;
    }

    &__title {
      @include h2;

      margin-top: 4px;
      margin-bottom: 32px;
      color: $c_black;
      text-align: center;
    }

    &__link {
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
      text-align: center;

      &__arrow {
        margin-bottom: -3px;
        margin-left: 10px;
        transform: rotate(-90deg) scale(.8);
      }
    }
  }

  @media #{$screen-max-lg} {
    &__jsgenesis {
      background-position: top -15px left -75px, top -17px right -50px;
    }
  }

  @media #{$screen-max-md} {
    &__jsgenesis {
      padding: 75px 0;
      background-position: top -12px left -75px, top -12px right -50px;
      background-size: 310px, 245px;

      &__title {
        @include h3;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__jsgenesis {
      padding: 65px 0;
      background-position: top -12px left -150px, top -12px right -125px;

      &__title {
        @include h4;

        max-width: 300px;

        & > span {
          display: block;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &__jsgenesis {
      padding: 158px 0;
      background-image: url('../../../assets/svg/landing/jsgenesis-background-top-mobile.svg'), url('../../../assets/svg/landing/jsgenesis-background-bottom-mobile.svg');
      background-position: top -10px center, bottom -12px center;
      background-size: 510px, 510px;
    }
  }

  @media (max-width: 375px) {
    &__jsgenesis {
      padding: 128px 0;
      background-image: url('../../../assets/svg/landing/jsgenesis-background-top-mobile.svg'), url('../../../assets/svg/landing/jsgenesis-background-bottom-mobile.svg');
      background-position: top -8px center, bottom -9px center;
      background-size: 375px, 375px;
    }
  }
}
