@import '../../../styles/_main.scss';

.dashboard-header {
  position: sticky;
  top: 0;
  z-index: $dashboard-header-z-index;

  &__wrapper {
    height: $dashboard-header-height;
    background-color: $dashboard-header-background-color;
    border-bottom: 1px solid $dashboard-header-border-bottom-color;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
  }

  &__button {

    @include t200;
    @include dashboard-buttons-states;

    display: flex;
    align-items: center;
    color: $dashboard-header-buttons-color;
    cursor: pointer;
  }

  &__button-back {
    padding: 12px;
    border-radius: 20px;
    opacity: .5;

    &_short-text {
      display: none;
      margin-left: 8px;
    }

    &_text {
      display: none;
      margin-left: 8px;
    }
  }

  &__button-chat {
    padding: 8px 16px;
    background-color: $dashboard-header-chat-button-background-color;
    border: 1px solid $dashboard-header-buttons-border-color;
    border-radius: 2px;

    &_text {
      display: none;
    }

    &_icon {
      display: none;
      margin-left: 8px;
    }
  }

  &__nav-wrapper {
    background-color: $dashboard-header-background-color;
  }

  &__nav {
    height: $dashboard-header-nav-height;
    padding: 8px 16px;
    overflow-x: auto;
    background-color: $dashboard-navbar-background-color;
    border-top: 1px solid $dashboard-header-border-bottom-color;
    border-bottom: 1px solid $dashboard-base-border-color;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__nav-list-item {
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  &__nav-button {

    @include t100;

    height: 32px;
    padding: 8px 10px;
    color: $dashboard-header-navbar-buttons-color;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $dashboard-header-navbar-buttons-border-color;
    border-radius: 4px;
    transition: all $dashboard-transition-duration $dashboard-transition-timing;

    &:hover,
    &:focus {
      color: $dashboard-header-navbar-buttons-states-color;
      border-color: $dashboard-header-navbar-buttons-states-border-color;
    }

    &.active {
      color: $dashboard-header-navbar-buttons-states-color;
      background-color: $dahboard-header-navbar-buttons-states-background-color;
      border-color: $dashboard-header-navbar-buttons-states-border-color;
    }
  }

  @media #{$screen-min-dashboard-xs} {
    &__button-back {
      padding: 10px 16px;
      border-radius: 2px;

      &_short-text {
        display: block;
      }
    }

    &__button-chat {
      &_icon {
        display: block;
      }
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__button-back {
      opacity: 1;

      &_short-text {
        display: none;
      }

      &_text {
        display: block;
      }
    }

    &__button-chat {
      &_short-text {
        display: none;
      }

      &_text {
        display: block;
      }
    }
  }

  @media #{$screen-min-dashboard-md} {
    &__container {
      padding-inline: 32px;
    }

    &__nav {
      display: flex;
      justify-content: center;
      padding-inline: 32px;
    }
  }

  @media #{$screen-min-dashboard-xl} {
    &__container {
      width: 1920px;
      margin: 0 auto;
    }
  }
}
