@import '../../../styles/main.scss';

.AnalyticsItem {
  $r: &;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;

  &__image {
    max-height: 80px;
    color: $c_blue-ribbon;
  }

  &__image-container {
    width: 100%;
  }

  &__title {
    margin-top: 32px;
    font-size: 16px;
  }

  &__value {
    margin-top: 20px;
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }

  @media #{$screen-sm} {
    &__image {
      max-height: 60px;
    }
  }

  @media #{$screen-md} {
    &__image {
      max-height: 90px;
    }
  }

  @media #{$screen-lg} {
    &--inline {
      flex-direction: row;
      margin-top: 90px;
      text-align: left;

      #{$r} {
        &__image {
          flex-grow: 1;
          max-height: 100px;
        }

        &__image-container {
          display: flex;
          align-items: center;
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: center;
          width: 85px;
          margin-right: 30px;
        }

        &__value {
          margin-top: 12px;
        }

        &__title {
          margin-top: 0;
        }
      }
    }
  }
}
