@import '../../../styles/main';

.history {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .title {
    display: flex;
    justify-content: space-between;

    div {
      font-family: $font-ibm-sans;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px; /* 114.286% */
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 20px;
      color: white;
      background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
      border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
      border-radius: 2px;
      gap: 8px;

      &.show {
        display: flex;
      }

      &.hidden {
        display: none;
      }
    }
  }

  .history-carousel {
    width: 100%;
    overflow: hidden;
  }

  .history-info {
    display: flex;
    flex-direction: column;
    width: 326px;
    background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
    border-radius: 8px;

    .history-img {
      height: 183.38px;
      background: rgba(99, 99, 251, .61);
      border-radius: 8px;

      .img {
        opacity: .3;
      }
    }

    .history-body {
      display: flex;
      flex-direction: column;
      padding: 24px;
      gap: 24px;

      .text {
        display: flex;
        align-items: start;
        flex-direction: column;
        min-height: 128px;
        gap: 8px;

        .date {
          overflow: hidden;
          font-family: $font-ibm-sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          color: var(--solid-white, #fff);
          text-overflow: ellipsis;
          font-feature-settings: 'clig' off, 'liga' off;
          // line-height: 32px; /* 133.333% */
        }

        .desc {
          margin-top: 8px;
          // font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          color: var(--text-default-default, #b5c1c9);
          font-feature-settings: 'clig' off, 'liga' off;
        }
      }

      .read {
        display: flex;
        gap: 8px;

        .other-font {
          display: flex;
          align-items: center;

          /* Desktop/Text/T300 Strong */
          // font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          color: var(--accent-300, #6c6cff);
          font-feature-settings: 'clig' off, 'liga' off;
        }

        .arrow {
          padding: 5px;
          color: var(--accent-300, #6c6cff);
          transform: rotate(-90deg);
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    width: 960px;
  }
  @media screen and (max-width: 768px) {
    width: 733px;

    .title {
      button {
        &.show {
          display: none;
        }

        &.hidden {
          display: flex;
        }
      }
    }
  }
  @media screen and (max-width: 425px) {
    width: 392px;

    .title {
      div {
        font-size: 32px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    width: 285px;

    .title {
      div {
        font-size: 24px;
      }
    }
  }
}
