@import '../../styles/main';
@import '../../pages/style.scss';

.ArrowLink {
  @include h8;

  display: inline-block;
  color: #6c6cff;

  &__arrow {
    margin-bottom: -4px;
    margin-left: 8px;
    color: inherit;
    transform: rotate(-90deg) scale(.75);
  }
}
