@import '../../../../styles//main';

.custom-axis-tick {
  @include t100;

  color: $dashboard-charts-base-tick-color;
  fill: $dashboard-charts-base-tick-color;
  font-feature-settings: $dashboard-font-feature-settings;
}

.custom-dot-text {
  @include t100;

  fill: #fff;
  font-feature-settings: $dashboard-font-feature-settings;
}

.custom-cursor-text {
  @include t100;

  font-feature-settings: $dashboard-font-feature-settings;
}

.custom-tooltip {
  width: 225px;
  padding: 8px;
  background-color: $dashboard-charts-custom-tooltip-background-color;
  border-radius: 8px;

  &.width-reduced {
    width: fit-content;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__payload-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__payload-list-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  &__text-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__text {
    @include t100;

    margin-right: 4px;
    color: $dashboard-charts-base-tick-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__accent-text {
    @include t100;

    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }
}
