@import '../../styles/main.scss';

.slick-list,
.slick-track,
.slick-slide div {
  height: 80px !important;
}

.slick-slide {
  width: 182px !important;
  margin: 0 24px !important;

  @media #{$screen-max-sm} {
    margin: 0 5px !important;
  }
}

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 96px 0;
  background-color: $c_black;
  background-image: url('../../assets/background/footer-bottom-secondary.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 30px;
  gap: 72px;

  &__form-wrapper {
    @include grid;

    padding: 0 32px;
  }

  &__form-title {
    @include h600;

    color: $c_white;
    text-align: center;
    grid-column: 1 / 13;
  }

  &__form-subtitle {
    @include t300;

    margin-top: 4px;
    color: #a7aeb7;
    text-align: center;
    grid-column: 1 / 13;
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    grid-column: 1 / 13;

    &__input {
      @include t300;

      width: 354px;
      height: 64px;
      margin: 0 8px;
      padding: 20px 18px;
      border: 2px solid #dee3e9;
      border-radius: 8px;
    }

    &__button {
      @include t300;

      width: 198px;
      height: 64px;
      margin: 0 8px;
      padding: 0;
      font-weight: 600;
      border-radius: 8px;
    }
  }

  &__layout-wrapper {
    @include grid;

    width: 100%;
  }

  &__layout {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    grid-column: 2 / 12;
  }

  &__section {
    width: 200px;
    font-size: 14px;
    line-height: 1.2;
  }

  &__section-title {
    @include h400;

    margin-bottom: 20px;
    font-weight: 500;
    color: $c_white;
    text-align: left;
  }

  &__section-link {
    @include t300;

    display: flex;
    color: #a7aeb7;
    fill: #a7aeb7;

    &:hover,
    &:active {
      color: $c_white;
      fill: $c_white;
    }

    & + & {
      margin-top: 12px;
    }
  }

  &__section-icon {
    margin-left: 8px;
    fill: inherit;
  }

  &__social-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    margin-top: 12px;
    margin-right: 24px;
  }

  &__social-name {
    display: block;
    margin-left: 8px;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #a7aeb7;
    text-align: left;
  }

  &__social-icon {
    width: 16px;
    fill: #a7aeb7;
  }

  &__social-link:hover .Footer__social-icon,
  &__social-link:hover .Footer__social-name {
    color: $c_white;
    fill: $c_white;
  }

  @media (max-width: 1440px) {
    &__form {
      &__input {
        margin: 0 10px;
      }

      &__button {
        margin: 0 10px;
      }
    }

    &__layout {
      grid-column: 1 / 13;
    }
  }

  @media (max-width: 1024px) {
    padding: 64px 0;
    gap: 56px;

    &__form-title {
      @include h500;
    }

    &__section-title {
      @include h300;
    }

    &__form-wrapper {
      padding: 0 16px;
    }

    &__layout {
      padding: 0 16px;
    }
  }

  @media (max-width: 768px) {
    &__form-wrapper {
      width: 100%;
      padding: 0 16px;
    }

    &__form {
      flex-direction: column;
      width: 100%;
      gap: 20px;

      &__input {
        width: 100%;
        max-width: 393px;
        margin: 0 auto;
      }

      &__button {
        width: 100%;
        max-width: 393px;
        margin: 0 auto;
      }
    }

    &__layout {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
