@import '../../styles/main.scss';

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px 120px;
  background-color: $c_black;
  background-image: url('../../assets/background/footer-bottom.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  &__header {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 400;
    color: $c_white;
  }

  &__button {
    width: 100%;
    margin-bottom: 60px;
  }

  &__layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__section {
    flex: 1 0 50%;
    padding: 0 10px 50px;
    font-size: 14px;
    line-height: 1.2;
  }

  &__section-title {
    display: block;
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-weight: bold;
    color: $c_white;
  }

  &__section-link {
    display: block;
    color: $c_grayc-chateau;

    &:hover,
    &:active {
      color: $c_white;
    }

    & + & {
      margin-top: 14px;
    }
  }

  &__socials {
    display: flex;
  }

  &__social-link {
    margin-right: 24px;
  }

  &__social-icon {
    width: 16px;

    &:hover,
    &:active {
      transform: scale(1.5);
    }
  }

  @media #{$screen-sm} {
    padding: 90px 20px 40px;
    background-image: url('../../assets/background/footer-left.png'), url('../../assets/background/footer-right.png');
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: auto 100%;

    &__header {
      margin-bottom: 80px;
      font-size: 40px;
    }

    &__button {
      width: auto;
      margin-bottom: 120px;
    }

    &__socials {
      flex-wrap: nowrap;
    }

    &__section {
      flex: 1 0 25%;
      width: 175px;
    }

    &__section-title {
      margin-bottom: 24px;
    }
  }
}
