@import '../../../styles/main';

.IndexPage {
  &__howtostart-wrapper {
    padding: 150px 0;
    background: $c_catskill-white;
  }

  &__howtostart {
    @extend %container;

    &__title {
      margin-bottom: 80px;
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0;

      &--mobile {
        display: none;
      }
    }

    &__subtitle {
      @extend %container;

      margin-top: 120px;
      margin-bottom: 40px;
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;

      span {
        display: none;
        font-family: $font-primary;
      }
    }

    &__number-steps-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__number-steps {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    &__number-step {
      display: grid;
      width: 64px;
      height: 64px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
      background-color: $c_white;
      border-radius: 50%;
      place-items: center;

      &--active {
        color: white;
        background-color: $c_blue-ribbon;
      }
    }

    &__number-step-separator {
      width: 190px;
      height: 2px;
      margin: 0 32px;
      background-color: #dee3e9;

      &--active {
        background: linear-gradient(90deg, $c_blue-ribbon 58%, #dee3e9 42%);
      }
    }

    &__text-wrapper {
      display: grid;
      margin-top: 32px;
      column-gap: 30px;
      grid-template-columns: repeat(4, 290px);
    }

    &__text {
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
    }

    &__text-steps {
      display: none;
    }

    &__role-card {
      display: flex;
      align-items: center;
      min-width: 393px;
      min-height: 104px;
      margin: 0 15px;
      padding: 18.5px;
      background-color: $c_white;

      &__icon {
        height: 67px;
        margin-right: 24px;
        color: $c_blue-ribbon;
      }

      &__title {
        font-family: $font-primary;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
      }

      &__stat {
        display: none;
        margin-top: 4px;
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.4000000059604645px;

        span {
          font-weight: 600;
          color: $c_blue-ribbon;
        }
      }
    }

    &__bounty-card {
      display: grid;
      min-width: 391px;
      min-height: 128px;
      margin: 0 16px;
      padding: 12px;
      background-color: $c_white;
      grid-template-columns: 48px auto;

      &__id {
        display: grid;
        width: 48px;
        height: 48px;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0;
        color: $c_oslo-gray;
        background-color: $c_catskill-white;
        place-items: center;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0 0 20px;
      }

      &__title {
        font-family: $font-primary;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
      }

      &__reward {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0;
        color: $c_blue-ribbon;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 240px;
      height: 60px;
      margin: 80px auto 0;
      padding: 18px 23px 18px 20px;
      background-color: $c_blue-ribbon;
    }

    &__button-text {
      font-family: $font-primary;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: $c_white;
    }

    &__button-arrow {
      color: white;
      transform: rotate(-90deg);
    }

    &__link {
      display: none;
    }
  }

  &__howtostart-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  @media (max-width: 1300px) {
    &__howtostart {
      &__title {
        &--mobile {
          display: block;
        }
      }

      &__number-steps-wrapper {
        display: none;
      }

      &__text-steps {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 335px);
      }

      &__text-step {
        &__number {
          font-family: $font-primary;
          font-size: 48px;
          line-height: 56px;
          letter-spacing: 0;
          color: $c_blue-ribbon;
        }

        &__title {
          margin-top: 8px;
          font-family: $font-primary;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0;
          color: $c_black;
        }

        &__text {
          margin-top: 8px;
          font-family: $font-secondary;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0;
          color: #5c6475;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    &__howtostart {
      &__text-steps {
        gap: 48px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr 1fr;
      }
    }
  }

  @media #{$screen-max-md} {
    &__howtostart {
      &__title {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
      }

      &__subtitle {
        width: 85%;
      }

      &__text-steps {
        width: 85%;
        margin: 0 auto;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__howtostart-wrapper {
      padding: 80px 0;
    }

    &__howtostart {
      &__title {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 48px;
      }

      &__subtitle {
        width: auto;
        margin-top: 80px;
        font-size: 24px;
        line-height: 32px;

        &--bounties {
          display: none;
        }

        span {
          display: inline;
        }
      }

      &__text-steps {
        gap: 48px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 1fr 1fr 1fr;
      }

      &__role-card {
        &__stat {
          display: block;
        }
      }

      &__button {
        display: none;
      }

      &__link {
        display: flex;
        margin: 12px 0 0 20px;
      }

      &__link-arrow {
        margin-left: 13px;
        color: $c_blue-ribbon;
        transform: rotate(-90deg);
      }

      &__link-text {
        color: $c_blue-ribbon;
      }
    }

    &__howtostart-carousel {
      justify-content: flex-start;
      padding-left: 5px;
      overflow-x: scroll;

      &--bounties {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    &__howtostart {
      &__title {
        width: 335px;
      }

      &__subtitle {
        margin-left: 15px;
      }

      &__text-steps {
        width: 335px;
      }
    }
  }
}
