@import '../../../styles/_main.scss';
@import '../../../pages/style.scss';

.TokenPage {
  &__instant-swap-wrapper {
    padding: 96px 0;
    background-color: #000;
  }

  &__instant-swap {
    @extend %container;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 816px;
      margin: 0 auto;

      &__section-title {
        @include section-title;

        margin: 0 auto;
        color: $c_blue-ribbon;
      }

      &__title {
        @include h3;

        margin-top: 4px;
        color: #f4f6f8;
        text-align: center;
      }

      &__subtitle {
        @include base-1;

        margin-top: 16px;
        color: #b5c1c9;
        text-align: center;
      }
    }

    &__switch-wrapper {
      display: flex;
      justify-content: center;
    }

    &__switch {
      display: flex;
      margin: 48px auto 0;
      border-radius: 8px;
      gap: 8px;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 20px;
        cursor: pointer;
        background-color: #111316;
        transition: background-color .7s;
        gap: 12px;

        &:hover {
          background-color: #6c6cff;
          transition: background-color .7s;
        }

        &--inactive {
          animation: activeButtonFade .3s ease-in;
        }

        &--active {
          cursor: unset;
          background-color: $c_blue-ribbon;
          transition: background-color .3s;

          &:hover {
            background-color: $c_blue-ribbon;
          }
        }

        &--changenow {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
        }

        &--uniswap {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &__logo {
          position: relative;
          width: 45px;
          height: 45px;

          &--with-background {
            background-color: $c_white;
            border-radius: 12px;
          }

          &__image {
            width: 45px;
            height: 45px;
            border-radius: 12px;
          }

          &__sub-logo {
            position: absolute;
            right: -4px;
            bottom: -4px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }

        &__text-wrapper {
          display: flex;
          flex-direction: column;
          // gap: 2px;
        }

        &__main {
          @include h8;

          color: $c_white;
        }

        &__subtitle {
          @include base-5;

          font-weight: 400;
          color: $c_white;
        }
      }
    }

    &__main {
      display: grid;
      height: 615px;
      margin-top: 48px;
      animation: fadeIn .3s ease-in;
      gap: 24px;
      grid-template-columns: 1fr 1fr;

      &__benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        &__item {
          position: relative;
          display: flex;
          align-items: center;
          height: 117px;
          max-width: 588px;
          padding: 32px 24px;
          background-color: #111316;
          border-radius: 8px;

          &--copy {
            cursor: pointer;
          }

          &__logo {
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }

          &__icon-wrapper {
            display: grid;
            width: 48px;
            height: 48px;
            min-width: 48px;
            background-color: #1f252e;
            border-radius: 999px;
            place-items: center;
          }

          &__text {
            @include h6;

            margin-left: 24px;
            color: #fff;
          }

          &__arrow-icon {
            position: absolute;
            top: 0;
            right: 24px;
            bottom: 0;
            margin: auto;
            color: $c_white;
            transform: rotate(-90deg);
          }

          &__tooltip {
            @include base-3;

            position: absolute;
            right: 0;
            bottom: calc(100% + 8px);
            padding: 8px;
            color: $c_white;
            background-color: #343d44;
            border-radius: 2px;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12), 0 4px 4px 0 rgba(0, 0, 0, .1);
            transition: visibility .3s linear, opacity .3s linear;
            transition-delay: .1s;

            &--visible {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &__widget {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @media #{$screen-max-md} {
    &__instant-swap {
      &__switch {
        margin-top: 32px;
      }

      &__main {
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 585px;
        margin: 32px auto 0;

        &__benefits {
          &__item {
            max-width: 585px;
          }
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__instant-swap-wrapper {
      padding: 80px 0;
    }

    &__instant-swap {
      &__header {
        &__title {
          @include h4;
        }

        &__subtitle {
          @include base-3;
        }
      }

      &__main {
        gap: 12px;

        &__benefits {
          gap: 12px;

          &__item {
            height: 80px;
            padding: 24px 16px;

            &__icon-wrapper {
              width: 32px;
              height: 32px;
              min-width: 32px;

              & > svg {
                transform: scale(.8);
              }
            }

            &__text {
              @include h7;

              margin-left: 12px;
            }

            &__tooltip {
              @include base-4;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__instant-swap {
      &__switch {
        flex-direction: column;

        &__item {
          &--changenow {
            border-top-right-radius: 8px;
            border-bottom-left-radius: 0;
          }

          &--uniswap {
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes activeButtonFade {
  0% {
    background-color: #4038ff;
  }

  100% {
    background-color: #111316;
  }
}
