@import '../../styles/main';

.recharts-surface {
  overflow: visible;
}

.token-release-schedule-chart {
  &__areas-list {
    padding: 0;
    list-style: none;
  }

  &__areas-list-item {
    margin: 0;
    padding: 0;
  }
}

.area {
  display: flex;
  align-items: center;
  gap: 8px;

  &.dim {
    opacity: 0.4;
  }
}

.token-release-schedule-chart-legend {
  margin-top: 8px;

  &__notice {
    padding: 4px 8px;
    margin-bottom: 32px;
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    background-color: $dashboard-widget-base-background-color;
    border-radius: 4px;
  }

  &__notice-text {
    @include t100;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__areas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__area-bg {
    width: 16px;
    height: 16px;
    border: 1px solid $dashboard-base-border-color;
    border-radius: 4px;
  }

  &__area-label {
    @include t200;
    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }
}

.reference-line-custom-label {
  @include t100;
  fill: $dashboard-content-base-text-color;
  font-feature-settings: $dashboard-font-feature-settings;
}

.token-release-schedule-chart-tooltip {
  padding: 8px;
  // width: 256px;
  background-color: $dashboard-charts-custom-tooltip-background-color;
  border-radius: 8px;

  &__header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__areas-list-item {
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include t100;
    color: $dashboard-charts-tooltip-gray-color;
    font-feature-settings: $dashboard-font-feature-settings;

    &.accent {
      color: $dashboard-content-base-text-color;
    }
  }
}
