@import '../../../styles/main';

.ReferallsInfo {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 818px;
    margin: auto;
    margin-top: -80px;
  }

  &__item {
    width: 260px;
    height: 132px;
    margin-bottom: 120px;
    padding: 18px 24px;
    background: $c_white;

    &__title {
      margin-bottom: 10px;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 24px;
      color: #5c6475;
    }

    &__count {
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      color: $c_black;
    }

    &__currency {
      font-family: $font-primary;
      font-size: 32px;
      line-height: 40px;
      color: $c_black;
    }
  }

  @media #{$screen-max-md} {
    &__content {
      flex-wrap: wrap;
      width: calc(90vw);
      margin: auto;
    }

    &__title {
      padding: 0;
      padding-top: 80px;
      text-align: left;
    }

    &__item {
      width: calc(90vw);
      margin-bottom: 20px;

      &__title {
        width: calc(90vw);
      }
    }
  }
}
