@import '../../styles/main';

.landingpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;

  & .container-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 96px 32px;
    gap: 160px;
    @media (max-width: 768px) {
      padding: 64px 16px;
      gap: 128px;
    }
    @media (max-width: 425px) {
      padding: 56px 16px;
      gap: 80px;
    }
    @media (max-width: 320px) {
      // padding: 56px 16px;
      // gap: 96px;
    }
  }

  & .primary-button {
    line-height: 16px;
    color: white;
    border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
    border-radius: 4px;
  }

  .highcharts-credits {
    display: none;
  }

  ::-webkit-scrollbar {
    display: block;
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-right: none;
    border-left: none;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }
}

.widget {
  display: flex;
  padding: 32px;
  background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
  border-radius: 8px;
  gap: 16px;
}
