@import '../../styles/main';

.landingpage {
  color: white;
  background-color: black;

  & .container-wrapper {
    max-width: 1440px;
    margin: auto;
  }

  & .primary-button {
    color: white;
    border: 1px solid var(--border-default-muted-alpha, rgba(187, 217, 246, .13));
    border-radius: 4px;
  }
}
