@import '../../styles/_main';

.Chip {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: $c_persian-green;
  opacity: 1;
  transition: opacity $duration;

  &:hover,
  &:active {
    cursor: pointer;
    opacity: .6;
  }

  &__icon {
    width: 24px;
    margin-right: 8px;
    pointer-events: none;
  }

  @media #{$screen-md} {
    font-size: 18px;

    &__icon {
      width: 28px;
    }
  }
}
