@import '../../styles/_main';

.Chip {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $c_persian-green;
  opacity: 0.6;
  transition: opacity $duration;

  &:hover,
  &:active {
    cursor: pointer;
    opacity: 1;
  }

  &__icon {
    width: 24px;
  }

  &__text {
    margin-left: 8px;
  }

  @media #{$screen-md} {
    font-size: 18px;

    &__icon {
      width: 28px;
    }
  }
}
