@import '../../styles/_main';

.Chip {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $c_white;
  transition: opacity $duration;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
  }

  &__text {
    flex-shrink: 0;
    margin-left: 8px;
  }

  @media #{$screen-md} {
    font-size: 25px;
    color: $c_ebony-clay;

    &__icon {
      width: 43px;
    }
  }
}
