@import '../../../styles/main';

.Structure {
  &__wrapper {
    background-color: $c_catskill-white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 818px;
    margin: auto;
    margin-top: -80px;
    padding-bottom: 120px;
    text-align: center;
  }

  &__item {
    width: 408px;
    height: 120px;
    margin-bottom: 2px;
    padding: 46px;
    background: $c_white;

    &__title__header {
      font-family: $font-primary;
      font-size: 24px;
      line-height: 40px;
      color: $c_black;
    }

    &__title {
      font-family: $font-primary;
      font-size: 20px;
      line-height: 28px;
      color: #5c6475;
    }
  }
}
