@import '../../../styles/main';

.arrow-button {
  @include t300;

  display: flex;
  align-items: center;
  font-weight: 600;
  color: $dashboard-history-stages-buttons-color;
  cursor: pointer;
  font-feature-settings: $dashboard-font-feature-settings;
  gap: 8px;
}
