@import '../../../styles/main';

.ContributorInfo {
  &__wrapper {
    background-color: $c_black;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 1434px;
    margin: auto;
  }

  &__text {
    width: 712px;
    padding-left: 30px;
  }

  &__title {
    width: 500px;
    margin-bottom: 12px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: $c_white;
  }

  &__specialities {
    padding-left: 10px;
    list-style: none;

    & li::before {
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-weight: bold;
      color: $c_blue-ribbon;
      content: '\2022';
    }
  }

  &__description {
    width: 500px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #81858d;
    text-align: left;
  }

  &__image {
    width: 712px;
    height: 492px;
    margin: 0;
    margin-bottom: 80px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 60px;
    padding: 18px 20px;
    background: $c_blue-ribbon;

    &:hover {
      background-color: $c_han_purple;
    }
  }

  &__button-lang {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 16px;
    cursor: pointer;
    border: 2px solid $c_blue-ribbon;

    &:hover {
      background-color: $c_blue-ribbon;
      border: 2px solid $c_han_purple;
    }
  }

  &__button-text {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: white;
  }

  &__button-arrow {
    color: white;
    transform: rotate(-90deg);
  }

  &__link-wrapper {
    width: fit-content;
    margin-top: 32px;
  }

  @media #{$screen-max-md} {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 40px;

    &__content {
      width: calc(90vw);
    }

    &__text {
      width: calc(90vw);
    }

    &__title {
      width: calc(90vw);
      margin: 20px 0;
    }
  }

  @media #{$screen-max-sm} {
    &__content {
      display: flex;
      align-items: center;
      flex-wrap: wrap-reverse;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &__icon {
      display: none;
    }

    &__icon-alt {
      display: block;
    }
  }

  @media #{$screen-max-sm} {
    &__content {
      width: calc(90vw);
    }

    &__title {
      width: calc(90vw);
      margin: 20px 0;
    }

    &__description {
      width: calc(90vw);
    }

    &__image {
      width: calc(90vw);
      margin: 0 auto;
    }

    &__text {
      padding-left: 0;
    }

    &__button {
      width: calc(90vw);
    }
  }

  @media (max-width: 500px) {
    &__content {
      width: calc(90vw);
    }

    &__title {
      width: calc(90vw);
      margin: 20px 0;
    }

    &__description {
      width: calc(90vw);
    }

    &__image {
      width: calc(90vw);
      margin: 0 auto;
    }

    &__text {
      padding-left: 0;
    }

    &__button {
      width: calc(90vw);
    }
  }
}
