.ArrowButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__arrow {
    margin-right: 0 !important;
    transform: rotate(-90deg) scale(.8);
  }
}
