@import '../../../styles/main';

.dashboard-table {
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  &__head {
    background-color: $dashboard-widget-base-background-color;
  }

  &__row {
    box-shadow: 0px -1px 0px 0px rgba(187, 217, 246, .13) inset;
  }

  & th {
    vertical-align: middle;
  }

  &__cell {
    padding: 16px 8px;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }

    &:nth-of-type(2n),
    &:nth-of-type(3n) {
      padding-left: 0;
    }

    &.end-align {
      text-align: end;
    }
  }

  &__head-cell {
    @include h100;

    color: $dashboard-base-gray-text-color;
    text-align: start;
    text-transform: uppercase;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__body-cell {
    @include t100;

    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-sm} {
    &__cell {
      &:first-of-type {
        padding-left: 40px;
      }

      &:last-of-type {
        padding-right: 40px;
      }
    }
  }
}
