@import '../../styles/main';

.Table {
  &__header {
    display: grid;
    align-items: center;
    padding: 0 20px;
    background-color: #dee3e9;

    &__item {
      font-family: $font-secondary;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
    }
  }

  &__body {
    overflow-y: auto;
  }

  &__body::-webkit-scrollbar {
    width: 3px;
  }

  &__body::-webkit-scrollbar-thumb {
    height: 20px;
    background: #a7aeb7;
  }

  &__row {
    display: grid;
    width: 100%;
    margin-bottom: 2px;
    padding: 0 20px;
  }

  @media #{$screen-max-md} {
    &__header {
      padding: 0 12px;
    }

    &__row {
      padding: 0 12px;
    }
  }
}
