@import '../../../styles/main';
@import '../../../pages/style';
@import '../shared-styles';

.IndexPage {
  &__tokenomics-wrapper {
    padding: 96px 32px;
    background-color: #111316;
  }

  &__tokenomics {
    @include grid;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-column: 3 / 11;

      &__section-title {
        @include h400;

        color: #6c6cff;
      }

      &__title {
        @include h900;

        margin-top: 4px;
        color: $c_white;
      }
    }

    &__metrics {
      display: grid;
      margin-top: 72px;
      gap: 24px;
      grid-column: 2 / 12;
      grid-template-areas:
        'price market-cap          total-supply'
        'price circulating-supply  fdv         ';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 152px);

      &__container-wrapper {
        padding: 1px;
        background: linear-gradient(180deg, #52616b 0%, rgba(82, 97, 107, 0) 100%);
        border-radius: 10px;

        &--price {
          grid-area: price;
        }

        &--market-cap {
          grid-area: market-cap;
        }

        &--total-supply {
          grid-area: total-supply;
        }

        &--circulating-supply {
          grid-area: circulating-supply;
        }

        &--fdv {
          grid-area: fdv;
        }
      }

      &__container {
        height: 100%;
        padding: 32px;
        background: rgba(188, 213, 250, .08);
        background-color: get-color-from-opaque-and-background(rgb(188, 213, 250), .08, rgba(17, 19, 22, 1));
        border-radius: 10px;

        &__title {
          @include t400;

          display: flex;
          align-items: center;
          color: #b5c1c9;

          &__info {
            position: relative;
            display: inline-block;
            min-width: 32px;
            min-height: 32px;
            margin-left: 4px;
            border-radius: 50%;

            &__modal {
              @include t100;

              position: absolute;
              right: -53px;
              bottom: 36px;
              z-index: 2000;
              width: 139px;
              margin: auto;
              padding: 8px;
              color: $c_white;
              background-color: #343d44;
              border-radius: 2px;
              opacity: 0;
              visibility: hidden;
              transition: visibility .3s linear, opacity .3s linear;
              transition-delay: .1s;
            }

            &:hover &__modal {
              opacity: 1;
              visibility: visible;
            }

            & > svg {
              position: absolute;
              margin: auto;
              fill: #7b8a95;
              inset: 0;
            }

            &:hover {
              background-color: rgba(187, 217, 246, .13);

              & > svg {
                fill: $c_white;
              }
            }
          }
        }

        &__content {
          &__simple-value {
            @include h700;

            margin-top: 8px;
            color: $c_white;
          }

          &__price {
            margin-top: 17.5px;

            &__value {
              @include h800;

              color: $c_white;
            }

            &__change {
              @include t400;

              margin-top: 5px;
              color: #b5c1c9;
            }

            &__graph {
              width: calc(100% + 64px);
              height: 120px;
              margin: 17.5px -32px -32px -32px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    &__tokenomics {
      &__header {
        grid-column: 1 / 13;

        &__title {
          @include h800;
        }
      }

      &__metrics {
        grid-column: 1 / 13;

        &__container {
          &__content {
            &__simple-value {
              @include h600;
            }

            &__price__value {
              @include h700;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__tokenomics-wrapper {
      padding: 64px 16px;
    }

    &__tokenomics {
      &__header {
        &__title {
          @include h700;
        }
      }

      &__metrics {
        margin-top: 56px;
        gap: 16px;
        grid-template-areas: unset;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 309px 144px 144px;

        &__container-wrapper {
          &--price {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
          }

          &--market-cap {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }

          &--circulating-supply {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }

          &--total-supply {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
          }

          &--fdv {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__tokenomics {
      &__header {
        &__title {
          @include h600;
        }
      }

      &__metrics {
        margin-top: 48px;
        grid-template-columns: 1fr;
        grid-template-rows: 277px repeat(4, 112px);

        &__container {
          height: 100%;
          padding: 16px;

          &__content {
            &__price {
              margin-top: 16px;

              &__graph {
                margin-top: 16px;
              }
            }
          }
        }

        &__container-wrapper {
          &--price {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }

          &--market-cap {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }

          &--circulating-supply {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
          }

          &--total-supply {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
          }

          &--fdv {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__tokenomics {
      &__header {
        &__title {
          @include h500;
        }
      }

      &__metrics {
        grid-template-rows: 269px repeat(4, 104px);

        &__container {
          height: 100%;
          padding: 16px;

          &__content {
            &__simple-value {
              @include h500;
            }

            &__price {
              &__value {
                @include h600;
              }
            }
          }
        }
      }
    }
  }
}
