@import '../../../styles/main';

.Footer {
  &__our-investors-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: $c_black;
  }

  &__our-investors {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;

    &__title {
      font-family: $font-primary;
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0;
      color: $c_white;
      text-align: center;
    }

    &__carousels {
      position: absolute;
      width: 100%;
      margin-top: 68px;

      &__top {
        width: 100%;
        height: 100px;

        h3 {
          color: white;
        }
      }
    }

    &__list-item {
      width: 182px;

      &__icon {
        width: 182px;
      }

      &__icon--active {
        display: none !important;
      }

      &__icon--inactive {
        display: block !important;
      }

      &:hover {
        .Footer__our-investors__list-item__icon--active {
          display: block !important;
        }

        .Footer__our-investors__list-item__icon--inactive {
          display: none !important;
        }
      }
    }
  }

  @media #{$screen-max-sm} {
    &__our-investors {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }

      &__carousels {
        margin-top: 64px;

        &__top {
          height: auto;
        }
      }
    }
  }
}
