@import '../../../styles/main';

.Footer {
  &__our-investors-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: $c_black;
  }

  &__our-investors {
    @extend %container;

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;

    &__title {
      font-family: $font-primary;
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0;
      color: $c_white;
      text-align: center;
    }

    &__carousel {
      --our-investors-carousel-gap: 16px;

      display: flex;
      max-width: 1440px;
      margin-top: 32px;
      overflow: hidden;
      user-select: none;
      gap: var(--our-investors-carousel-gap);

      &__content {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        min-width: 100%;
        animation: our-investors-horizontal-scroll-animation 100s linear infinite;
        animation-play-state: running;
        gap: 24px;

        &--paused {
          animation-play-state: paused;
        }
      }

      &__list-item {
        display: grid;
        width: 182px;
        place-items: center;

        &__icon--active {
          display: none !important;
        }

        &__icon--inactive {
          display: block !important;
        }

        &:hover {
          .Footer__our-investors__carousel__list-item__icon--active {
            display: block !important;
          }

          .Footer__our-investors__carousel__list-item__icon--inactive {
            display: none !important;
          }
        }
      }
    }
  }

  @media #{$screen-max-md} {
    &__our-investors__carousel__content {
      &--paused {
        animation-play-state: running;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__our-investors {
      &__title {
        font-size: 24px;
        line-height: 32px;
      }

      &__carousel__content {
        gap: 0;
      }
    }
  }
}

@keyframes our-investors-horizontal-scroll-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--our-investors-carousel-gap)));
  }
}
