@import '../../styles/main.scss';

.RolesPage {
  &__hero-paragraph {
    padding-bottom: 60px;
  }
}

.RoleOverview__Wrapper {
  padding: 140px 10px 0;
  background-color: $c_white;
}

@media #{$screen-sm} {
  .RoleOverview__Wrapper {
    padding: 140px 20px 0;
  }
}

@media #{$screen-md} {
  .RoleOverview__Wrapper {
    padding: 120px 0 0 66px;
  }
}
