@import "../../styles/_main";
@import "../../styles/common/colors";
@import "../../styles/common/variables";

.GlossaryCard {
  max-width: (535px);
  padding: 24px;
  background-color: $c_ebony-clay;
  border-radius: 4px;
  gap: 16px;
  cursor: pointer;

  &__title {
    //styleName: h7;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    color: white;
    text-align: left;
  }

  &__content {
    margin-top: 8px;
    //styleName: Base 4;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: $c_grayc-chateau;
    text-align: left;
    max-height: 4em;
    overflow: hidden;
  }
}
