@import '../../../styles/main';

.BecomeFM {
  &__wrapper {
    background-color: $c_black;
  }

  &__title__wrapper {
    width: 818px;
    margin: auto;
    padding-top: 120px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 818px;
    margin: auto;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 40px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: $c_white;
  }

  &__howto-wrapper {
    padding: 150px 0;
    background-color: white;
  }

  &__howto {
    &__title {
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0;
    }

    &__number-steps-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      margin-right: 30px;
    }

    &__number-steps {
      display: flex;
      align-items: center;
      flex-direction: column;

      &--animated {
        & > div:nth-child(1) {
          animation: animate-circle 1s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(2) {
          animation: animate-separator 1s;
          animation-delay: 1s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(3) {
          animation: animate-circle 1s;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(4) {
          animation: animate-separator 1s;
          animation-delay: 3s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(5) {
          animation: animate-circle 1s;
          animation-delay: 4s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(6) {
          animation: animate-separator 1s;
          animation-delay: 5s;
          animation-fill-mode: forwards;
        }

        & > div:nth-child(7) {
          animation: animate-circle 1s;
          animation-delay: 6s;
          animation-fill-mode: forwards;
        }
      }
    }

    &__number-step {
      display: grid;
      width: 64px;
      height: 64px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      color: $c_blue-ribbon;
      background-color: #e0e1ff;
      border-radius: 50%;
      place-items: center;

      &--active {
        color: white;
        background-color: $c_blue-ribbon;
      }
    }

    &__number-step-separator {
      width: 2px;
      height: 100px;
      margin: 16px 0;
      background: linear-gradient(to left, #dee3e9 50%, $c_blue-ribbon 50%) right;
      background-size: 200%;

      &--long {
        height: 128px;
      }
    }

    &__text-steps {
      display: grid;
      margin-top: 32px;
      column-gap: 30px;
      grid-template-columns: repeat(4, 290px);
    }

    &__text-step {
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
    }
  }

  &__number-step {
    display: flex;
    align-items: flex-start;

    &__number__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__number {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      min-width: 64px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      color: $c_white;
      background: $c_blue-ribbon;
      border-radius: 50%;

      &--white {
        color: $c_blue-ribbon;
        background: $c_white;
      }
    }

    &__line {
      width: 2px;
      height: 100px;
      margin-top: 16px;
      background: $c_blue-ribbon;
    }

    &__line-half-blue {
      width: 2px;
      height: 80px;
      margin-top: 16px;
      background: $c_blue-ribbon;
    }

    &__line-half-white {
      width: 2px;
      height: 50px;
      background: $c_white;
    }

    &__texts {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-bottom: 8px;
      margin-left: 24px;
      font-family: $font-primary;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      color: $c_white;
    }

    &__other-text {
      margin-bottom: 64px;
      margin-left: 24px;
      font-family: $font-primary;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0;
      color: $c_oslo-gray;
    }
  }

  &__link-wrapper {
    width: fit-content;
    margin-top: 32px;
  }

  @media #{$screen-max-md} {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 40px;

    &__content {
      width: 85%;
    }

    &__title {
      margin: 20px 0;
    }
  }

  @media #{$screen-max-sm} {
    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &__icon {
      display: none;
    }

    &__icon-alt {
      display: block;
    }
  }

  @media (max-width: 500px) {
    &__content {
      width: 300px;
    }
  }
}
