@import '../../../styles/main';

.backers {
  hr {
    margin: 24px 0;
    border-bottom: 1px solid var(--border-default-default-alpha, rgba(203, 224, 241, .27));
  }

  .cardList {
    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $font-ibm-sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: .09px;
      color: var(--text-default-strong, #f4f6f8);
    }

    div.grid {
      display: grid;
      gap: 24px;
      grid-template-columns: repeat(6, auto);

      img {
        flex: 1;
        padding: 8px;
        background: var(--background-default-muted-default, #0f1114);
        border-radius: 8px;
        justify-self: stretch;
      }
    }
  }

  .coindesk {
    .left {
      .first-title {
        /* Desktop / Heading / H100 */
        font-family: $font-ibm-sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 133.333% */
        letter-spacing: .84px;
        color: var(--accent-300, #6c6cff);
        text-transform: uppercase;
        font-feature-settings: 'clig' off, 'liga' off;
      }

      .first-button {
        margin-top: 8px;
        padding: 24px;
        border: 1px solid rgba(163, 195, 242, .19);
        border-radius: 12px;
      }

      .second-title {
        /* Desktop / Heading / H500 */
        font-family: $font-ibm-sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        color: var(--solid-white, #fff);
        font-feature-settings: 'clig' off, 'liga' off;
      }

      .second-content {
        /* Desktop/Text/T300 Regular */
        font-family: $font-secondary;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        color: var(--neutral-300, #a7aeb7);
        font-feature-settings: 'clig' off, 'liga' off;
      }

      .read-detail {
        /* Desktop/Text/T300 Strong */
        font-family: $font-secondary;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        color: var(--accent-300, #6c6cff);
        font-feature-settings: 'clig' off, 'liga' off;
      }
    }

    .right {
      .first-title {
        /* Desktop / Heading / H400 */
        font-family: $font-ibm-sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
        letter-spacing: .09px;
        color: var(--text-default-strong, #f4f6f8);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
      }

      .second-title {
        /* Desktop / Heading / H800 */
        font-family: $font-ibm-sans;
        font-size: 55px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 116.364% */
        letter-spacing: -.275px;
        color: var(--solid-white, #fff);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
      }

      .value {
        /* Desktop/Text/T400 Regular */
        font-family: $font-secondary;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 152.381% */
        color: var(--text-default-default, #b5c1c9);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
      }
    }
  }

  .border-background {
    background: var(--background-default-muted-alpha, rgba(188, 213, 250, .08));
    border-radius: 8px;
  }

  .flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-start {
    align-items: flex-start;
  }

  .items-center {
    align-items: center;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .gap-16 {
    gap: 16px;
  }

  .gap-24 {
    gap: 24px;
  }

  .p-32 {
    padding: 32px;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .h-100 {
    height: 100%;
  }

  @media (max-width: 1023px) {
    .including-grid {
      grid-template-columns: repeat(3, auto) !important;
    }

    .coindesk {
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .including-grid {
      grid-template-columns: repeat(2, auto) !important;
    }

    .coindesk .left {
      flex-direction: column;
    }
  }
  @media (max-width: 424px) {
    .including-grid {
      grid-template-columns: auto !important;
    }
  }
}
