@import '../../../styles/main';

.dashboard-section-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $dashboard-base-border-color;
  scroll-margin-top: calc(32px + $dashboard-header-height);

  &__heading {
    @include h500;

    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  &__button-copy-link {
    @include t300;
    @include dashboard-buttons-states;

    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: $dashboard-content-base-text-color;
    cursor: pointer;
    border-radius: 2px;
    font-feature-settings: $dashboard-font-feature-settings;

    &_text {
      display: none;
    }

    &_icon {
      margin-left: 8px;
    }
  }

  &__tooltip {
    position: absolute;
    right: 0;
    bottom: calc(100% + 8px);
    padding: 8px;
    background-color: $dashboard-section-header-tooltip-background-color;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .12), 0px 4px 4px 0px rgba(0, 0, 0, .1);
    transition: visibility .3s linear, opacity .3s linear;
    transition-delay: .1s;

    &.is-link-copied-tooltip-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tooltip-text {
    @include t100;

    color: $dashboard-content-base-text-color;
    font-feature-settings: $dashboard-font-feature-settings;
  }

  @media #{$screen-min-dashboard-xs} {
    &__heading {
      @include h600;
    }
  }

  @media #{$screen-min-dashboard-sm} {
    &__button-copy-link {
      &_short-text {
        display: none;
      }

      &_text {
        display: block;
      }
    }
  }

  @media #{$screen-min-dashboard-md} {
    & {
      margin-bottom: 24px;
      padding-bottom: 24px;
    }

    &__heading {
      @include h700;
    }
  }
}
