@import '../../styles/main';

.Banner-wrapper {
  position: relative;
  z-index: 6;
  background-color: #111316;

  &--light {
    background-color: $c_blue-ribbon;
  }
}

.Banner {
  @extend %largeContainer;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background-color: #111316;

  &--light {
    background-color: $c_blue-ribbon;
  }

  &__reminder {
    display: flex;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #f2f5f9;
    text-align: center;

    &--light {
      color: #e0e1ff;
    }

    &__bell {
      height: 24px;
      margin-right: 10px;
      fill: #f2f5f9;

      &--light {
        fill: #e0e1ff;
      }
    }
  }

  &__read-more {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: $c_white;
    text-align: left;

    &__arrow {
      margin-bottom: -4px;
      margin-left: 13px;
      transform: rotate(-90deg) scale(.75);
    }
  }
}
