@import '../../../styles/main';

.TokensPage {
  &__cashouts-wrapper {
    padding: 150px 0;
    background-color: $c_catskill-white;
  }

  &__cashouts {
    @extend %container;

    display: flex;
    flex-direction: column;

    &__title {
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0;
    }

    &__subtitle {
      margin: 16px 0 80px 0;
      font-family: $font-secondary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: #5c6475;
    }
  }

  &__cashout {
    display: grid;
    height: 304px;
    min-width: 395px;
    grid-template-rows: 100px auto 60px;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      background-color: $c_blue-ribbon;
    }

    &__address-label {
      font-family: $font-primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: white;
    }

    &__address {
      font-family: $font-primary;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      color: white;
    }

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 16px;
      background-color: $c_white;
    }

    &__label {
      font-family: $font-secondary;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -.4000000059604645px;
      color: #5c6475;
    }

    &__value {
      font-family: $font-primary;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      color: $c_blue-ribbon;

      &--small {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      padding: 0 28px 0 16px;
      background-color: $c_white;
    }
  }

  @media #{$screen-max-md} {
    &__cashouts-wrapper {
      padding: 80px 0;
    }

    &__cashouts {
      padding: 0 20px;
    }

    &__cashout {
      min-width: 320px;
    }
  }

  @media #{$screen-max-sm} {
    &__cashouts {
      &__title {
        font-size: 40px;
        line-height: 48px;
      }

      &__subtitle {
        margin-bottom: 40px;
      }
    }
  }
}
