@import '../../styles/main';

.Banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: $c_blue-ribbon;

  &--error {
    background-color: $c_raspberry;
  }

  &__text {
    font-family: $font-primary;
    color: $c_white;
  }

  &__link {
    font-family: $font-primary;
    color: $c_white;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}
