@import '../../../../styles/main';

.FoundingMembersPage {
  &__take-part {
    position: absolute;
    right: 0;
    bottom: -350px;
    left: 0;
    display: grid;
    width: 1242px;
    height: 760px;
    margin: 0 auto;
    padding: 120px 110px;
    overflow: hidden;
    background-color: #000;
    grid-template-columns: 1fr 1fr;

    &__title {
      width: 394px;
      font-family: $font-primary;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0;
      color: white;
    }

    &__number-steps {
      position: relative;

      ul {
        margin: 16px 0 19px 58px;
      }

      li {
        margin: 0;
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.4000000059604645px;
        color: #a7aeb7;
        list-style: inside;
      }

      .line {
        position: absolute;
        top: 32px;
        left: 19px;
        height: 380px;
        border-left: 4px dotted #81858d;
      }
    }

    &__number-steps div:nth-of-type(3) {
      margin-top: 8px;
    }

    &__number-steps div:nth-of-type(5),
    &__number-steps div:nth-of-type(6) {
      margin-top: 12px;
    }

    &__join-button {
      width: 240px;
      height: 60px;
      margin: 40px 40px 0 0;
    }

    &__excluded-text {
      display: inline-block;
      margin-top: 34px;
      font-family: $font-secondary;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.4000000059604645px;
      color: #a7aeb7;
    }

    &__us-flag {
      margin-bottom: -5px;
      margin-left: 9px;
    }

    &__canada-flag {
      margin-bottom: -5px;
      margin-left: 9px;
    }

    &__tokens {
      position: absolute;
      bottom: -5rem;
      left: -9rem;
    }
  }

  &__number-step {
    display: flex;

    &__number {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      min-width: 42px;
      color: white;
      background: #4038ff;
      border-radius: 50%;
    }

    &__text {
      margin-left: 16px;
      padding-top: 4px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      color: white;
    }

    &__other-text {
      display: none;
      margin-left: 16px;
      padding-top: 4px;
      font-family: $font-primary;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
      color: white;
    }
  }

  @media (max-width: 1300px) {
    &__take-part {
      width: 100%;
      padding: 80px 80px;
    }
  }

  @media #{$screen-max-md} {
    &__take-part {
      bottom: -760px;
      display: flex;
      flex-direction: column;
      padding: 60px 60px;
      grid-template-columns: initial;

      &__title {
        width: 100%;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
      }

      &__tokens {
        right: 0;
        bottom: -7rem;
        left: 0;
        width: 370px;
        height: 250px;
        margin: 0 auto;
      }

      &__join-button,
      &__excluded-text,
      &__us-flag,
      &__canada-flag {
        display: none;
      }

      &__number-steps .line {
        top: 0;
        height: 95%;
      }
    }

    &__number-step {
      &__text {
        display: none;
      }

      &__other-text {
        display: block;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__take-part {
      bottom: -750px;
      height: 750px;

      &__title {
        text-align: left;
      }

      &__number-steps {
        ul {
          margin: 10px 0 16px 20px;
        }
      }
    }

    &__number-step {
      &__other-text {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  @media (max-width: 510px) {
    &__take-part {
      bottom: -950px;
      height: 950px;
    }
  }
}
