@import '../../../../styles/main';

.InterviewSection {
  &__hero-wrapper {
    position: relative;
    margin-bottom: 64px;
    overflow: hidden;
    background-color: $c_white;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    width: 606px;
    margin-bottom: 30px;
    padding: 30px;
    background: $c_white;

    &__full-width {
      width: 1242px;
    }

    &__title {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 546px;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0;
      color: $c_black;
    }

    &__image {
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }

    &__subtitle {
      width: 546px;
      margin-top: 16px;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      color: #5c6475;

      &__full-width {
        width: 1182px;
      }
    }
  }

  @media #{$screen-max-lg} {
    &__hero {
      &__background {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media #{$screen-max-md} {
    &__hero {
      flex-direction: column;

      &__content {
        align-items: center;
      }

      &__title {
        font-size: 60px;
      }

      &__subtitle {
        max-width: 654px;
      }

      &__background {
        width: 600px;
        margin: 0 auto;
      }
    }
  }

  @media #{$screen-max-sm} {
    &__hero {
      height: 550px;
      padding: 32px 20px 0 20px;

      &__background {
        width: 500px;
      }

      &__title {
        max-width: 500px;
        font-size: 32px;
        line-height: 40px;

        br {
          display: none;
        }
      }

      &__subtitle {
        max-width: 500px;
      }
    }
  }

  @media (max-width: 500px) {
    &__hero {
      &__background {
        width: 100%;
      }
    }
  }
}
