@import '../../../styles/main';

.ChatIntegrator {
  &__wrapper {
    background-color: $c_black;
  }

  &__title__wrapper {
    width: 818px;
    margin: auto;
    padding-top: 120px;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1030px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 80px;
  }

  &__link-wrapper {
    width: fit-content;
    text-align: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__link-text {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: $c_blue-ribbon;
  }

  &__link-arrow {
    margin-left: 13px;
    color: $c_blue-ribbon;
    transform: rotate(-90deg) scale(.85);
  }

  &__discord-widget {
    width: 100%;
    height: 580px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: $font-primary;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: $c_white;
    text-align: center;
  }

  &__subtitle {
    align-items: center;
    justify-content: center;
    width: 720px;
    margin: auto;
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: $c_oslo_gray;
    text-align: center;

    &--caption {
      margin-top: 10px;
      margin-bottom: 80px;
      font-size: 14px;
      line-height: 20px;
    }

    &--example-message {
      margin-bottom: 80px;
      font-style: italic;
      color: $c_white;
    }
  }

  @media #{$screen-max-md} {
    &__title__wrapper {
      width: calc(90vw);
      padding: 0;
      padding-top: 80px;
    }

    &__title {
      width: calc(90vw);
      text-align: left;
    }

    &__link-wrapper {
      width: calc(90vw);
      text-align: left;
    }

    &__subtitle {
      width: calc(90vw);
      text-align: left;
    }

    &__content {
      width: calc(90vw);
    }
  }
}
